<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.rcp.wizards.functions.FunctionWizardFactory" name="FunctionWizardFactory" schema="schema/eu.esdihumboldt.hale.rcp.wizards.functions.FunctionWizardFactory.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.task.TaskProvider" name="TaskProvider" schema="schema/eu.esdihumboldt.hale.task.TaskProvider.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.MappingExport" name="MappingExport" schema="schema/eu.esdihumboldt.hale.MappingExport.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.esdihumboldt.hale.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.default.name"
            class="eu.esdihumboldt.hale.rcp.DefaultPerspective"
            id="eu.esdihumboldt.hale.rcp.perspective.Default">
      </perspective>
      <perspective
            class="eu.esdihumboldt.hale.rcp.DataPerspective"
            id="eu.esdihumboldt.hale.rcp.perspective.Data"
            name="%perspective.data.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.esdihumboldt.hale.rcp.views.map.MapView"
            icon="icons/map.gif"
            id="eu.esdihumboldt.hale.rcp.views.map.MapView"
            name="%view.map.name">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.tasks.TaskTreeView"
            icon="icons/tasks.gif"
            id="eu.esdihumboldt.hale.rcp.views.tasks.TaskTreeView"
            name="%view.tasks.name">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.model.ModelNavigationView"
            icon="icons/schema.gif"
            id="eu.esdihumboldt.hale.rcp.views.model.ModelNavigationView"
            name="%view.schemaExplorer.name">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.model.attribute.AttributeView"
            icon="icons/attribute.gif"
            id="eu.esdihumboldt.hale.rcp.views.model.AttributeView"
            name="%view.attribute.name">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.table.ReferenceTableView"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.rcp.views.ReferenceTable"
            name="%view.referenceTable.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="eu.esdihumboldt.hale.rcp.views.mapping.MappingView"
            icon="icons/mapping.gif"
            id="eu.esdihumboldt.hale.rcp.views.mapping.MappingView"
            name="%view.mapping1.name"
            restorable="true">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.table.TransformedTableView"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.rcp.views.TransformedTable"
            name="%view.transformedTable.name"
            restorable="true">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.mappingGraph.MappingGraphView"
            id="eu.esdihumboldt.hale.rcp.views.mappingGraph"
            name="Mapping Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.ui.newWizard"
            name="createWizard">
         <commandParameter
               id="sourceAttributeID"
               name="sourceAttributeName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="targetAttributeID"
               name="targetAttributeName"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.LoadSchemaHandler"
            description="%command.loadSchema.description"
            id="HALE.loadSchema.command"
            name="%command.loadSchema.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.OpenProjectHandler"
            description="%command.openProject.description"
            id="HALE.openProject.command"
            name="openProject">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.ExitHandler"
            description="%command.exit.description"
            id="HALE.exit.command"
            name="exit">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.LoadInstanceDataHandler"
            id="HALE.openInstanceData.command"
            name="%command.openSource.name">
      </command>
      <command
            id="HALE.openReferenceData.command"
            name="%command.openReference.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.SaveAlignmentProjectHandler"
            id="HALE.saveAlignmentProjectAs.command"
            name="%command.saveProject.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.SaveMappingCommandHandler"
            id="HALE.saveMappingAs.command"
            name="%command.saveMapping.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.FunctionWizardHandler"
            description="%command.selectWizard.description"
            id="eu.esdihumboldt.hale.rcp.wizards.io.FunctionWizard"
            name="FunctionWizard">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.NewProjectHandler"
            id="HALE.newProject.command"
            name="%command.newProject.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.ImportMappingHandler"
            id="HALE.importMapping.command"
            name="%command.importMapping.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.ListFunctionsHandler"
            id="HALE.listFunctions.command"
            name="%command.listFunctions.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.ShowHandbookHandler"
            id="eu.esdihumboldt.hale.ShowManual"
            name="%command.showManual.name">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.NetworkSettingsHandler"
            id="HALE.networkSettings.command"
            name="Network Settings...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="%menu.file.label"
               mnemonic="%menu.file.mnemonic">
            <command
                  commandId="HALE.newProject.command"
                  icon="icons/new.gif"
                  id="newProject"
                  label="%command.newproject.label"
                  style="push">
            </command>
            <command
                  commandId="HALE.openProject.command"
                  icon="icons/open.gif"
                  id="openProject"
                  label="%command.openProject.label"
                  style="push">
            </command>
            <command
                  commandId="HALE.loadSchema.command"
                  id="loadSchema"
                  label="%command.openSchema.label"
                  style="push"
                  tooltip="%command.openSchema.tooltip">
            </command>
            <command
                  commandId="HALE.importMapping.command"
                  label="%command.importMapping.label"
                  style="push">
            </command>
            <command
                  commandId="HALE.openInstanceData.command"
                  id="openInstanceData"
                  label="%command.openInstanceData.label"
                  style="push"
                  tooltip="%command.openInstanceData.tooltip">
            </command>
            <separator
                  name="HALE.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="HALE.saveAlignmentProjectAs.command"
                  icon="icons/saveas.gif"
                  id="saveAlignmentProjectAs"
                  label="%command.saveProject.label"
                  style="push">
            </command>
            <command
                  commandId="HALE.saveMappingAs.command"
                  id="saveMappingAs"
                  label="%command.saveMapping.label"
                  style="push">
            </command>
            <separator
                  name="HALE.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="HALE.exit.command"
                  id="exit"
                  label="%command.exit.label"
                  style="push">
            </command>
         </menu>
         <menu
               id="configure"
               label="%menu.configure.label"
               mnemonic="%menu.configure.mnemonic">
            <command
                  commandId="HALE.listFunctions.command"
                  id="listFunctions"
                  label="%command.availableFunctions.label"
                  style="push">
            </command>
            <menu
                  id="configureTasks"
                  label="%menu.tasks.label">
               <dynamic
                     class="eu.esdihumboldt.hale.rcp.views.tasks.TaskProviderMenu"
                     id="HALE.dynamic.tasks">
               </dynamic>
            </menu>
            <command
                  commandId="HALE.networkSettings.command"
                  id="networkSettings"
                  label="Network Settings..."
                  style="push">
            </command>
            <separator
                  name="eu.esdihumboldt.hale.configure.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Other settings..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=configure">
         <menu
               id="help"
               label="%menu.help.label"
               mnemonic="%menu.help.mnemonic">
            <command
                  commandId="eu.esdihumboldt.hale.ShowManual"
                  id="ShowManual"
                  label="%command.showManual.label"
                  mnemonic="s"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="HALE.toolbar.main">
            <command
                  commandId="HALE.newProject.command"
                  icon="icons/new.gif"
                  label="%command.newProject.label"
                  style="push">
            </command>
            <command
                  commandId="HALE.openProject.command"
                  icon="icons/open.gif"
                  id="openProject"
                  label="%command.openProject.label"
                  style="push">
            </command>
            <command
                  commandId="HALE.saveAlignmentProjectAs.command"
                  icon="icons/saveas.gif"
                  id="saveAlignmentProjectAs"
                  label="%command.saveProject.label"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.rcp.services.HaleServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.models.InstanceService"></service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.SchemaService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.TaskService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.StyleService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.AlignmentService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.ProjectService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.utils.SchemaItemService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.rcp.views.table.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.rcp.views.table.ReferenceSampleService">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.rcp.utils.definition.internal.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.rcp.utils.definition.DefinitionLabelFactory"></service>
         <service
               serviceClass="eu.esdihumboldt.hale.rcp.utils.definition.AttributeEditorFactory">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.rcp.utils.codelist.internal.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.rcp.utils.codelist.CodeListService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.esdihumboldt.hale.rcp.HaleSplashHandler"
            id="HALE.splashHandler">
      </splashHandler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.esdihumboldt.hale.application"
            name="HUMBOLDT Alignment Editor">
         <property
               name="appName"
               value="HUMBOLDT Alignment Editor">
         </property>
         <property
               name="windowImages"
               value="icons/hale_icon.png">
         </property>
      </product>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.task.TaskProvider">
      <tasks
            class="eu.esdihumboldt.hale.task.providers.schema.SourceMappingTaskProvider"
            defaultEnabled="true"
            description="%tasks.sourceMappingTaskProvider.description"
            id="eu.esdihumboldt.hale.task.schema.SourceMappingTaskProvider"
            name="%tasks.sourceMappingTaskProvider.name">
      </tasks>
      <tasks
            class="eu.esdihumboldt.hale.task.providers.schema.TargetMappingTaskProvider"
            defaultEnabled="false"
            description="%tasks.targetMappingTaskProvider.description"
            id="eu.esdihumboldt.hale.task.schema.TargetMappingTaskProvider"
            name="%tasks.targetMappingTaskProvider.name">
      </tasks>
      <tasks
            class="eu.esdihumboldt.hale.task.providers.schema.NilAttributeTaskProvider"
            defaultEnabled="true"
            description="%tasks.nilWarningsTaskProvider.description"
            id="eu.esdihumboldt.hale.task.schema.NilAttributeTaskProvider"
            name="%tasks.nilWarningsTaskProvider.name">
      </tasks>
      <tasks
            class="eu.esdihumboldt.hale.task.providers.schema.geometry.SchemaSetNoGeometryTaskProvider"
            defaultEnabled="true"
            id="eu.esdihumboldt.hale.task.schema.NoGeometry"
            name="FeatureType geometry check">
      </tasks>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.esdihumboldt.hale.task.preferences.TaskPreferenceInitializer">
      </initializer>
      <initializer
            class="eu.esdihumboldt.hale.models.style.StylePreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.esdihumboldt.hale.rcp.utils.codelist.internal.CodeListPreferencePage"
            id="eu.esdihumboldt.hale.page.preferences.codelist"
            name="Code lists">
      </page>
      <page
            class="eu.esdihumboldt.hale.models.style.StylePreferencePage"
            id="eu.esdihumboldt.hale.page.preferences.style"
            name="Default styles">
      </page>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.MappingExport">
      <MappingExportFactory
            description="RDF Ontology Mapping Language encoding"
            extension="*.goml"
            name="RDF OML"
            providerClass="eu.esdihumboldt.hale.rcp.wizards.io.mappingexport.OmlMappingExportProvider">
      </MappingExportFactory>
      <MappingExportFactory
            extension="*.xslt"
            name="XSLT"
            providerClass="eu.esdihumboldt.hale.rcp.wizards.io.mappingexport.XsltMappingExportProvider">
      </MappingExportFactory>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="eu.esdihumboldt.hale.rcp.wizards.io.SchemaImportWizard"
            icon="icons/sample.gif"
            id="eu.esdihumboldt.hale.rcp.wizards.io.SchemaImportWizard"
            name="Import Schema">
         <description>
            Import a schema from the local file system or from a remote service into the schema explorer.
         </description>
      </wizard>
   </extension> -->

</plugin>
