<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.annotation">
      <annotation
            descriptor="eu.esdihumboldt.hale.common.align.io.TestAnnotationDescriptor"
            type="test">
      </annotation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.align.io.TestAnnotationDescriptor"
            id="eu.esdihumboldt.hale.common.align.test.complexValue"
            name="comment"
            namespace="http://www.esdi-humboldt.eu/hale/test"
            type="eu.esdihumboldt.hale.common.align.io.TestAnnotation">
      </complexValue>
   </extension>

</plugin>
