<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.project">
      <action-file
            name="styles.sld">
         <load
               action="eu.esdihumboldt.hale.ui.style.load">
         </load>
         <save
               action="eu.esdihumboldt.hale.ui.style.save"
               provider="eu.esdihumboldt.hale.ui.style.save.sld">
         </save>
      </action-file>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            id="eu.esdihumboldt.hale.ui.style.load"
            name="Load styles"
            type="eu.esdihumboldt.hale.common.style.io.StyleReader">
      </action>
      <action
            id="eu.esdihumboldt.hale.ui.style.save"
            name="Save styles"
            type="eu.esdihumboldt.hale.common.style.io.StyleWriter">
      </action>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.common.style.io.impl.SLDStyleReader"
            id="eu.esdihumboldt.hale.ui.style.load.sld"
            name="Styled Layer Descriptor">
         <contentType
               ref="eu.esdihumboldt.hale.io.sld">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.style.io.impl.SLDStyleWriter"
            id="eu.esdihumboldt.hale.ui.style.save.sld"
            name="Styled Layer Descriptor">
         <contentType
               ref="eu.esdihumboldt.hale.io.sld">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="sld,xml"
            id="eu.esdihumboldt.hale.io.sld"
            name="Styled Layer Descriptor"
            priority="normal">
      </content-type>
   </extension>

</plugin>
