<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Set as default geometry property"
            id="eu.esdihumboldt.hale.ui.geometry.setAsDefault"
            name="Set as default geometry">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="eu.esdihumboldt.hale.ui.geometry.setAsDefault"
            icon="icons/default_geometry.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.esdihumboldt.hale.ui.geometry.handler.SetDefaultGeometryHandler"
            commandId="eu.esdihumboldt.hale.ui.geometry.setAsDefault">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           property="eu.esdihumboldt.hale.ui.geometry.allow_set_default">
                     </test>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="eu.esdihumboldt.hale.ui.geometry.setAsDefault"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.esdihumboldt.hale.ui.geometry.tester.GeometryTester"
            id="eu.esdihumboldt.hale.ui.geometry"
            namespace="eu.esdihumboldt.hale.ui.geometry"
            properties="allow_set_default"
            type="eu.esdihumboldt.hale.common.align.model.EntityDefinition">
      </propertyTester>
   </extension>

</plugin>
