<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            allowDuplicate="false"
            class="eu.esdihumboldt.hale.io.deegree.mapping.MappingSchemaWriter"
            description="Creates a deegree SQL FeatureStore configuration for the schema"
            id="eu.esdihumboldt.hale.io.deegree.mapping.schema"
            name="deegree SQL mapping">
         <contentType
               ref="eu.esdihumboldt.hale.io.deegree.mapping">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="eu.esdihumboldt.hale.io.deegree.mapping"
            name="deegree SQL FeatureStore configuration"
            priority="normal">
      </content-type>
   </extension>

</plugin>
