<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.instance.orient.OInstance">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.instance.orient.storage.DatabaseHandle$InstanceHandle">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.instance.orient.storage.DatabaseHandle$GroupHandle">
      </allow>
   </extension>

</plugin>
