<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.wfs.SimpleWFSWriter"
            description="Upload to a remote service via WFS-T"
            id="eu.esdihumboldt.hale.io.wfs.write"
            name="WFS-T (Direct upload) [experimental]">
         <contentType
               ref="eu.esdihumboldt.hale.io.wfs-t">
         </contentType>
         <providerParameter
               label="WFS Version"
               name="wfsVersion"
               optional="false">
            <parameterEnumeration>
               <enumerationValue
                     value="1.1.0">
               </enumerationValue>
               <enumerationValue
                     value="2.0.0">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  sample="2.0.0">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Prefix to use for all CRS codes based on EPSG in geometry srsNames."
               label="Custom EPSG prefix"
               name="crs.epsg.prefix"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default the CRS code is not modified."
                  sample="http://www.opengis.net/def/crs/EPSG/0/"
                  sampleDescription="Make sure that all SRS names use this kind of notation. The EPSG code number is appended to the provided parameter to build the SRS name.">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Target coordinate reference system the data should be transformed to."
               label="Target CRS"
               name="crs"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default no CRS transformation is performed, the existing geometries are written with their respective CRS."
                  sample="code:EPSG:4326"
                  sampleDescription="Reference systems can be defined either as code or WKT (preceded with code: or wkt: respectively)">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Unifiying the winding order of geometries, before writing them"
               label="Unification of winding order"
               name="geometry.unifyWindingOrder"
               optional="true">
            <parameterEnumeration>
               <enumerationValue
                     value="clockwise">
               </enumerationValue>
               <enumerationValue
                     value="counterClokwise">
               </enumerationValue>
               <enumerationValue
                     value="noChange">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  default="counterClockwise"
                  defaultDescription="By default, counterClockwise is set for WFS-T instance"
                  sample="clockwise, noChange"
                  sampleDescription="Unifying order can be set as Clockwise or no change in order (clockwise or noChange respectively).">
            </valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.wfs.file.WFS2FCWriter"
            id="eu.esdihumboldt.hale.io.wfs.fc.write-2.0"
            name="GML (WFS 2.0 FeatureCollection)">
         <contentType
               ref="eu.esdihumboldt.hale.io.gml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.gml.gzip">
         </contentType>
         <providerParameter
               description="Prefix to use for all CRS codes based on EPSG in geometry srsNames."
               label="Custom EPSG prefix"
               name="crs.epsg.prefix"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default the CRS code is not modified."
                  sample="http://www.opengis.net/def/crs/EPSG/0/"
                  sampleDescription="Make sure that all SRS names use this kind of notation. The EPSG code number is appended to the provided parameter to build the SRS name.">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Target coordinate reference system the data should be transformed to."
               label="Target CRS"
               name="crs"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default no CRS transformation is performed, the existing geometries are written with their respective CRS."
                  sample="code:EPSG:4326"
                  sampleDescription="Reference systems can be defined either as code or WKT (preceded with code: or wkt: respectively)">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Unifiying the winding order of geometries, before writing them"
               label="Unification of winding order"
               name="geometry.unifyWindingOrder"
               optional="true">
            <parameterEnumeration>
               <enumerationValue
                     value="clockwise">
               </enumerationValue>
               <enumerationValue
                     value="counterClokwise">
               </enumerationValue>
               <enumerationValue
                     value="noChange">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  default="counterClockwise"
                  defaultDescription="By default, counterClockwise is set for GML instance"
                  sample="clockwise, noChange"
                  sampleDescription="Unifying order can be set as Clockwise or no change in order (clockwise or noChange respectively).">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="If geometries should be simplified (e.g. a MultiPolygon to a Polygon), if possible, before writing them."
               label="Simplify geometries"
               name="gml.geometry.simplify"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="If the output should be pretty printed (indented)"
               label="Pretty print"
               name="xml.pretty"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="States if a data set feed for an INSPIRE ATOM based Download Service should be created."
               label="Create data set feed"
               name="inspire.sds.create_feed"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Title of the generated ATOM data set feed, if created."
               label="Dataset feed title"
               name="inspire.feed.title"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Subtitle of the generated ATOM data set feed, if created."
               label="Dataset feed subtitle"
               name="inspire.feed.subtitle"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Rights information for the generated ATOM data set feed, if created."
               label="Feed rights information"
               name="inspire.feed.rights"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Author name for the generated ATOM data set feed, if created."
               label="Feed author name"
               name="inspire.feed.author_name"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Author email address for the generated ATOM data set feed, if created."
               label="Feed author email"
               name="inspire.feed.author_mail"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="URL the generated ATOM data set feed will be available on."
               label="URL to dataset feed"
               name="inspire.feed.selflink"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="URL the GML file will be available on as part of the generated ATOM data set feed."
               label="URL to GML file"
               name="inspire.feed.gmllink"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Don&apos;t encode nilReason attributes for elements that are not nil."
               label="Omit unnecessary nilReasons"
               name="xml.notNil.omitNilReason"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true"
                  defaultDescription="By default, nilReason attributes are omitted for elements that are not nil."
                  sample="false">
            </valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.wfs.file.WFS11FCWriter"
            id="eu.esdihumboldt.hale.io.wfs.fc.write-1.1.0"
            name="GML (WFS 1.1.0 FeatureCollection)">
         <contentType
               ref="eu.esdihumboldt.hale.io.gml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.gml.gzip">
         </contentType>
         <providerParameter
               description="Prefix to use for all CRS codes based on EPSG in geometry srsNames."
               label="Custom EPSG prefix"
               name="crs.epsg.prefix"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default the CRS code is not modified."
                  sample="http://www.opengis.net/def/crs/EPSG/0/"
                  sampleDescription="Make sure that all SRS names use this kind of notation. The EPSG code number is appended to the provided parameter to build the SRS name.">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Target coordinate reference system the data should be transformed to."
               label="Target CRS"
               name="crs"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default no CRS transformation is performed, the existing geometries are written with their respective CRS."
                  sample="code:EPSG:4326"
                  sampleDescription="Reference systems can be defined either as code or WKT (preceded with code: or wkt: respectively)">
            </valueDescriptor>
         </providerParameter>
         
         <providerParameter
               description="Unifiying the winding order of geometries, before writing them"
               label="Unification of winding order"
               name="geometry.unifyWindingOrder"
               optional="true">
            <parameterEnumeration>
               <enumerationValue
                     value="clockwise">
               </enumerationValue>
               <enumerationValue
                     value="counterClokwise">
               </enumerationValue>
               <enumerationValue
                     value="noChange">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  default="counterClockwise"
                  defaultDescription="By default, counterClockwise is set for GML instance"
                  sample="clockwise, noChange"
                  sampleDescription="Unifying order can be set as Clockwise or no change in order (clockwise or noChange respectively).">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="If geometries should be simplified (e.g. a MultiPolygon to a Polygon), if possible, before writing them."
               label="Simplify geometries"
               name="gml.geometry.simplify"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true">
            </valueDescriptor>
         </providerParameter>
		<providerParameter
               description="If the output should be pretty printed (indented)"
               label="Pretty print"
               name="xml.pretty"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Don&apos;t encode nilReason attributes for elements that are not nil."
               label="Omit unnecessary nilReasons"
               name="xml.notNil.omitNilReason"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true"
                  defaultDescription="By default, nilReason attributes are omitted for elements that are not nil."
                  sample="false">
            </valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.wfs.PartitioningWFSWriter"
            description="Upload to a remote service via WFS-T"
            id="eu.esdihumboldt.hale.io.wfs.write.partitioned"
            name="WFS-T (Partitioned upload) [experimental]">
         <contentType
               ref="eu.esdihumboldt.hale.io.wfs-t">
         </contentType>
         <providerParameter
               label="WFS Version"
               name="wfsVersion"
               optional="false">
            <parameterEnumeration>
               <enumerationValue
                     value="1.1.0">
               </enumerationValue>
               <enumerationValue
                     value="2.0.0">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  sample="2.0.0">
            </valueDescriptor>
         </providerParameter>
           <providerParameter
               description="Guiding value for instances per request. The number will be exceeded only in cases where there are too many interelated instances that cannot be separated."
               label="Instances per request"
               name="instancesPerRequest"
               optional="true">
            <parameterBinding
                  class="java.lang.Integer">
            </parameterBinding>
            <valueDescriptor
                  default="15000"
                  defaultDescription="By default it will be tried to send 15000 instances per request."
                  sample="1000">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Prefix to use for all CRS codes based on EPSG in geometry srsNames."
               label="Custom EPSG prefix"
               name="crs.epsg.prefix"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default the CRS code is not modified."
                  sample="http://www.opengis.net/def/crs/EPSG/0/"
                  sampleDescription="Make sure that all SRS names use this kind of notation. The EPSG code number is appended to the provided parameter to build the SRS name.">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Target coordinate reference system the data should be transformed to."
               label="Target CRS"
               name="crs"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="By default no CRS transformation is performed, the existing geometries are written with their respective CRS."
                  sample="code:EPSG:4326"
                  sampleDescription="Reference systems can be defined either as code or WKT (preceded with code: or wkt: respectively)">
            </valueDescriptor>
         </providerParameter>
                <providerParameter
               description="Unifiying the winding order of geometries, before writing them"
               label="Unification of winding order"
               name="geometry.unifyWindingOrder"
               optional="true">
            <parameterEnumeration>
               <enumerationValue
                     value="clockwise">
               </enumerationValue>
               <enumerationValue
                     value="counterClokwise">
               </enumerationValue>
               <enumerationValue
                     value="noChange">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  default="counterClockwise"
                  defaultDescription="By default, counterClockwise is set for WFS-T instance"
                  sample="clockwise, noChange"
                  sampleDescription="Unifying order can be set as Clockwise or no change in order (clockwise or noChange respectively).">
            </valueDescriptor>
         </providerParameter>
         
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="eu.esdihumboldt.hale.io.wfs-t"
            name="WFS-T"
            priority="normal">
      </content-type>
   </extension>

</plugin>
