<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.RootElementPage">
         <provider
               ref="eu.esdihumboldt.hale.io.xml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.xslt">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.SpatialDataSetConfigurationPage">
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.ui.io.config.TargetCRSConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.xml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.citygml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.gml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.InspireDatasetFeedConfigurationPage"
            order="1">
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-2.0">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.GmlWriterSettingsPage"
            order="10">
         <provider
               ref="eu.esdihumboldt.hale.io.xml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.citygml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.gml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.GmlReaderSettingsPage"
            order="10">
         <provider
               ref="eu.esdihumboldt.hale.io.xml.reader">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.gml.reader">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.PartitionConfigurationPage"
            order="11">
         <provider
               ref="eu.esdihumboldt.hale.io.gml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-1.1.0">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-2.0">
         </provider>
      </configPage>
   </extension>

</plugin>
