<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.RootElementPage">
         <provider
               ref="eu.esdihumboldt.hale.io.xml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.xslt">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.SpatialDataSetConfigurationPage">
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.ui.io.config.TargetCRSConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.xml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.citygml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.gml.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.inspiregml.writer">
         </provider>
      </configPage>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.source">
      <source
            class="eu.esdihumboldt.hale.io.gml.ui.wfs.WFSDescribeFeatureSource"
            contentType="eu.esdihumboldt.hale.io.xsd"
            description="Load a XML schema using a WFS DescribeFeatureType request"
            icon="icons/service.gif"
            id="eu.esdihumboldt.hale.io.gml.ui.source.wfs.schema"
            name="WFS"
            priority="0">
      </source>
      <source
            class="eu.esdihumboldt.hale.io.gml.ui.wfs.WFSGetFeatureSource"
            contentType="eu.esdihumboldt.hale.io.gml"
            description="Load GML data using a WFS GetFeature request"
            icon="icons/service.gif"
            id="eu.esdihumboldt.hale.io.gml.ui.source.wfs.instance"
            name="WFS"
            priority="0">
      </source>
   </extension>

</plugin>
