<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
         introId="org.eclipse.ui.intro.universal"
         productId="eu.esdihumboldt.hale.ui.application.HALE">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/firststeps.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/firststeps_part2.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            class="org.eclipse.platform.internal.CheatSheetStandbyContent"
            id="eu.esdihumboldt.hale.ui.firststeps.createNewProjectCS"
            pluginId="org.eclipse.platform">
      </standbyContentPart>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="firststeps"
            name="First steps">
      </category>
      <cheatsheet
            category="firststeps"
            composite="false"
            contentFile="$nl$/cheatsheets/createNewProjectCS.xml"
            id="eu.esdihumboldt.hale.ui.firststeps.createNewProjectCS"
            name="Create new project">
         <description>
            Create a new project.
         </description>
      </cheatsheet>
      <cheatsheet
            category="firststeps"
            composite="true"
            contentFile="$nl$/cheatsheets/firststepsCS.xml"
            id="eu.esdihumboldt.hale.ui.firststeps.firststepsCS"
            name="First steps">
         <description>
            Create a new project, import needed schemas, create some mapping and export your results.
         </description>
      </cheatsheet>
      <cheatsheet
            category="firststeps"
            composite="false"
            contentFile="$nl$/cheatsheets/createMappingsCS.xml"
            id="eu.esdihumboldt.hale.ui.firststeps.createMappingsCS"
            name="Create mappings">
         <description>
            Create some mapping (retype / rename).
         </description>
      </cheatsheet>
      <cheatsheet
            category="firststeps"
            composite="false"
            contentFile="$nl$/cheatsheets/createMappingsExampleCS.xml"
            id="eu.esdihumboldt.hale.ui.firststeps.createMappingsExampleCS"
            name="Create mappings on example data">
      </cheatsheet>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.doc.user.examples">
      <example-project
            id="eu.esdihumboldt.hale.ui.firststeps.introexample"
            location="exampleschema/t1t2.halex"
            summary="Basic example project used in the &apos;Get started with hale»studio&apos; guide.">
      </example-project>
   </extension>
</plugin>
