<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.hale.bgis"
            description="The type name of the source object"
            identifier="eu.esdihumboldt.hale.bgis.sourcedesc"
            name="Source object type">
         <targetProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
            </property>
         </targetProperties>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.bgis"
            description="If possible extract the data capture specification from the source object type"
            identifier="eu.esdihumboldt.hale.bgis.capturespec"
            name="Extract capture spec">
         <targetProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
            </property>
         </targetProperties>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="BGIS custom functions"
            id="eu.esdihumboldt.hale.bgis"
            name="BGIS">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.xslt">
      <propertyTransformation
            class="eu.esdihumboldt.hale.functions.bgis.sourcedesc.XslSourceDescription"
            function="eu.esdihumboldt.hale.bgis.sourcedesc"
            id="eu.esdihumboldt.hale.bgis.sourcedesc.xsl">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.functions.bgis.capturespec.XslDataCaptureSpec"
            function="eu.esdihumboldt.hale.bgis.capturespec"
            id="eu.esdihumboldt.hale.bgis.capturespec.xsl">
      </propertyTransformation>
   </extension>

</plugin>
