<dataStore>
  #if( $dataStoreId && !$dataStoreId.empty )
    <id>$dataStoreId</id>
  #end
  <name>$dataStoreName</name>
  <enabled>true</enabled>
  #if( $workspaceId && !$workspaceId.empty )
    <workspace>
      <id>$workspaceId</id>
    </workspace>
  #end
  #if( $connectionParameters )
    <connectionParameters>
      <entry key="dbtype">app-schema</entry>
      <entry key="namespace">$connectionParameters.uri</entry>
      <entry key="url">file:./workspaces/$connectionParameters.workspaceName/$dataStoreName/$connectionParameters.mappingFileName</entry>
    </connectionParameters>
  #end
  <__default>false</__default>
</dataStore>