<featureType>
  #if( $featureTypeId && !$featureTypeId.empty )
    <id>$featureTypeId</id>
  #end
  <name>$featureTypeName</name>
  <nativeName>$featureTypeName</nativeName>
  #if( $namespaceId && !$namespaceId.empty )
    <namespace>
      <id>$namespaceId</id>
    </namespace>
  #end
  <title>$featureTypeName</title>
  <abstract>$featureTypeName</abstract>
  <srs>EPSG:4326</srs>
  <latLonBoundingBox>
      <minx>-180</minx>
      <maxx>180</maxx>
      <miny>-90</miny>
      <maxy>90</maxy>
      <crs>EPSG:4326</crs>
  </latLonBoundingBox>
  <projectionPolicy>FORCE_DECLARED</projectionPolicy>
  <enabled>true</enabled>
  <metadata>
      <entry key="kml.regionateFeatureLimit">10</entry>
      <entry key="indexingEnabled">false</entry>
      <entry key="cachingEnabled">false</entry>
  </metadata>
  #if( $dataStoreId && !$dataStoreId.empty )
    <store class="dataStore">
      <id>$dataStoreId</id>
    </store>
  #end
  <maxFeatures>0</maxFeatures>
  <numDecimals>0</numDecimals>
</featureType>