<layer>
  #if( $layerId && !$layerId.empty )
    <id>$layerId</id>
  #end
  <name>$layerName</name>
  <path>/</path>
  <type>VECTOR</type>
  <defaultStyle>
    <name>generic</name>
  </defaultStyle>
  #if( $featureTypeId && !$featureTypeId.empty )
    <resource class="featureType">
      <id>$featureTypeId</id>
    </resource>
  #end
  <enabled>true</enabled>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layer>