<namespace>
  #if( $namespaceId && !$namespaceId.empty )
    <id>$namespaceId</id>
  #end
  <prefix>$prefix</prefix>
  <uri>$uri</uri>
  #if ($isIsolated == "true")
  <isolated>true</isolated>
  #else
  <isolated>false</isolated>
  #end
</namespace>
