<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.resources.ResourcesView"
            icon="icons/project.gif"
            id="eu.esdihumboldt.hale.ui.views.resources"
            name="Project"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <viewShortcut
               id="eu.esdihumboldt.hale.ui.views.resources">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
