<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.converters">
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToGeometry">
      </converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToPoint"></converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToPolygon"></converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToGeometryCollection">
      </converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToLinearRing">
      </converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToLineString">
      </converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToMultiLineString">
      </converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToMultiPoint">
      </converter>
      <converter
            class="eu.esdihumboldt.hale.common.convert.wkt.StringToMultipolygon">
      </converter>
   </extension>

</plugin>
