<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.align.custom.internal.DefaultCustomPropertyFunctionType"
            id="eu.esdihumboldt.cst.functions.custom.property-function"
            name="custom-property-function"
            namespace="http://www.esdi-humboldt.eu/hale/custom-function"
            type="eu.esdihumboldt.hale.common.align.custom.DefaultCustomPropertyFunction">
      </complexValue>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="Custom defined functions"
            id="eu.esdihumboldt.cst.functions.custom"
            name="Custom">
      </category>
   </extension>

</plugin>
