<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.cst.transformer.CstFunction" name="CstFunction" schema="schema/eu.esdihumboldt.cst.transformer.CstFunction.exsd"/>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.cst.transformer.configuration.osgi.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.cst.transformer.CstService">
         </service>
      </serviceFactory>
   </extension>

</plugin>
