<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.rcp.wizards.io.FunctionWizard" name="FunctionWizard" schema="schema/eu.esdihumboldt.hale.rcp.wizards.io.FunctionWizard.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.esdihumboldt.hale.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="eu.esdihumboldt.hale.rcp.ClientPerspective"
            id="eu.esdihumboldt.hale.rcp.ClientPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Map Viewer"
            class="eu.esdihumboldt.hale.rcp.views.map.MapView"
            id="eu.esdihumboldt.hale.rcp.views.map.MapView">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.tasks.TasklistView"
            id="eu.esdihumboldt.hale.rcp.views.tasks.TasklistView"
            name="Tasklist">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.model.ModelNavigationView"
            id="eu.esdihumboldt.hale.rcp.views.model.ModelNavigationView"
            name="Schema Explorer">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.model.AttributeView"
            id="eu.esdihumboldt.hale.rcp.views.model.AttributeView"
            name="Attribute View">
      </view>
      <view
            class="eu.esdihumboldt.hale.rcp.views.TableView"
            id="eu.esdihumboldt.hale.rcp.views.TableView"
            name="Table View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.LoadSchemaHandler"
            description="Load a Source or Target Schema"
            id="HALE.loadSchema.command"
            name="Load Schema">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.OpenProjectHandler"
            description="Open an existing alignment project"
            id="HALE.openProject.command"
            name="openProject">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.ExitHandler"
            description="Exit HALE"
            id="HALE.exit.command"
            name="exit">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.LoadInstanceDataHandler"
            id="HALE.openInstanceData.command"
            name="Open Source Data">
      </command>
      <command
            id="HALE.openReferenceData.command"
            name="Open Reference Data">
      </command>
      <command
            id="HALE.saveAlignmentProjectAs.command"
            name="Save Alignment Project As">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.SaveSchemaCommandHandler"
            id="HALE.saveMappingAs.command"
            name="Save Mapping as">
      </command>
      <command
            id="org.eclipse.ui.newWizard"
            name="createWizard">
         <commandParameter
               id="sourceAttributeID"
               name="sourceAttributeName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="targetAttributeID"
               name="targetAttributeName"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.FunctionWizardHandler"
            description="Pick a wizrd for the transformation you wish"
            id="eu.esdihumboldt.hale.rcp.wizards.io.FunctionWizard"
            name="FunctionWizard">
      </command>
      <command
            defaultHandler="eu.esdihumboldt.hale.rcp.commandHandlers.LoadTestDataHandler"
            description="Load source/target schema and instance data"
            id="HALE2.LoadTestData.command"
            name="LoadTestData">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <command
                  commandId="HALE.openProject.command"
                  id="openProject"
                  label="Open Alignment Project"
                  style="push">
            </command>
            <command
                  commandId="HALE.loadSchema.command"
                  id="loadSchema"
                  label="Open Schema"
                  style="push"
                  tooltip="Open a Source or Target Schema">
            </command>
            <command
                  commandId="HALE.openInstanceData.command"
                  id="openInstanceData"
                  label="Open Instance Data "
                  style="push"
                  tooltip="Load Data that is to be transformed">
            </command>
            <command
                  commandId="HALE.openReferenceData.command"
                  id="openReferenceData"
                  label="Open Reference Data"
                  style="push"
                  tooltip="Open Reference Data against which Instance Data should be harmonized">
            </command>
            <separator
                  name="HALE.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="HALE.saveAlignmentProjectAs.command"
                  id="saveAlignmentProjectAs"
                  label="Save Alignment Project as..."
                  style="push">
            </command>
            <command
                  commandId="HALE.saveMappingAs.command"
                  id="saveMappingAs"
                  label="Save Mapping as..."
                  style="push">
            </command>
            <separator
                  name="HALE.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="HALE.exit.command"
                  id="exit"
                  label="Exit"
                  style="push">
            </command>
            <command
                  commandId="HALE2.LoadTestData.command"
                  id="openTestData"
                  label="Load test data"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.rcp.services.HaleServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.models.InstanceService"></service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.SchemaService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.TaskService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.StyleService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.models.AlignmentService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.cst.transformer.ITransformationService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.esdihumboldt.hale.rcp.HaleSplashHandler"
            id="HALE.splashHandler">
      </splashHandler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HALE.application"
            name="HUMBOLDT Alignment Editor">
         <property
               name="appName"
               value="HUMBOLDT Alignment Editor">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
           <category
            id="HALE.wizard.function.numeric"
            name="Numeric Type Functions">
      </category>
      <category
            id="HALE.wizard.function.literal"
            name="Literal Type Functions ">
      </category>
      <wizard
            category="HALE.wizard.function.literal"
            class="eu.esdihumboldt.hale.rcp.wizards.functions.literal.RenamingFunctionWizard"
            icon="icons/concrete_ft.png"
            id="HALE.featurerenaming"
            name="Feature Type Renaming Wizard">
      </wizard>
      <category
            id="HALE.wizard.function.enumeration"
            name="Enumeration Type Functions">
      </category>
      <category
            id="HALE.wizard.function.multiple"
            name="Multitype Functions">
      </category>
      <category
            id="HALE.wizard.function.geometric"
            name="Geometric Type Functions">
      </category>
      <wizard
            category="HALE.wizard.function.geometric"
            class="eu.esdihumboldt.hale.rcp.wizards.functions.geometric.NetworkExpansionFunctionWizard"
            icon="icons/geometry_attribute.png"
            id="HALE.netexpansion"
            name="Network expansion (Line to Surface)"
            project="true">
      </wizard>
      <wizard
            category="HALE.wizard.function.geometric"
            icon="icons/geometry_attribute.png"
            id="HALE.netfusion"
            name="Network fusion (Line to Line)">
            <class class="eu.esdihumboldt.hale.rcp.wizards.functions.geometric.NetworkFusionFunctionWizard">
            <parameter name="sourceAttributeName" value="test"/>
            </class>
            
      </wizard>
      <wizard
            category="HALE.wizard.function.geometric"
            class="eu.esdihumboldt.hale.rcp.wizards.functions.geometric.NetworkGeneralizationFunctionWizard"
            icon="icons/geometry_attribute.png"
            id="HALE.netgeneralization"
            name="Network generalization (Line to Line)">
      </wizard>
      <wizard
            category="HALE.wizard.function.numeric"
            class="eu.esdihumboldt.hale.rcp.wizards.functions.numeric.NumericFunctionWizard"
            icon="icons/see_number_attribute.png"
            id="Hale.numfunction"
            name="Numeric Function Wizard">
      </wizard>
      <category
            id="HALE.wizard.function.filter"
            name="Filter Functions">
      </category>
      <wizard
            category="HALE.wizard.function.filter"
            class="eu.esdihumboldt.hale.rcp.wizards.functions.filter.FilterWizard"
            icon="icons/concrete_ft.png"
            id="HALE.filter"
            name="CQL-based Filter Wizard">
      </wizard>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="eu.esdihumboldt.hale.rcp.wizards.io.SchemaImportWizard"
            icon="icons/sample.gif"
            id="eu.esdihumboldt.hale.rcp.wizards.io.SchemaImportWizard"
            name="Import Schema">
         <description>
            Import a schema from the local file system or from a remote service into the schema explorer.
         </description>
      </wizard>
   </extension> -->

</plugin>
