<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.core.Retype"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.retype"
            id="eu.esdihumboldt.cst.functions.core.retype">
      </typeTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.core.Rename"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.rename"
            id="eu.esdihumboldt.cst.functions.core.rename">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.core.Assign"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.assign"
            id="eu.esdihumboldt.cst.functions.core.assign">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.core.GenerateUID"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.generateuid"
            id="eu.esdihumboldt.cst.functions.core.generateuid">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.core.ClassificationMapping"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.classification"
            id="eu.esdihumboldt.cst.functions.core.classification">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.core.FormattedString"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.formattedstring"
            id="eu.esdihumboldt.cst.functions.core.formattedstring">
      </propertyTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.core.Merge"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.merge"
            id="eu.esdihumboldt.cst.functions.core.merge">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.core.Join"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.join"
            id="eu.esdihumboldt.cst.functions.core.join">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.core.Create"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.create"
            id="eu.esdihumboldt.cst.functions.core.create">
      </typeTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.core.Assign"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.hale.align.assign.bound"
            id="eu.esdihumboldt.cst.functions.core.assign">
      </propertyTransformation>
   </extension>

</plugin>
