<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.gettingstarted.xml"
            primary="false">
      </toc>
      <toc
            file="toc.views.xml"
            primary="false">
      </toc>
      <toc
            file="toc.tasks_data.xml"
            primary="false">
      </toc>
      <toc
            file="toc.mapconfiguration.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
