<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="xls"
            id="eu.esdihumboldt.hale.io.xls.xls"
            name="Excel Spreadsheet (XLS)"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="xlsx"
            id="eu.esdihumboldt.hale.io.xls.xlsx"
            name="MS OOXML Format Spreadsheet (XLSX)"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.xls.writer.XLSAlignmentMappingWriter"
            id="eu.esdihumboldt.hale.io.xls.writer.align"
            name="Mapping table (XLS/XLSX)">
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xls">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xlsx">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.xls.writer.XLSLookupTableWriter"
            id="eu.esdihumboldt.hale.io.xls.writer.lookup"
            name="Lookup table (XLS/XLSX)">
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xls">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xlsx">
         </contentType>
      </provider>
      <provider
            allowDuplicate="true"
            class="eu.esdihumboldt.hale.io.xls.reader.XLSLookupTableReader"
            id="eu.esdihumboldt.hale.io.xls.reader.lookup"
            name="Lookup table (XLS/XLSX)">
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xls">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xlsx">
         </contentType>
      </provider>
      <provider
            allowDuplicate="true"
            class="eu.esdihumboldt.hale.io.xls.reader.XLSSchemaReader"
            id="eu.esdihumboldt.hale.io.xls.reader.schema"
            name="XLS file">
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xls">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xlsx">
         </contentType>
      </provider>
      <provider
            allowDuplicate="true"
            class="eu.esdihumboldt.hale.io.xls.reader.XLSInstanceReader"
            id="eu.esdihumboldt.hale.io.xls.reader.instance"
            name="XLS file">
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xls">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xlsx">
         </contentType>
         <providerParameter
               description="States how many lines should be skipped when reading instances 
               from a XLS file (e.g. because of the header). Also boolean values are 
               supported for backwards compatibility. When a boolean is used, true is translated 
               into 1 (i.e. skip the first line) and false into 0 (i.e. do not skip any lines)"
               label="Skip N lines"
               name="skip"
               optional="true">
            <parameterBinding
                  class="java.lang.Integer">
            </parameterBinding>
            <valueDescriptor
                  default="0"
                  sampleDescription="Any integer equal or larger than 0">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Add all the exported types separated by &quot;,&quot; to the excel to be exported"
               label="Type name"
               name="typename"
               optional="false"
               valueDescriptor="eu.esdihumboldt.hale.io.csv.TypenameParameterDescriptor">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Index of the sheet to import. 0 is the index of the first sheet."
               label="Sheet index"
               name="sheetIndex"
               optional="false">
            <parameterBinding
                  class="java.lang.Integer">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Use the source schema for the order and number of exported columns."
               label="Use the source schema for the exported columns"
               name="useSchema"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true"
                  defaultDescription="Defaults to true">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Ignore feature types without data to be added to the exported Excel"
               label="Ignore feature types without data"
               name="ignoreEmptyFeaturetypes"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
             <valueDescriptor
                  default="false"
                  defaultDescription="Defaults to false">
            </valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.xls.writer.XLSInstanceWriter"
            id="eu.esdihumboldt.hale.io.xls.writer.instance"
            name="XLS file">
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xls">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xls.xlsx">
         </contentType>
         <providerParameter
               description="Schema type which instances should be exported."
               label="Export type"
               name="selectedExportType"
               optional="false"
               valueDescriptor="eu.esdihumboldt.hale.io.csv.TypenameParameterDescriptor">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
      </provider>
      </extension>

</plugin>
