<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="oml,goml"
            id="eu.esdihumboldt.hale.io.align.oml"
            name="Ontology Mapping Language"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://knowledgeweb.semanticweb.org/heterogeneity/alignment}Alignment">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.oml.OmlReader"
            id="eu.esdihumboldt.hale.io.oml.reader"
            name="Ontology Mapping Language">
         <contentType
               ref="eu.esdihumboldt.hale.io.align.oml">
         </contentType>
      </provider>
   </extension>

</plugin>
