<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.io.jdbc.config" name="JDBC Configuration Extension" schema="schema/eu.esdihumboldt.hale.io.jdbc.config.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.JDBCSchemaReader"
            id="eu.esdihumboldt.hale.io.jdbc.schema.reader"
            name="Database Schema">
         <contentType
               ref="eu.esdihumboldt.hale.io.jdbc">
         </contentType>
         <providerParameter
               optional="false"
                  description="The user name for the connection to the database."
                  label="User name"
                  name="jdbc.user">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
         <providerParameter
               optional="false"
                  description="The password for the connection to the database."
                  label="Password"
                  name="jdbc.password">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
         <providerParameter
               label="Schemas to import"
               name="schemas"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.JDBCInstanceWriter"
            description="Write simple features to existing database schema"
            id="eu.esdihumboldt.hale.io.jdbc.instance.writer"
            name="Database (JDBC) [experimental]">
         <contentType
               ref="eu.esdihumboldt.hale.io.jdbc">
         </contentType>
         <providerParameter
               optional="false"
                  description="The user name for the connection to the database."
                  label="User name"
                  name="jdbc.user">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
         <providerParameter
               optional="false"
                  description="The password for the connection to the database."
                  label="Password"
                  name="jdbc.password">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
         <providerParameter
               description="States if instances should be directly passed to the database instead of attempting to assure an order that will avoid any constraint violations for foreign keys."
               label="Direct passthrough"
               name="unordered"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false"
                  defaultDescription="By default instances are sorted before inserting them.">
            </valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.JDBCInstanceReader"
            id="eu.esdihumboldt.hale.io.jdbc.instance.reader"
            name="Database (JDBC)">
         <contentType
               ref="eu.esdihumboldt.hale.io.jdbc">
         </contentType>
         <providerParameter
               optional="false"
                  description="The user name for the connection to the database."
                  label="User name"
                  name="jdbc.user">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
         <providerParameter
               optional="false"
                  description="The password for the connection to the database."
                  label="Password"
                  name="jdbc.password">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
      </provider>
      <provider
            allowDuplicate="true"
            class="eu.esdihumboldt.hale.io.jdbc.SQLSchemaReader"
            description="Schema of a custom SQL query"
            id="eu.esdihumboldt.hale.io.jdbc.sql.schema.reader"
            name="SQL Query">
         <contentType
               ref="eu.esdihumboldt.hale.io.jdbc">
         </contentType>
         <providerParameter
               description="The user name for the connection to the database."
               label="User name"
               name="jdbc.user"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="The password for the connection to the database."
               label="Password"
               name="jdbc.password"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="The SQL query to execute on the database"
               label="SQL Query"
               name="sql"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="The name of the type that represents the SQL query in hale"
               label="Type name"
               name="typename"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="eu.esdihumboldt.hale.io.jdbc"
            name="JDBC"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.schema.valueconstraint">
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.AutoIncrementFlagFactory"
            id="jdbc.autoinc"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.AutoIncrementFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.SQLArrayFactory"
            id="jdbc.array"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.SQLArray">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.SQLTypeFactory"
            id="jdbc.sqltype"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.SQLType">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.DefaultValueFactory"
            id="jdbc.default"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.DefaultValue">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.DatabaseTableFactory"
            id="jdbc.table"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.DatabaseTable">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.GeometryMetadataFactory"
            id="jdbc.geometry"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.GeometryMetadata">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.jdbc.constraints.factory.SQLQueryFactory"
            id="jdbc.sqlquery"
            type="eu.esdihumboldt.hale.io.jdbc.constraints.SQLQuery">
      </valueconstraint>
   </extension>

</plugin>
