<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <tocProvider
            class="eu.esdihumboldt.hale.doc.user.ioproviders.toc.InstanceWriterToc">
      </tocProvider>
      <tocProvider
            class="eu.esdihumboldt.hale.doc.user.ioproviders.toc.InstanceReaderToc">
      </tocProvider>
   </extension>
   <extension
         point="org.eclipse.help.contentProducer">
      <contentProducer
            producer="eu.esdihumboldt.hale.doc.user.ioproviders.content.IOReferenceContent">
      </contentProducer>
   </extension>

</plugin>
