<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.jdbc.config">
      <connection
            configurer="eu.esdihumboldt.hale.io.jdbc.mssql.MsSqlConnectionConfigurer"
            id="eu.esdihumboldt.hale.io.jdbc.mssql"
            type="com.microsoft.sqlserver.jdbc.SQLServerConnection">
      </connection>
      <driver
            class="com.microsoft.sqlserver.jdbc.SQLServerDriver"
            connectionHelper="eu.esdihumboldt.hale.io.jdbc.mssql.MsSqlConnectionHelper"
            id="eu.esdihumboldt.hale.io.jdbc.mssql.driver"
            name="MS SQL Driver"
            testUri="jdbc:sqlserver://localhost;"
            uriBuilder="eu.esdihumboldt.hale.io.jdbc.mssql.MsSqlURIBuilder">
         <prefix
               value="jdbc:sqlserver">
         </prefix>
         <schema-selection
               enabled="true"
               multiple="true"
               selector="eu.esdihumboldt.hale.io.jdbc.mssql.MsSqlSchemaSelector">
         </schema-selection>
      </driver>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.mssql.MsSqlGeometries"
            connection="com.microsoft.sqlserver.jdbc.SQLServerConnection"
            id="eu.esdihumboldt.hale.io.jdbc.mssql.geometry"
            name="geometry">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.mssql.MsSqlGeometries"
            connection="com.microsoft.sqlserver.jdbc.SQLServerConnection"
            id="eu.esdihumboldt.hale.io.jdbc.mssql.geography"
            name="geography">
      </geometrytype>
      <customtype
            binding="java.math.BigDecimal"
            connection="com.microsoft.sqlserver.jdbc.SQLServerConnection"
            id="mssql.money"
            name="money"
            sqltype="2">
      </customtype>
      <customtype
            binding="microsoft.sql.DateTimeOffset"
            connection="com.microsoft.sqlserver.jdbc.SQLServerConnection"
            id="mssql.datetimeoffset"
            name="datetimeoffset"
            sqltype="-155">
      </customtype>
   </extension>

</plugin>
