<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.jdbc.config">
      <connection
            configurer="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteConnectionConfigurer"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite"
            type="org.sqlite.SQLiteConnection">
      </connection>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.geometry"
            name="GEOMETRY">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.point"
            name="POINT">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.linestring"
            name="LINESTRING">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.polygon"
            name="POLYGON">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.multipolygon"
            name="MULTIPOLYGON">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.multilinestring"
            name="MULTILINESTRING">
      </geometrytype>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteGeometries"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.multipoint"
            name="MULTIPOINT">
      </geometrytype>
      <driver
            class="org.sqlite.JDBC"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite.driver"
            name="SpatiaLite"
            testUri="jdbc:sqlite:spatialite-test.sqlite"
            uriBuilder="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatiaLiteURIBuilder">
         <prefix
               value="jdbc:sqlite">
         </prefix>
         <schema-selection
               enabled="false"
               multiple="false">
         </schema-selection>
      </driver>
      <readSchemaAdvisor
            class="eu.esdihumboldt.hale.io.jdbc.spatialite.SpatialLiteSchemaReaderAdvisor"
            connection="org.sqlite.SQLiteConnection"
            id="eu.esdihumboldt.hale.io.jdbc.spatialite">
      </readSchemaAdvisor>
      <customtype
            binding="java.lang.Object"
            connection="org.sqlite.SQLiteConnection"
            id="jdbc.sqlite.blob"
            name="BLOB"
            sqltype="-3">
      </customtype>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="sqlite"
            id="eu.esdihumboldt.hale.io.spatialite"
            name="SpatiaLite Database"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.spatialite.reader.internal.SpatiaLiteSchemaReader"
            id="eu.esdihumboldt.hale.io.spatialite.reader.schema"
            name="SQLite/SpatiaLite Database">
         <contentType
               ref="eu.esdihumboldt.hale.io.spatialite">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.spatialite.reader.internal.SpatiaLiteInstanceReader"
            id="eu.esdihumboldt.hale.io.spatialite.reader.instance"
            name="SQLite/SpatiaLite Database">
         <contentType
               ref="eu.esdihumboldt.hale.io.spatialite">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.spatialite.writer.internal.SpatiaLiteInstanceWriter"
            id="eu.esdihumboldt.hale.io.spatialite.writer.instance"
            name="SQLite/SpatiaLite Database [experimental]">
         <contentType
               ref="eu.esdihumboldt.hale.io.spatialite">
         </contentType>
      </provider>
   </extension>

</plugin>
