<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.util.geometry.interpolation" name="Interpolation Algorithms" schema="schema/eu.esdihumboldt.util.geometry.interpolation.exsd"/>
   <extension
         point="eu.esdihumboldt.util.geometry.interpolation">
      <interpolation
            class="eu.esdihumboldt.util.geometry.interpolation.grid.GridInterpolation"
            id="grid"
            name="Interpolation to Grid">
      </interpolation>
      <interpolation
            class="eu.esdihumboldt.util.geometry.interpolation.split.SplitInterpolation"
            id="segment"
            name="Segment Interpolation">
      </interpolation>
   </extension>

</plugin>
