[access "refs/*"]
	owner = group Administrators
	owner = group HALE Integrators
[project]
	description = HUMBOLDT Alignment Editor (HALE)
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Privileged Users
[access "refs/heads/feature/*"]
	create = group Privileged Users
	push = group Privileged Users
