[access "refs/*"]
	owner = group Administrators
	owner = group HALE Integrators
	read = group Replicate HALE
[project]
	description = HUMBOLDT Alignment Editor (HALE)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Privileged Users
[access "refs/heads/feature/*"]
	create = group Privileged Users
	push = group Privileged Users
