<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="bgis.ade.defaults"
         name="Generate default mapping for BGIS CityGML ADE"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="eu.esdihumboldt.hale.app.bgis.ade.defaults.GenerateDefaultsApplication">
         </run>
      </application>
   </extension>
   <extension
         id="bgis.ade.duplicate"
         name="Generate mapping based on example mappings"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="eu.esdihumboldt.hale.app.bgis.ade.duplicate.GenerateDuplicatesApplication">
         </run>
      </application>
   </extension>

</plugin>
