<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.typehierarchy.TypeHierarchyView"
            icon="icons/class_hi.gif"
            id="eu.esdihumboldt.hale.ui.views.typehierarchy"
            name="Type hierarchy">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.esdihumboldt.hale.ui.views.typehierarchy.views">
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.typehierarchy.properties.ChildDefinitionTypeHierarchyViewSection"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype.typehierarchy"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.ChildDefinition">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
