@CHARSET "ISO-8859-1";

body {
	background-color: #FFFFFF;
}

h1 {
	color : #111111;
	background-color: #EEEEEE;
}

hr {
	color : #111111;
	background-color: #EEEEEE;
	background: black; 
	height:3px; 
	width:450px;
}
