<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.headless.sink" name="Transformation sinks" schema="schema/eu.esdihumboldt.hale.headless.sink.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.headless.sink">
      <sink
            class="eu.esdihumboldt.hale.common.headless.transform.LimboInstanceSink"
            id="eu.esdihumboldt.hale.headless.sink.limbo"
            priority="0"
            reiterable="false">
      </sink>
   </extension>

</plugin>
