<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Type hierarchy"
            icon="icons/class_hi.gif"
            class="eu.esdihumboldt.hale.ui.views.typehierarchy.TypeHierarchyView"
            id="eu.esdihumboldt.hale.ui.views.typehierarchy">
      </view>
   </extension>

</plugin>
