<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.esdihumboldt.hale.ui.views.report.deprecated.ReportView"
            icon="icons/ft_stylelist.gif"
            id="eu.esdihumboldt.hale.ui.views.reportold"
            name="ReportView (old)"
            restorable="true">
      </view>
      <view
            class="eu.esdihumboldt.hale.ui.views.report.deprecated.ReportOverview"
            icon="icons/ft_stylelist.gif"
            id="eu.esdihumboldt.hale.ui.views.report.ReportOverview"
            name="%view.export_report.name">
      </view>
      <view
            class="eu.esdihumboldt.hale.ui.views.report.ReportPropertiesViewPart"
            id="eu.esdihumboldt.hale.ui.views.report"
            name="Report Property View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui"
            class="eu.esdihumboldt.hale.ui.views.report.ReportList"
            icon="icons/ft_stylelist.gif"
            id="eu.esdihumboldt.hale.ui.views.report.ReportList"
            name="Report List">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties">
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition">
         </propertyCategory>
      </propertyContributor>
   </extension>
</plugin>
