<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <file>logs/ObjectsServer.log</file>
    <filter class="de.fhg.igd.slf4jplus.logback.appender.FlattenFilter" />
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{ISO8601} %-5level [%mdc{user}:%mdc{remote}] %C{1}:%L - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>1</maxIndex>
      <FileNamePattern>logs/hale-server.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <appender name="CONSOLE" class="de.fhg.igd.slf4jplus.logback.appender.StaticConsoleAppender">
  	<filter class="de.fhg.igd.slf4jplus.logback.appender.FlattenFilter" />
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{dd.MM.yyyy HH:mm:ss} %-5level [%mdc{user}:%mdc{remote}] %C{1}.%M\(%L\) - %m%n</Pattern>
    </encoder>
  </appender>
  <logger name="to.wetf" level="INFO" />
  <logger name="eu.esdihumboldt" level="INFO" />
  <logger name="org.springframework" level="INFO" />
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
