<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.functions.FunctionsView"
            icon="icons/function.png"
            id="eu.esdihumboldt.hale.ui.views.functions"
            name="Functions"
            restorable="true">
      </view>
   </extension>

</plugin>
