<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.source">
      <source
            class="eu.esdihumboldt.hale.ui.schema.presets.PresetsSource"
            description="Predefined schemas"
            icon="icons/presets.gif"
            id="eu.esdihumboldt.hale.ui.schema.prefedined"
            name="preset"
            priority="-4"
            providerType="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </source>
   </extension>

</plugin>
