<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="Functions dealing with numerical values"
            id="eu.esdihumboldt.cst.functions.numeric"
            name="Numeric">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.numeric"
            cellExplanation="eu.esdihumboldt.cst.functions.numeric.MathematicalExpressionExplanation"
            description="Define a value using a mathematical expression with support for variables"
            help="help/mathematicalExpression/help.xhtml"
            icon="icons/exp.gif"
            identifier="eu.esdihumboldt.cst.functions.numeric.mathexpression"
            name="Mathematical Expression">
         <targetProperties>
            <property
                  description="The property to assign the result of the expression evaluation to"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="Source properties that may be used as variable in the mathematical expression"
                  label="Variable"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </sourceProperties>
         <functionParameter
               description="The mathematical expression to evaluate"
               label="Expression"
               maxOccurrence="1"
               minOccurrence="1"
               name="expression">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.numeric"
            cellExplanation="eu.esdihumboldt.cst.functions.numeric.sequentialid.SequentialIDExplanation"
            description="Generates a sequential numeric identifier"
            icon="icons/id.png"
            identifier="eu.esdihumboldt.cst.functions.numeric.sequentialid"
            name="Generate sequential ID">
         <targetProperties>
            <property
                  description="Property to assign the generated identifier to"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </targetProperties>
         <functionParameter
               description="Identifier prefix"
               label="Prefix"
               maxOccurrence="1"
               minOccurrence="0"
               name="prefix">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Identifier suffix"
               label="Suffix"
               maxOccurrence="1"
               minOccurrence="0"
               name="suffix">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Generation sequence to use"
               label="Sequence"
               maxOccurrence="1"
               minOccurrence="1"
               name="sequence">
            <parameterEnumeration>
               <enumerationValue
                     value="overall">
               </enumerationValue>
               <enumerationValue
                     value="type">
               </enumerationValue>
            </parameterEnumeration>
         </functionParameter>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.numeric.MathematicalExpression"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.numeric.mathexpression"
            id="eu.esdihumboldt.cst.functions.numeric.mathexpression">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.numeric.sequentialid.SequentialID"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.numeric.sequentialid"
            id="eu.esdihumboldt.cst.functions.numeric.sequentialid">
      </propertyTransformation>
   </extension>

</plugin>
