<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.html.svg.mapping.MappingExporter"
            id="eu.esdihumboldt.hale.io.html.svg.mapping"
            name="Mapping Documentation (HTML+SVG)">
         <contentType
               ref="eu.esdihumboldt.hale.io.html">
         </contentType>
      </provider>
   </extension>

</plugin>
