<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.codelist.service.internal.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.codelist.service.CodeListService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.common.codelist.service.CodeListRegistry">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.action">
      <action-ui
            action="eu.esdihumboldt.hale.codelist.read"
            id="eu.esdihumboldt.hale.codelist.ui"
            label="Code list..."
            priority="0"
            projectResource="true"
            ui-advisor="eu.esdihumboldt.hale.ui.codelist.io.CodeListUIAdvisor"
            wizard="eu.esdihumboldt.hale.ui.codelist.io.CodeListImportWizard">
      </action-ui>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <advisor
            action="eu.esdihumboldt.hale.codelist.read"
            class="eu.esdihumboldt.hale.ui.codelist.io.CodeListImportAdvisor"
            id="eu.esdihumboldt.hale.ui.codelist.service">
      </advisor>
   </extension>

</plugin>
