<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.codelist.service.internal.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.codelist.service.CodeListService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.advisor">
      <advisor
            class="eu.esdihumboldt.hale.ui.codelist.io.CodeListImportAdvisor"
            id="eu.esdihumboldt.hale.codelist"
            label="Code list..."
            priority="0"
            projectResource="true"
            providerType="eu.esdihumboldt.hale.common.codelist.io.CodeListReader"
            wizard="eu.esdihumboldt.hale.ui.codelist.io.CodeListImportWizard">
      </advisor>
   </extension>

</plugin>
