<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.jdbc.ui.UserPasswordPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.jdbc.schema.reader">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.jdbc.instance.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.jdbc.instance.reader">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.jdbc.ui.SchemasRetrievalPage"
            order="1">
         <provider
               ref="eu.esdihumboldt.hale.io.jdbc.schema.reader">
         </provider>
      </configPage>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.source">
      <source
            class="eu.esdihumboldt.hale.io.jdbc.ui.JDBCSource"
            contentType="eu.esdihumboldt.hale.io.jdbc"
            description="Load a database schema through JDBC"
            icon="icons/database.gif"
            id="eu.esdihumboldt.hale.io.jdbc.ui.source.schema"
            name="Database (JDBC)"
            priority="5"
            providerType="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </source>
      <source
            class="eu.esdihumboldt.hale.io.jdbc.ui.JDBCSource"
            contentType="eu.esdihumboldt.hale.io.jdbc"
            description="Load data from a database using JDBC"
            icon="icons/database.gif"
            id="eu.esdihumboldt.hale.io.jdbc.ui.source.instance"
            name="Database (JDBC)"
            priority="5"
            providerType="eu.esdihumboldt.hale.common.instance.io.InstanceReader">
      </source>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.target">
      <target
            class="eu.esdihumboldt.hale.io.jdbc.ui.JDBCTarget"
            id="jdbcUrl">
      </target>
      <providerTarget
            provider="eu.esdihumboldt.hale.io.jdbc.instance.writer"
            target="jdbcUrl">
      </providerTarget>
   </extension>

</plugin>
