<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.cst.transformer.CstFunction">
      <java
            package="eu.esdihumboldt.cst.corefunctions">
      </java>
      <java
            package="eu.esdihumboldt.cst.corefunctions.inspire">
      </java>
   </extension>

</plugin>
