body
{
	color: #333;
	font-size: 80%;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 1.6em;
	margin: 12px;
}

/** link defintions **/

a:link, a:visited
{
	color: rgb(200,30,50);
	text-decoration: none;
}

a:active, a:hover
{
	color: rgb(200,30,50);
	text-decoration: underline;
}

/** heading defintions **/

h1, h2, h3, h4, h5
{
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 1em;
	color: #006699;
}

h1
{
	font-size: 2.0em;
	background: url(bg-headline.png) no-repeat 1px 1px;
	text-indent:20px;
	color: rgb(60,65,80);
	border-bottom: 1px solid;
}

h2
{
	background: url(int_link.png) no-repeat 1px 1px;
	text-indent:20px;
	margin-left:20px;
	font-size: 1.7em;
	border-bottom: 1px solid;
}

h3
{
	margin-left:20px;
	font-size: 1.5em;
}

h4
{
	margin-left:20px;
	font-size: 1.2em;
}

p
{
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 1em;
	font-size: 1em;
	margin-left:40px;
}

p.dl_link {
	padding-left: 14px;
	background-image: url(int_link.png);
	background-repeat: no-repeat;
	background-position: left;
}

/** list defintions **/

ol
{
	padding: 0px;
	margin: 0em 0em 1em 0.4em;
}

ul
{
	padding: 0px;
	margin: 0em 0em 1em 0em;
	list-style: square;
}

li
{
	margin-left: 1.2em;
	margin-bottom: 0.3em;
	text-align: left;
}

/** table defintions **/

table { 
	border-spacing: 0;
	border-collapse: collapse;
}

td,th { vertical-align: top; }

th { font-weight: 200; text-align: left;}
td.leftcol,
th.leftcol { padding-right: 10px; }
td.rightcol,
th.rightcol { padding-left: 10px; }


/** global defintions **/

.light { font-weight: 200; font-size: 80% }
.small { font-size: 0.9em; }
.leftfloat { float: left; }
.rightfloat { float: right; }
.left { text-align: left; }
.right { text-align: right;}
.nofloat { float:none!important; }
.nolist li { list-style: none; margin-left: auto;}
.nobreak { white-space:nowrap;}
.strong { font-weight: 700; }
.normal { font-style:normal; }