<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.io.csv.propertyType" name="CSV property types" schema="schema/eu.esdihumboldt.hale.io.csv.propertyType.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.io.csv.propertyType">
      <propertyType
            class="eu.esdihumboldt.hale.io.csv.propertytype.PropertyString"
            id="java.lang.String"
            name="String">
      </propertyType>
      <propertyType
            class="eu.esdihumboldt.hale.io.csv.propertytype.PropertyInteger"
            id="java.lang.Integer"
            name="Integer">
      </propertyType>
      <propertyType
            class="eu.esdihumboldt.hale.io.csv.propertytype.PropertyFloat"
            id="java.lang.Float"
            name="Float">
      </propertyType>
      <propertyType
            class="eu.esdihumboldt.hale.io.csv.propertytype.PropertyDouble"
            id="java.lang.Double"
            name="Double">
      </propertyType>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="csv,txt"
            id="eu.esdihumboldt.hale.io.csv"
            name="CSV file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.csv.reader.internal.CSVSchemaReader"
            id="eu.esdihumboldt.hale.io.csv.reader.schema"
            name="CSV file">
         <contentType
               ref="eu.esdihumboldt.hale.io.csv">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.csv.reader.internal.CSVInstanceReader"
            id="eu.esdihumboldt.hale.io.csv.reader.instance"
            name="CSV file">
         <contentType
               ref="eu.esdihumboldt.hale.io.csv">
         </contentType>
         <providerParameter
               description="States if the first line in the CSV file should be skipped (e.g. because it contains the header)"
               label="Skip first line"
               name="skip"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false"
                  sampleDescription="Either true or false">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               label="Type name"
               name="typename"
               optional="false"
               valueDescriptor="eu.esdihumboldt.hale.io.csv.TypenameParameterDescriptor">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Separator character that delimits columns in the CSV file"
               label="Separator character"
               name="separator"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="Defaults to tabulator (\t)">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Character used to quote CSV entries"
               label="Quote character"
               name="quote"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  default="&quot;">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Character used to escape special characters, e.g. the quote character"
               label="Escape character"
               name="escape"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  default="\">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Separator is used to identify float value"
               label="Decimal separator"
               name="decimal"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  default="."></valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.csv.reader.internal.CSVLookupReader"
            id="eu.esdihumboldt.hale.io.csv.reader.lookup"
            name="LookupTable (CSV)">
         <contentType
               ref="eu.esdihumboldt.hale.io.csv">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.csv.writer.internal.CSVAlignmentMappingWriter"
            id="eu.esdihumboldt.hale.io.csv.writer.align"
            name="Mapping table (CSV)">
         <contentType
               ref="eu.esdihumboldt.hale.io.csv">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.csv.writer.internal.CSVLookupWriter"
            id="eu.esdihumboldt.hale.io.csv.writer.lookup"
            name="LookupTable (CSV)">
         <contentType
               ref="eu.esdihumboldt.hale.io.csv">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.csv.writer.internal.CSVInstanceWriter"
            id="eu.esdihumboldt.hale.io.csv.writer.instance"
            name="CSV file">
         <contentType
               ref="eu.esdihumboldt.hale.io.csv">
         </contentType>
         <providerParameter
               description="Schema type which instances should be exported."
               label="Export type"
               name="selectedExportType"
               optional="false"
               valueDescriptor="eu.esdihumboldt.hale.io.csv.TypenameParameterDescriptor">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Separator character that delimits columns in the CSV file"
               label="Separator character"
               name="separator"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  defaultDescription="Defaults to tabulator (\t)">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Character used to quote CSV entries"
               label="Quote character"
               name="quote"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  default="&quot;">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Character used to escape special characters, e.g. the quote character"
               label="Escape character"
               name="escape"
               optional="true">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  default="\">
            </valueDescriptor>
         </providerParameter>
      </provider>
   </extension>

</plugin>
