<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.schemas.SchemasView"
            icon="icons/schema.gif"
            id="eu.esdihumboldt.hale.ui.views.schemas"
            name="%view.schemaExplorer.name">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.schemas.SourceSchemaView"
            icon="icons/schema.gif"
            id="eu.esdihumboldt.hale.ui.views.schema.source"
            name="Source Schema">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.schemas.TargetSchemaView"
            icon="icons/schema.gif"
            id="eu.esdihumboldt.hale.ui.views.schema.target"
            name="Target Schema">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.schemas.SchemasViewTypes"
            icon="icons/schema.gif"
            id="eu.esdihumboldt.hale.ui.views.schemas.typesonly"
            name="Schema Types Explorer">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.schemas.SchemasViewOneTypeFocus"
            icon="icons/schema.gif"
            id="eu.esdihumboldt.hale.ui.views.schemas.typefocus"
            name="Schema Focus">
      </view>
   </extension>

</plugin>
