<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.align.transformation" name="Transformation functions and execution" schema="schema/eu.esdihumboldt.hale.align.transformation.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.function" name="Transformation function definitions" schema="schema/eu.esdihumboldt.hale.align.function.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.engine" name="Transformation engine definitions" schema="schema/eu.esdihumboldt.hale.align.engine.exsd"/>

</plugin>
