<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="eu.esdihumboldt.hale.io.project.jaxb"
            name="HALE project (up to 2.1.x)"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="HaleProject">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.project.jaxb.reader.ProjectParser"
            id="eu.esdihumboldt.hale.io.project.jaxb.parser"
            name="HALE project (up to 2.1.x)">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.jaxb">
         </contentType>
      </provider>
   </extension>

</plugin>
