<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.util.bbr.impl.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.util.bbr.DocumentationService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="eu.esdihumboldt.hale.ui.views.properties">
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.general"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.util.bbr.propertyTab"
               label="BBR">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.esdihumboldt.hale.ui.views.properties">
         <propertySection
               class="eu.esdihumboldt.hale.ui.util.bbr.properties.DefinitionTextSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.util.bbr.properties.DefinitionFilter"
               id="eu.esdihumboldt.hale.ui.util.bbr.definition"
               tab="eu.esdihumboldt.hale.ui.util.bbr.propertyTab">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.util.bbr.definition"
               class="eu.esdihumboldt.hale.ui.util.bbr.properties.DescriptionTextSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.util.bbr.properties.DescriptionFilter"
               id="eu.esdihumboldt.hale.ui.util.bbr.description"
               tab="eu.esdihumboldt.hale.ui.util.bbr.propertyTab">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
