<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.shp.ui.TypeSelectionPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.shape.reader.instance">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.ui.io.config.ShapefileCharsetConfigurationPage"
            order="1">
         <provider
               ref="eu.esdihumboldt.hale.io.shape.reader.instance">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.shape.reader.schema">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.shp.ui.ShapeTargetCRSConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.shp.instance.writer">
         </provider>
      </configPage>
   </extension>

</plugin>
