<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.io.groovy.ServiceFactory"
            id="eu.esdihumboldt.hale.io.groovy.services"
            scope="project">
         <service
               interface="eu.esdihumboldt.hale.io.groovy.snippets.SnippetService">
         </service>
      </services>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            allowDuplicate="false"
            class="eu.esdihumboldt.hale.io.groovy.snippets.impl.SnippetReaderImpl"
            description="Imports a Groovy snippet into the project"
            id="eu.esdihumboldt.hale.io.groovy.snippets"
            name="Groovy snippet">
         <contentType
               ref="eu.esdihumboldt.hale.io.groovy">
         </contentType>
         <providerParameter
               description="Unique identifier for the snippet"
               label="Identifer"
               name="identifier"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
         <providerParameter
               description="Auto-reload of snippets can be enabled for file snippets"
               label="Auto-reload"
               name="autoReload"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
         </providerParameter>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            categoryName="Groovy snippets"
            id="eu.esdihumboldt.hale.io.groovy.snippets.load"
            name="Load Groovy snippet"
            resourceName="Groovy snippet"
            type="eu.esdihumboldt.hale.io.groovy.snippets.SnippetReader">
      </action>
      <advisor
            action="eu.esdihumboldt.hale.io.groovy.snippets.load"
            class="eu.esdihumboldt.hale.io.groovy.snippets.impl.SnippetAdvisor"
            id="eu.esdihumboldt.hale.io.groovy.snippets.load">
      </advisor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="groovy"
            id="eu.esdihumboldt.hale.io.groovy"
            name="Groovy script"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="true"
            class="eu.esdihumboldt.hale.io.groovy.snippets.GroovySnippets">
      </allow>
   </extension>

</plugin>
