<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.common.definition.internal.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.common.definition.DefinitionLabelFactory">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            id="eu.esdihumboldt.hale.io.archive.export"
            name="Export project archive"
            type="eu.esdihumboldt.hale.common.core.io.project.ProjectWriter">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.archive.import"
            name="Import project archive"
            type="eu.esdihumboldt.hale.common.core.io.project.impl.ArchiveProjectImport">
      </action>
   </extension>

</plugin>
