<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="eu.esdihumboldt.hale.rcp.wizards.functions.FunctionWizardFactory">
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.filter.SimpleFilterWizardFactory"
            icon="icons/filter.png"
            name="%factory.name">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.filter.FilterWizardFactory"
            icon="icons/filter.png"
            name="%factory.name.0">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.literal.RenamingFunctionWizardFactory"
            icon="icons/concrete_ft.png"
            name="%factory.name.1">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.literal.RenameAttributeFunctionWizardFactory"
            icon="icons/string_attribute.png"
            name="%factory.name.2">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.ConcatenationOfAttributesWizardFactory"
            icon="icons/string_attribute.png"
            name="%factory.name.3">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.geometric.NetworkExpansionFunctionWizardFactory"
            icon="icons/geometry_attribute.png"
            name="%factory.name.4">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.geometric.OrdinatesPointWizardFactory"
            icon="icons/geometry_attribute.png"
            name="%factory.name.5">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.numeric.NumericFunctionWizardFactory"
            icon="icons/number_attribute.png"
            name="%factory.name.6">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.math.GenericMathFunctionWizardFactory"
            icon="icons/number_attribute.png"
            name="%factory.name.7">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.date.DateExtractionFunctionWizardFactory"
            icon="icons/number_attribute.png"
            name="%factory.name.8">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.classification.ClassificationMappingFunctionWizardFactory"
            icon="icons/mapping.gif"
            name="%factory.name.9">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.reference.CreateReferenceWizardFactory"
            icon="icons/rename.gif"
            name="%factory.name.10">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.inspire.IdentifierFunctionWizardFactory"
            icon="icons/inspire.png"
            name="%factory.name.11">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.inspire.geographicname.GeographicNameFunctionWizardFactory"
            icon="icons/inspire.png"
            name="%factory.name.12">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.augmentation.nilreason.NilReasonWizardFactory"
            icon="icons/inspire.png"
            name="%factory.name.13">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.augmentation.constantvalue.ConstantValueWizardFactory"
            icon="icons/add.gif"
            name="%factory.name.14">
      </factory>
      <factory
            class="eu.esdihumboldt.hale.rcp.wizards.functions.core.userdefined.UserDefinedFunctionWizardFactory"
            icon="icons/userdefined.png"
            name="%factory.name.15">
      </factory>
      <simple
            function="eu.esdihumboldt.cst.corefunctions.CentroidFunction"
            icon="icons/geometry_attribute.png"
            name="%simple.name">
      </simple>
      <simple
            function="eu.esdihumboldt.cst.corefunctions.CalculateArea"
            icon="icons/geometry_attribute.png"
            name="%simple.name.0">
      </simple>
      <simple
            function="eu.esdihumboldt.cst.corefunctions.CalculateLength"
            icon="icons/geometry_attribute.png"
            name="%simple.name.1">
      </simple>
   </extension>

</plugin>
