<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.esdihumboldt.hale.ui.views.properties">
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.general.name"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.DefinitionNameSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.general.name"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.general">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.Definition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Entity">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.general.name"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.DefinitionDescriptionSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.DefinitionDescriptionFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.general.description"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.general">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.Definition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Entity">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.general.description"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.DefinitionLocationLinkSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.DefinitionLocationFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.general.location"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.general">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.Definition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Entity">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionAbstractFlagSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.abstractflag"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Type">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.popertytypecardinality"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.grouppropertydefinition.GroupPropertyChoiceFlagSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.choiceflag"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.GroupPropertyDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.choiceflag"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionHasValueFlagSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.hasvalueflag"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Type">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.hasvalueflag"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionMappableFlagSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.mappableflag"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Type">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.abstractflag"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.grouppropertydefinition.GroupPropertyCardinalitySection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.grouppropertycardinality"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.GroupPropertyDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.grouppropertycardinality"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeCardinalitySection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.popertytypecardinality"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.popertytypecardinality"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeNillableFlagSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.nillableflag"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.nillableflag"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyUniqueSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyUniqueFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.unique"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.typehierarchy.propertytype.link"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionElementTypeBindingSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.elementtype"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Type">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.elementtype"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionEnumeration"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionEnumerationFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.enumeration"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Type">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype.name"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.childdefinition.ChildDefinitionDescriptionSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.childdefinition.ChildDefinitionDescriptionFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype.description"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.ChildDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype.description"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.childdefinition.ChildDefinitionLocationLinkSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.childdefinition.ChildDefinitionLocationFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype.location"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.ChildDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.definition.childdefinition.ChildDefinitionNameSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.childdefinition.ChildDefinitionDefaultFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype.name"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.ChildDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeNameSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype.name"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype.description"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeLocationLinkSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeLocationFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype.location"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype.name"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeDescriptionSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.propertydefinition.PropertyTypeDescriptionFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype.description"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.function.abstractfunction.AbstractFunctionNameSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.function.name"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.general">
            <input
                  type="eu.esdihumboldt.hale.common.align.extension.function.FunctionDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.function.name"
               class="eu.esdihumboldt.hale.ui.views.properties.function.abstractfunction.AbstractFunctionIdSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.function.id"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.general">
            <input
                  type="eu.esdihumboldt.hale.common.align.extension.function.FunctionDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.function.id"
               class="eu.esdihumboldt.hale.ui.views.properties.function.abstractfunction.AbstractFunctionDescriptionSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.function.description"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.general">
            <input
                  type="eu.esdihumboldt.hale.common.align.extension.function.FunctionDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.function.typefunctionsource"
               class="eu.esdihumboldt.hale.ui.views.properties.function.abstractfunction.AbstractFunctionParameterSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.function.abstractfunction.AbstractFunctionParameterFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.function.parameters.abstractfunction"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.parameters">
            <input
                  type="eu.esdihumboldt.hale.common.align.extension.function.FunctionDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.function.description"
               class="eu.esdihumboldt.hale.ui.views.properties.function.typefunction.TypeFunctionGraphSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.function.typefunction.TypeFunctionGraphFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.function.typefunctiongraph"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.graph">
            <input
                  type="eu.esdihumboldt.hale.common.align.extension.function.TypeFunction">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.function.description"
               class="eu.esdihumboldt.hale.ui.views.properties.function.propertyfunction.PropertyFunctionGraphSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.function.propertyfunction.PropertyFunctionGraphFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.function.propertyfunctiongraph"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.graph">
            <input
                  type="eu.esdihumboldt.hale.common.align.extension.function.PropertyFunction">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionStructure"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionStructureFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.structure.tree"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.structure">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.cell.explanation.HtmlExplanationCellSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.cell.explanation.HtmlExplanationCellFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.cell.explanation"
               tab="eu.esdihumboldt.hale.ui.views.properties.explanation">
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Cell">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.cell.explanation.NotesCellSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.cell.notes"
               tab="eu.esdihumboldt.hale.ui.views.properties.notes">
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Cell">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.cell.explanation.CellPrioritySection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.cell.properties"
               tab="eu.esdihumboldt.hale.ui.views.properties.properties">
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Cell">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.properties.entity.OccurringValuesSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.entity.OccurringValuesFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.occurring_values.section"
               tab="eu.esdihumboldt.hale.ui.views.properties.occurring_values">
            <input
                  type="eu.esdihumboldt.hale.common.align.model.impl.PropertyEntityDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.elementtype.propertytype"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionEnumeration"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionEnumerationFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.enumeration.propertytype"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.elementtype.propertytype"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.TypeDefinitionElementTypeBindingSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.elementtype.propertytype"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype.description"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.geometry.TypeSrsCodeSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.geometry.TypeSrsCodeFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.geometrymetadata.srscode"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.geometrymetadata.srscode"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.geometry.TypeSrsTextSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.geometry.TypeSrsTextFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.geometrymetadata.srstext"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.geometrymetadata.srstext"
               class="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.geometry.TypeGeometryDimensionSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.ui.views.properties.definition.typedefinition.geometry.TypeGeometryDimensionFilter"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.geometrymetadata.dimension"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="eu.esdihumboldt.hale.ui.views.properties">
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.general"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.general"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.general"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.constraints"
               label="Constraints">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype"
               label="ParentType">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.parenttype"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype"
               label="PropertyType">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.graph"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.parameters"
               label="Parameters">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.general"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.graph"
               label="Graph">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.definition.structure"
               label="Structure">
         </propertyTab>
         <propertyTab
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.explanation"
               label="Explanation">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.explanation"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.notes"
               label="Notes">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.explanation"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.properties"
               label="Properties">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.properties.definition.propertytype"
               category="eu.esdihumboldt.hale.ui.views.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.properties.occurring_values"
               label="Occurring values">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="eu.esdihumboldt.hale.ui.views.properties"
            labelProvider="eu.esdihumboldt.hale.ui.views.properties.PropertiesLabelProvider"
            typeMapper="eu.esdihumboldt.hale.ui.views.properties.PropertiesTypeMapper">
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.properties.definition">
         </propertyCategory>
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.properties.typedefinition">
         </propertyCategory>
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.properties.propertydefinition">
         </propertyCategory>
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.properties.grouppropertydefinition">
         </propertyCategory>
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.properties.childdefinition">
         </propertyCategory>
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.properties.other">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.esdihumboldt.hale.ui.views.properties.open"
            name="Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.esdihumboldt.hale.ui.views.properties.handler.OpenPropertiesHandler"
            commandId="eu.esdihumboldt.hale.ui.views.properties.open">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
               <with
                     variable="activePart">
                  <instanceof
                        value="eu.esdihumboldt.hale.ui.views.properties.PropertiesViewPart">
                  </instanceof>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=eu.esdihumboldt.hale.ui.popup.end">
         <command
               commandId="eu.esdihumboldt.hale.ui.views.properties.open"
               icon="icons/properties.gif"
               style="push"
               tooltip="Open in properties view">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="eu.esdihumboldt.hale.ui.views.properties.PropertiesViewPart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
