<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.doc.user.examples">
      <example-project
            id="eu.esdihumboldt.hale.doc.user.indexcontext2"
            location="projects/indexcontext2/t1t2.halex"
            summary="Small example demonstrating the use of an index context for source properties.">
      </example-project>
      <example-project
            id="eu.esdihumboldt.hale.doc.user.propertyfilter"
            location="projects/propertyfilter/t1t2.halex"
            summary="Simple example that demonstrates how a condition on a source property can be used to map a source property to different target properties depending on its value.">
      </example-project>
      <example-project
            id="eu.esdihumboldt.hale.doc.user.typefilter"
            location="projects/typefilter/t1t2.halex"
            summary="Simple example demonstrating the use of filters on source types.">
      </example-project>
      <example-project
            id="eu.esdihumboldt.hale.doc.user.groovy"
            location="projects/groovy/groovy.halex"
            summary="Simple example demonstrating usage of Groovy scripting for property transformations.">
      </example-project>
   </extension>
</plugin>
