<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.groovy.GroovyParameterPage"
            function="eu.esdihumboldt.cst.functions.groovy"
            id="eu.esdihumboldt.hale.ui.functions.groovy">
         <parameter
               name="script">
         </parameter>
      </propertyParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.groovy.GroovyCreatePage"
            function="eu.esdihumboldt.cst.functions.groovy.create"
            id="eu.esdihumboldt.hale.ui.functions.groovy.create"
            order="0">
         <parameter
               name="script">
         </parameter>
      </typeParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.groovy.GroovyRetypePage"
            function="eu.esdihumboldt.cst.functions.groovy.retype"
            id="eu.esdihumboldt.hale.ui.functions.groovy.retype"
            order="0">
         <parameter
               name="script">
         </parameter>
      </typeParameterPage>
   </extension>

</plugin>
