<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.numeric.MathExpressionParameterPage"
            function="eu.esdihumboldt.cst.functions.numeric.mathexpression"
            id="eu.esdihumboldt.hale.ui.functions.numeric.mathexpression">
         <parameter
               name="expression">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.numeric.SequentialIDParameterPage"
            function="eu.esdihumboldt.cst.functions.numeric.sequentialid"
            id="eu.esdihumboldt.hale.ui.functions.numeric.sequentialid"
            order="0">
         <parameter
               name="sequence">
         </parameter>
         <parameter
               name="startValue">
         </parameter>
         <parameter
               name="prefix">
         </parameter>
         <parameter
               name="suffix">
         </parameter>
      </propertyParameterPage>
   </extension>

</plugin>
