<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.string.DateExtraction"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.string.dateextraction"
            id="eu.esdihumboldt.cst.functions.string.dateextraction">
      </propertyTransformation>
            <propertyTransformation
            class="eu.esdihumboldt.cst.functions.string.RegexAnalysis"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.string.regexanalysisfunction"
            id="eu.esdihumboldt.cst.functions.string.regexanalysisfunction">
      </propertyTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            description="Extracts a date from a string type"
            cellExplanation="eu.esdihumboldt.cst.functions.string.DateExtractionExplanation"
            help = "help/date/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.string.dateextraction"
            name="Date extraction">
         <sourceProperties>
            <property
                  description="The source property of which to extract the date"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </sourceProperties>
         <targetProperties>
            <property
                  description="The property that will have a date assigned"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.util.Date">
               </bindingCondition>
            </property>
         </targetProperties>
         <functionParameter
               description="For example: yyyy-MM-dd HH:mm:ss. &#xA; See http://docs.oracle.com/javase/6/docs/api/java/text/SimpleDateFormat.html for more details."
               label="Source date format"
               maxOccurrence="1"
               minOccurrence="1"
               name="dateFormat">
            <parameterBinding>
               <validator
                     class="eu.esdihumboldt.cst.functions.string.DateExtractionFormatValidator">
               </validator>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Lenient parsing of dates, default is true.&#xA; See https://docs.oracle.com/javase/8/docs/api/java/text/DateFormat.html for more details"
               label="Leniency"
               maxOccurrence="1"
               minOccurrence="0"
               name="leniency">
             <parameterBinding
                   class="java.lang.Boolean">
            </parameterBinding>
             <valueDescriptor
                   default="true">
             </valueDescriptor>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.cst.functions.string.RegexAnalysisExplanation"
            description="Analyzes a string given a regular expression"
            help="help/regexanalysis/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.string.regexanalysisfunction"
            name="Regex Analysis">
         <sourceProperties>
            <property
                  description="The source property to analyze"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </sourceProperties>
         <targetProperties>
            <property
                  description="The property that will have the converted string assigned"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </targetProperties>
         <functionParameter
               description="A regular expression containing groups (see http://www.javamex.com/tutorials/regular_expressions/capturing_groups.shtml)."
               label="Regular Expression"
               maxOccurrence="1"
               minOccurrence="1"
               name="regexPattern">
            <parameterBinding>
               <validator
                     class="eu.esdihumboldt.cst.functions.string.RegexFormatValidator">
               </validator>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="The output format to apply, containing curly brackets delimited group definitions. Ex. {1} represents the result of group 1 from the regex analysis."
               label="Output Format"
               maxOccurrence="1"
               minOccurrence="1"
               name="outputFormat">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
   </extension>
</plugin>
