<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.cli">
      <group
            description="Commands working on hale alignments"
            id="project.alignment"
            name="alignment"
            parent="project">
      </group>
      <command
            class="eu.esdihumboldt.hale.app.cli.commands.alignment.SvgDocumentationCommand"
            group="project.alignment"
            id="eu.esdihumboldt.hale.app.cli.commands.export-doc"
            name="export-doc">
      </command>
      <command
            class="eu.esdihumboldt.hale.app.cli.commands.alignment.MappingTableCommand"
            group="project.alignment"
            id="eu.esdihumboldt.hale.app.cli.commands.export-table"
            name="export-table">
      </command>
      <command
            class="eu.esdihumboldt.hale.app.cli.commands.alignment.ExportJsonCommand"
            group="project.alignment"
            id="eu.esdihumboldt.hale.app.cli.commands.export-json"
            name="export-json">
      </command>
   </extension>

</plugin>
