<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.report.ReportList"
            icon="icons/ft_stylelist.gif"
            id="eu.esdihumboldt.hale.ui.views.report.ReportList"
            name="Report List">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties"
            labelProvider="eu.esdihumboldt.hale.ui.views.report.properties.ReportPropertiesLabelProvider">
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties">
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.ReportIOSummary"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.report.properties.summary.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.summary">
            <input
                  type="eu.esdihumboldt.hale.common.core.io.report.IOReport">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.ReportDetails"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.details">
            <input
                  type="eu.esdihumboldt.hale.common.core.io.report.IOReport">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.ReportSummary"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.report.properties.summary.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.summary">
            <input
                  type="eu.esdihumboldt.hale.common.core.report.Report">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.ReportIODetails"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.details">
            <input
                  type="eu.esdihumboldt.hale.common.core.io.report.IOReport">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties">
         <propertyTab
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.report.properties.summary"
               label="Summary">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.report.properties.summary"
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details"
               label="Details">
         </propertyTab>
      </propertyTabs>
   </extension>
</plugin>
