<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.report.ReportList"
            icon="icons/ft_stylelist.gif"
            id="eu.esdihumboldt.hale.ui.views.report.ReportList"
            name="Report List">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties"
            labelProvider="eu.esdihumboldt.hale.ui.views.report.properties.ReportPropertiesLabelProvider">
         <propertyCategory
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties">
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.summary.ReportIOSummary"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.report.properties.summary.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.summary">
            <input
                  type="eu.esdihumboldt.hale.common.core.io.report.IOReport">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.summary.ReportSummary"
               enablesFor="1"
               id="eu.esdihumboldt.hale.ui.views.report.properties.summary.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.summary">
            <input
                  type="eu.esdihumboldt.hale.common.core.report.Report">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.details.info.InfoDetailPage"
               filter="eu.esdihumboldt.hale.ui.views.report.properties.details.info.InfoDetailFilter"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.info.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.details.info">
            <input
                  type="eu.esdihumboldt.hale.common.core.report.Report">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.details.warning.WarningDetailPage"
               filter="eu.esdihumboldt.hale.ui.views.report.properties.details.warning.WarningDetailFilter"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.warning.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.details.warning">
            <input
                  type="eu.esdihumboldt.hale.common.core.report.Report">
            </input>
         </propertySection>
         <propertySection
               class="eu.esdihumboldt.hale.ui.views.report.properties.details.error.ErrorDetailPage"
               filter="eu.esdihumboldt.hale.ui.views.report.properties.details.error.ErrorDetailFilter"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.error.name"
               tab="eu.esdihumboldt.hale.ui.views.report.properties.details.error">
            <input
                  type="eu.esdihumboldt.hale.common.core.report.Report">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="eu.esdihumboldt.hale.ui.views.report.properties">
         <propertyTab
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.report.properties.summary"
               label="Report">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.report.properties.summary"
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.info"
               image="icons/info.gif"
               indented="true"
               label="Info  ">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.report.properties.details"
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.warning"
               image="icons/warning.gif"
               indented="true"
               label="Warnings  ">
         </propertyTab>
         <propertyTab
               afterTab="eu.esdihumboldt.hale.ui.views.report.properties.details"
               category="eu.esdihumboldt.hale.ui.views.report.properties.definition"
               id="eu.esdihumboldt.hale.ui.views.report.properties.details.error"
               image="icons/error.gif"
               indented="true"
               label="Errors  ">
         </propertyTab>
      </propertyTabs>
   </extension>
</plugin>
