<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.io.provider" name="I/O providers" schema="schema/eu.esdihumboldt.hale.io.provider.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.io.action" name="I/O actions and advisors" schema="schema/eu.esdihumboldt.hale.io.action.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.io.project" name="Project extensions" schema="schema/eu.esdihumboldt.hale.io.project.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.report" name="Report" schema="schema/eu.esdihumboldt.hale.report.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.io.complexvalue" name="Complex Values" schema="schema/eu.esdihumboldt.hale.io.complexvalue.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.service" name="Scoped services in HALE" schema="schema/eu.esdihumboldt.hale.service.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.io.resource" name="Resource Advisors" schema="schema/eu.esdihumboldt.hale.io.resource.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.parameter" name="Parameters" schema="schema/eu.esdihumboldt.hale.parameter.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="hale"
            id="eu.esdihumboldt.hale.io.project.hale25"
            name="HALE project"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="halex"
            id="eu.esdihumboldt.hale.io.project.hale25.xml"
            name="HALE XML project"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="hale-project">
            </parameter>
         </describer>
      </content-type>
      <content-type
            file-extensions="halez,zip"
            id="eu.esdihumboldt.hale.io.project.hale25.zip"
            name="HALE project archive"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="gz"
            id="eu.esdihumboldt.hale.common.core.gzip"
            name="GZiped file"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.common.core.io.util.GZipContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.ZipProjectReader"
            id="eu.esdihumboldt.hale.io.project.hale25.reader"
            name="HALE project">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.ZipProjectWriter"
            description="Single project file that includes alignment and styles"
            id="eu.esdihumboldt.hale.io.project.hale25.writer"
            name="HALE project">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.XMLProjectReader"
            id="eu.esdihumboldt.hale.io.project.hale25.xml.reader"
            name="HALE XML project">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25.xml">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.XMLProjectWriter"
            description="XML project file with separate alignment file (best choice for version controlled projects)"
            id="eu.esdihumboldt.hale.io.project.hale25.xml.writer"
            name="HALE XML project">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25.xml">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.ArchiveProjectWriter"
            description="ZIP project archive that also includes local resources (best choice for sharing projects)"
            id="eu.esdihumboldt.hale.io.project.hale25.zip.writer"
            name="HALE project archive">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25.zip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.ArchiveProjectImport"
            id="eu.esdihumboldt.hale.io.project.hale25.zip.import"
            name="HALE project archive (import)">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25.zip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.core.io.project.impl.ArchiveProjectReader"
            id="eu.esdihumboldt.hale.io.project.hale25.zip.reader"
            name="HALE project archive">
         <contentType
               ref="eu.esdihumboldt.hale.io.project.hale25.zip">
         </contentType>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.report">
      <messageDefinition
            class="eu.esdihumboldt.hale.common.core.report.impl.MessageImplDefinition"
            id="eu.esdihumboldt.hale.common.core.message.default">
      </messageDefinition>
      <reportDefinition
            class="eu.esdihumboldt.hale.common.core.report.impl.ReportImplDefintion"
            id="eu.esdihumboldt.hale.common.core.report.default">
      </reportDefinition>
      <messageDefinition
            class="eu.esdihumboldt.hale.common.core.io.report.impl.IOMessageImplDefinition"
            id="eu.esdihumboldt.hale.common.core.io">
      </messageDefinition>
      <reportDefinition
            class="eu.esdihumboldt.hale.common.core.io.report.impl.IOReportImplDefinition"
            id="eu.esdihumboldt.hale.common.core.io">
      </reportDefinition>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.core.io.impl.TextType"
            id="eu.esdihumboldt.hale.common.core.text"
            name="text"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="eu.esdihumboldt.hale.common.core.io.Text">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.core.io.impl.ValuePropertiesType"
            id="eu.esdihumboldt.hale.common.core.properties"
            name="properties"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="eu.esdihumboldt.hale.common.core.io.ValueProperties">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.core.io.impl.ValueMapType"
            id="eu.esdihumboldt.hale.common.core.map"
            name="map"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="eu.esdihumboldt.hale.common.core.io.ValueMap">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.core.io.impl.ValueListType"
            id="eu.esdihumboldt.hale.common.core.list"
            name="list"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="eu.esdihumboldt.hale.common.core.io.ValueList">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.core.io.impl.QNameType"
            id="eu.esdihumboldt.hale.common.core.qname"
            name="name"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="javax.xml.namespace.QName">
      </complexValue>
      <complexValueJson
            class="eu.esdihumboldt.hale.common.core.io.impl.TextTypeJson"
            ref="eu.esdihumboldt.hale.common.core.text">
      </complexValueJson>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.meta">
      <metaClass
            for="java.lang.String"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="java.lang.Number"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="java.lang.Boolean"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="eu.esdihumboldt.hale.common.core.io.Text"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="eu.esdihumboldt.hale.common.core.io.ValueList"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="eu.esdihumboldt.hale.common.core.io.ValueProperties"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="eu.esdihumboldt.hale.common.core.io.ValueMap"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
      <metaClass
            for="javax.xml.namespace.QName"
            implementation="eu.esdihumboldt.hale.common.core.io.internal.AsValueMetaClass">
      </metaClass>
   </extension>
</plugin>
