<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="shp"
            id="eu.esdihumboldt.hale.io.shp"
            name="Shapefile"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.shp.reader.internal.ShapeSchemaReader"
            id="eu.esdihumboldt.hale.io.shape.reader.schema"
            name="Shapefile">
         <contentType
               ref="eu.esdihumboldt.hale.io.shp">
         </contentType>
         <providerParameter
               description="Add an attribute that contains the file name for any data loaded from a Shapefile"
               label="File name attribute"
               name="addFilenameAttribute"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true"
                  defaultDescription="By default the attribute is added"
                  sample="false"
                  sampleDescription="Suppress adding the attribute">
            </valueDescriptor>
         </providerParameter>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.shp.reader.internal.ShapeInstanceReader"
            id="eu.esdihumboldt.hale.io.shape.reader.instance"
            name="Shapefile">
         <contentType
               ref="eu.esdihumboldt.hale.io.shp">
         </contentType>
         <providerParameter
               optional="true"
               valueDescriptor="eu.esdihumboldt.hale.io.shp.reader.internal.ShapeInstanceReader$TypenameParameterDescriptor"
                  description="The name of the schema type the loaded instances should be associated to. Will be auto-detected if not provided."
                  label="Type name"
                  name="typename">
               <parameterBinding
                     class="java.lang.String">
               </parameterBinding>
         </providerParameter>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.resource">
      <advisor
            class="eu.esdihumboldt.hale.io.shp.ShapefileAdvisor"
            id="eu.esdihumboldt.hale.io.shp">
         <contentType
               ref="eu.esdihumboldt.hale.io.shp">
         </contentType>
      </advisor>
   </extension>

</plugin>
