<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.instance.filter" name="Filter definitions" schema="schema/eu.esdihumboldt.hale.instance.filter.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.instance.validation" name="Instance validator" schema="schema/eu.esdihumboldt.hale.instance.validation.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.instance.metadata" name="Instance Metadata" schema="schema/eu.esdihumboldt.hale.instance.metadata.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.instance.processing" name="Instance Processing" schema="schema/eu.esdihumboldt.hale.instance.processing.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            categoryName="Source data"
            id="eu.esdihumboldt.hale.io.instance.read.source"
            name="Load source data"
            resourceName="source data"
            type="eu.esdihumboldt.hale.common.instance.io.InstanceReader">
         <dependsOn
               action="eu.esdihumboldt.hale.io.schema.read.source">
         </dependsOn>
      </action>
      <action
            id="eu.esdihumboldt.hale.io.instance.write.transformed"
            name="Save transformed data"
            type="eu.esdihumboldt.hale.common.instance.io.InstanceWriter">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.instance.write.source"
            name="Save source data"
            type="eu.esdihumboldt.hale.common.instance.io.InstanceWriter">
      </action>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.instance.metadata">
      <metadata
            description="Uniquely identifies an instance"
            generator="eu.esdihumboldt.hale.common.instance.extension.metadata.MetadataIdGenerator"
            icon="icons/pin_editor.gif"
            key="ID"
            label="Identifier">
      </metadata>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allowPackage
            allowChildren="true"
            name="eu.esdihumboldt.hale.common.instance.model">
      </allowPackage>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.instance.geometry.DefaultGeometryProperty">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.Coordinate">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.CoordinateXY">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.CoordinateXYM">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.CoordinateXYZM">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.Polygon">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.LineString">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.LinearRing">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.MultiLineString">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.MultiPolygon">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.Point">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.MultiPoint">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.algorithm.CGAlgorithms">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.GeometryFactory">
      </allow>
      <allow
            allowAll="false"
            class="org.locationtech.jts.geom.GeometryCollection">
      </allow>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.common.instance.InstanceServiceFactory"
            id="eu.esdihumboldt.hale.common.instance"
            scope="global">
         <service
               interface="eu.esdihumboldt.hale.common.instance.model.InstanceFactory">
         </service>
      </services>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.report">
      <messageDefinition
            class="eu.esdihumboldt.hale.common.instance.extension.validation.report.impl.InstanceValidationMessageDefinition"
            id="eu.esdihumboldt.hale.common.instancevalidator">
      </messageDefinition>
      <reportDefinition
            class="eu.esdihumboldt.hale.common.instance.extension.validation.report.impl.InstanceValidationReportDefinition"
            id="eu.esdihumboldt.hale.common.instancevalidator">
      </reportDefinition>
   </extension>
</plugin>
