<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            categoryName="Validator configurations"
            id="eu.esdihumboldt.hale.io.validation.read"
            name="Load validator configuration"
            resourceName="validator configuration"
            type="eu.esdihumboldt.hale.io.validation.ValidationConfigurationReaderImpl">
      </action>
      <advisor
            action="eu.esdihumboldt.hale.io.validation.read"
            class="eu.esdihumboldt.hale.io.validation.ValidatorConfigurationImportAdvisor"
            id="eu.esdihumboldt.hale.io.validation.service">
      </advisor>
   </extension>
   <extension
         point="eu.esdihumboldt.util.resource">
      <resourceType
            id="validatorConfiguration"
            name="Validator Configuration">
      </resourceType>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.validation.ValidationConfigurationReaderImpl"
            id="eu.esdihumboldt.hale.io.validation.reader"
            name="Validator configuration">
         <contentType
               ref="eu.esdihumboldt.hale.io.schematron.schema">
         </contentType>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.io.validation.service.ValidatorConfigurationServiceFactory"
            id="eu.esdihumboldt.hale.io.validation.services"
            scope="project">
         <service
               interface="eu.esdihumboldt.hale.io.validation.service.ValidatorConfigurationService">
         </service>
      </services>
   </extension>

</plugin>
