<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.common.lookup.internal.LookupServiceFactory"
            id="eu.esdihumboldt.hale.common.lookup"
            scope="project">
         <service
               interface="eu.esdihumboldt.hale.common.lookup.LookupService">
         </service>
      </services>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.lookup.internal.LookupTableType"
            id="eu.esdihumboldt.hale.common.lookup.lookuptable"
            name="lookup-table"
            type="eu.esdihumboldt.hale.common.lookup.LookupTable">
      </complexValue>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            categoryName="Lookup tables"
            id="eu.esdihumboldt.hale.lookup.import"
            name="Lookup Table"
            resourceName="lookup table"
            type="eu.esdihumboldt.hale.common.lookup.LookupTableImport">
      </action>
      <advisor
            action="eu.esdihumboldt.hale.lookup.import"
            class="eu.esdihumboldt.hale.common.lookup.internal.LookupImportAdvisor"
            id="eu.esdihumboldt.hale.lookup.import.service">
      </advisor>
   </extension>
	<extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.lookup.internal.LookupServiceImpl">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.lookup.impl.LookupTableInfoImpl">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.lookup.impl.LookupTableImpl">
      </allow>
   </extension>
</plugin>
