<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.MappingExport">
      <MappingExportFactory
            description="CSV Export"
            extension="*.csv"
            name="CSV"
            providerClass="eu.esdihumboldt.hale.csvexporter.CsvMappingExportFactory">
      </MappingExportFactory>
   </extension>

</plugin>
