<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fhg.igd.mapviewer.view.MapViewExtension">
      <extra
            class="eu.esdihumboldt.hale.ui.views.styledmap.StyledMapExtra"
            name="HALE Styled Map">
      </extra>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.esdihumboldt.hale.ui.views.styledmap.StyledMapPerspective"
            icon="icons/world.gif"
            id="eu.esdihumboldt.hale.ui.views.styledmap"
            name="Map">
      </perspective>
   </extension>
   <extension
         point="de.fhg.igd.mapviewer.TileOverlayPainter">
      <painter
            class="eu.esdihumboldt.hale.ui.views.styledmap.painter.SourceInstancePainter"
            id="eu.esdihumboldt.hale.ui.views.styledmap.source"
            name="Source data"
            priority="5"
            showInMiniMap="false">
      </painter>
   </extension>
   <extension
         point="de.fhg.igd.mapviewer.MapTool">
      <tool
            class="eu.esdihumboldt.hale.ui.views.styledmap.tool.InstanceTool"
            description="&lt;html&gt;&lt;body&gt;&lt;p&gt;&lt;font size=&quot;2&quot; face=&quot;Arial&quot;&gt;Instance selection&lt;br&gt;&lt;b&gt;Left click:&lt;/b&gt; Select an object or close a selection rectangle&lt;br&gt;&lt;b&gt;Ctrl+click:&lt;/b&gt; Select an object or close a selection rectangle and add it to the current selection&lt;br&gt;&lt;b&gt;Alt+click:&lt;/b&gt; Opens a selection rectangle (Cancel using right click)&lt;br&gt;&lt;b&gt;Double click:&lt;/b&gt; Center on this position and zoom in by one level&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;"
            icon="icons/pointer.png"
            name="Selection"
            priority="20">
      </tool>
   </extension>

</plugin>
