<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fhg.igd.mapviewer.view.MapViewExtension">
      <extra
            class="eu.esdihumboldt.hale.ui.views.styledmap.StyledMapExtra"
            name="HALE Styled Map">
      </extra>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.esdihumboldt.hale.ui.views.styledmap.StyledMapPerspective"
            icon="icons/world.gif"
            id="eu.esdihumboldt.hale.ui.views.styledmap"
            name="Map">
      </perspective>
   </extension>
   <extension
         point="de.fhg.igd.mapviewer.TileOverlayPainter">
      <painter
            class="eu.esdihumboldt.hale.ui.views.styledmap.painter.SourceInstancePainter"
            id="eu.esdihumboldt.hale.ui.views.styledmap.source"
            name="Source data"
            priority="5"
            showInMiniMap="false">
      </painter>
   </extension>
   <extension
         point="de.fhg.igd.mapviewer.MapTool">
      <tool
            class="eu.esdihumboldt.hale.ui.views.styledmap.tool.InstanceTool"
            description="&lt;html&gt;&lt;body&gt;&lt;p&gt;&lt;font size=&quot;2&quot; face=&quot;Arial&quot;&gt;Instance selection&lt;br&gt;&lt;b&gt;Left click:&lt;/b&gt; Select an object or close a selection rectangle&lt;br&gt;&lt;b&gt;Ctrl+click:&lt;/b&gt; Select an object or close a selection rectangle and add it to the current selection&lt;br&gt;&lt;b&gt;Alt+click:&lt;/b&gt; Opens a selection rectangle (Cancel using right click)&lt;br&gt;&lt;b&gt;Double click:&lt;/b&gt; Center on this position and zoom in by one level&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;"
            icon="icons/pointer.png"
            name="Selection"
            priority="20">
      </tool>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fhg.igd.mapviewer.view.MapView">
         <separator
               name="eu.esdihumboldt.hale.ui.views.styledmap"
               visible="true">
         </separator>
         <command
               commandId="eu.esdihumboldt.hale.ui.views.styledmap.zoomToAll"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               label="Map">
            <command
                  commandId="eu.esdihumboldt.hale.ui.views.styledmap.zoomToAll"
                  style="push">
            </command>
            <separator
                  name="eu.esdihumboldt.hale.ui.views.styledmap.mapmenu.separator"
                  visible="true">
            </separator>
            <dynamic
                  class="de.fhg.igd.mapviewer.view.MapMenu"
                  id="eu.esdihumboldt.hale.ui.views.styledmap.mapmenu">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activePartId">
                     <equals
                           value="de.fhg.igd.mapviewer.view.MapView">
                     </equals>
                  </with>
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="eu.esdihumboldt.hale.ui.views.styledmap">
                     </equals>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="eu.esdihumboldt.hale.ui.views.styledmap.zoomToAll"
            icon="icons/navigation.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.esdihumboldt.hale.ui.views.styledmap.handler.ZoomToAllHandler"
            description="Zoom to the instances available in the map"
            id="eu.esdihumboldt.hale.ui.views.styledmap.zoomToAll"
            name="Zoom to instances">
      </command>
   </extension>

</plugin>
