<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="SERVICE" class="de.cs3d.util.logging.logback.appender.ServiceAppender">
  </appender>
  <appender name="CONSOLE" class="de.cs3d.util.logging.logback.appender.StaticConsoleAppender">
  	<filter class="de.cs3d.util.logging.logback.appender.FlattenFilter" />
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{dd.MM.yyyy HH:mm:ss} %-5level %C{1}.%M\(%L\) - %m%n</Pattern>
    </encoder>
  </appender>
  <logger name="eu.esdihumboldt" level="INFO" />
  <logger name="org.springframework" level="INFO" />
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="SERVICE"/>
  </root>
</configuration>
