<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.util.resource" name="Resource resolvers" schema="schema/eu.esdihumboldt.util.resource.exsd"/>
   <extension
         point="eu.esdihumboldt.util.resource">
      <resourceType
            id="xmlSchema"
            name="XML Schemas">
      </resourceType>
   </extension>

</plugin>
