<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="inspire.templates"
         name="Generate project templates for INSPIRE application schemas"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="eu.esdihumboldt.hale.common.inspire.apps.templates.GenerateTemplatesApplication">
         </run>
      </application>
   </extension>

</plugin>
