<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.common.instance.index.spatial.SpatialIndexServiceFactory"
            id="eu.esdihumboldt.hale.common.instance.index.spatial.service"
            scope="project">
         <service
               interface="eu.esdihumboldt.hale.common.instance.index.spatial.SpatialIndexService">
         </service>
      </services>
      <services
            factory="eu.esdihumboldt.hale.common.instance.index.InstanceIndexServiceFactory"
            id="eu.esdihumboldt.hale.common.instance.index.service.instance"
            scope="project">
         <service
               interface="eu.esdihumboldt.hale.common.instance.index.InstanceIndexService">
         </service>
      </services>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.instance.processing">
      <sourceProcessor
            class="eu.esdihumboldt.hale.common.instance.index.spatial.SpatialIndexInstanceProcessor"
            id="eu.esdihumboldt.hale.common.instance.index.processor"></sourceProcessor>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.instance.index.spatial.RTreeSpatialIndexService">
      </allow>
   </extension>

</plugin>
