<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.common.instance.index.spatial.SpatialIndexServiceFactory"
            id="eu.esdihumboldt.hale.common.instance.index.spatial.service"
            scope="project">
         <service
               interface="eu.esdihumboldt.hale.common.instance.index.spatial.SpatialIndexService">
         </service>
      </services>
   </extension>

</plugin>
