<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="gml,xml"
            id="eu.esdihumboldt.hale.io.gml"
            name="GML file"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="FeatureCollection">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.io.gml"
            file-extensions="gml,xml"
            id="eu.esdihumboldt.hale.io.citygml"
            name="CityGML file"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="CityModel">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.io.gml"
            file-extensions="gml,xml"
            id="eu.esdihumboldt.hale.io.inspiregml"
            name="GML (INSPIRE SpatialDataSet)"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="SpatialDataSet">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.io.xml.gzip"
            file-extensions="gml.gz,xml.gz,gz"
            id="eu.esdihumboldt.hale.io.gml.gzip"
            name="GZiped GML file"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.common.core.io.util.GZipXMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="FeatureCollection">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.io.xml.gzip"
            file-extensions="gml.gz,xml.gz,gz"
            id="eu.esdihumboldt.hale.io.citygml.gzip"
            name="GZiped CityGML file"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.common.core.io.util.GZipXMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="CityModel">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.io.xml.gzip"
            file-extensions="gml.gz,xml.gz,gz"
            id="eu.esdihumboldt.hale.io.inspiregml.gzip"
            name="GZiped GML (INSPIRE SpatialDataSet)"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.common.core.io.util.GZipXMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="SpatialDataSet">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.gml.reader.internal.GmlInstanceReader"
            id="eu.esdihumboldt.hale.io.gml.reader"
            name="GML (Features)">
         <contentType
               ref="eu.esdihumboldt.hale.io.gml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.gml.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.gml.reader.internal.XmlInstanceReader"
            id="eu.esdihumboldt.hale.io.xml.reader"
            name="XML">
         <contentType
               ref="org.eclipse.core.runtime.xml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xml.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.gml.writer.GmlInstanceWriter"
            id="eu.esdihumboldt.hale.io.gml.writer"
            name="GML (FeatureCollection)">
         <contentType
               ref="eu.esdihumboldt.hale.io.gml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.gml.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.gml.writer.XmlInstanceWriter"
            id="eu.esdihumboldt.hale.io.xml.writer"
            name="XML (Custom root element)">
         <contentType
               ref="org.eclipse.core.runtime.xml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.xml.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.gml.writer.CityGMLInstanceWriter"
            id="eu.esdihumboldt.hale.io.citygml.writer"
            name="CityGML (CityModel)">
         <contentType
               ref="eu.esdihumboldt.hale.io.citygml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.citygml.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.gml.writer.InspireInstanceWriter"
            id="eu.esdihumboldt.hale.io.inspiregml.writer"
            name="GML (INSPIRE SpatialDataSet)">
         <contentType
               ref="eu.esdihumboldt.hale.io.gml">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.gml.gzip">
         </contentType>
         <providerParameter
               optional="false"
               parameterValue="eu.esdihumboldt.hale.io.gml.writer.InspireSDSNamespaceDefaultValue">
            <parameter
                  description="The parameter name for the namespace attribute"
                  label="inspire.sds.namespace"
                  name="inspire.sds.namespace">
            </parameter>
         </providerParameter>
         <providerParameter
               optional="true">
            <parameter
                  description="The path to a metadata (XML) file."
                  label="inspire.sds.metadata"
                  name="inspire.sds.metadata">
               <parameterBinding
                     class="java.io.File">
               </parameterBinding>
            </parameter>
         </providerParameter>
      </provider>
   </extension>

</plugin>
