<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.schema.valueconstraint" name="Constraints represented as Values" schema="schema/eu.esdihumboldt.hale.schema.valueconstraint.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.schema.validatorfactory" name="Validators represented as and created from Values" schema="schema/eu.esdihumboldt.hale.schema.validatorfactory.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            categoryName="Source schemas"
            id="eu.esdihumboldt.hale.io.schema.read.source"
            name="Load source schema"
            resourceName="source schema"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </action>
      <action
            categoryName="Target schemas"
            id="eu.esdihumboldt.hale.io.schema.read.target"
            name="Load target schema"
            resourceName="target schema"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.export.target"
            name="Export target schemas"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaWriter">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.export.source"
            name="Export source schemas"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaWriter">
      </action>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.schema.valueconstraint">
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.CardinalityFactory"
            id="cardinality"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.Cardinality">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.ChoiceFlagFactory"
            id="choice"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.ChoiceFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.NillableFlagFactory"
            id="nillable"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.NillableFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.UniqueConstraintFactory"
            id="unique-context"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.Unique">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.AbstractFlagFactory"
            id="abstract"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.AbstractFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.AugmentedValueFlagFactory"
            id="augmented-value"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.AugmentedValueFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.HasValueFlagFactory"
            id="has-value"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.HasValueFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.MappableFlagFactory"
            id="mappable"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.MappableFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.MappingRelevantFlagFactory"
            id="mapping-relevant"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.MappingRelevantFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.BindingFactory"
            id="binding"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.Binding">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.EnumerationFactory"
            id="enumeration"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.Enumeration">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.factory.DisplayNameFactory"
            id="display-name"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.DisplayName">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.ReferenceFactory"
            id="reference"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.Reference">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.ElementTypeFactory"
            id="element-type"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.ElementType">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.GeometryTypeFactory"
            id="geometry-type"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.GeometryType">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.PrimaryKeyFactory"
            id="primary-key"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.PrimaryKey">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.SkipValidationFactory"
            id="skip-validation"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.SkipValidation">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.ValidationConstraintFactory"
            id="validation"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.ValidationConstraint">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.type.factory.GeometryMetadataFactory"
            id="geometry-metadata"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.type.GeometryMetadata">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.CodeListAssocationFactory"
            id="codelists"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.CodeListAssociation">
      </valueconstraint>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.schema.validatorfactory">
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.PatternValidatorFactory"
            id="pattern"
            type="eu.esdihumboldt.util.validator.PatternValidator">
      </validator>
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.AndValidatorFactory"
            id="and"
            type="eu.esdihumboldt.util.validator.AndValidator">
      </validator>
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.OrValidatorFactory"
            id="or"
            type="eu.esdihumboldt.util.validator.OrValidator">
      </validator>
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.LengthValidatorFactory"
            id="length"
            type="eu.esdihumboldt.util.validator.LengthValidator">
      </validator>
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.DigitCountValidatorFactory"
            id="digit-count"
            type="eu.esdihumboldt.util.validator.DigitCountValidator">
      </validator>
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.NumberValidatorFactory"
            id="number"
            type="eu.esdihumboldt.util.validator.NumberValidator">
      </validator>
      <validator
            factory="eu.esdihumboldt.hale.common.schema.model.validate.factory.impl.EnumerationValidatorFactory"
            id="enumeration"
            type="eu.esdihumboldt.util.validator.EnumerationValidator">
      </validator>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.schema.model.validate.factory.internal.ValidatorValueType"
            id="validator"
            name="validator"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="eu.esdihumboldt.hale.common.schema.model.validate.factory.ValidatorValue">
      </complexValue>
      <alias
            for="validator"
            id="eu.esdihumboldt.hale.common.schema.model.validate.factory.ValidatorValue">
      </alias>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allowPackage
            allowChildren="true"
            name="eu.esdihumboldt.hale.common.schema.model">
      </allowPackage>
      <allow
            allowAll="false"
            class="javax.xml.namespace.QName">
      </allow>
   </extension>

</plugin>
