<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            id="eu.esdihumboldt.hale.io.schema.read.source"
            name="Load source schema"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.read.target"
            name="Load target schema"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.export.target"
            name="Export target schemas"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaWriter">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.export.source"
            name="Export source schemas"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaWriter">
      </action>
   </extension>

</plugin>
