<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.schema.valueconstraint" name="Constraints represented as Values" schema="schema/eu.esdihumboldt.hale.schema.valueconstraint.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            categoryName="Source schemas"
            id="eu.esdihumboldt.hale.io.schema.read.source"
            name="Load source schema"
            resourceName="source schema"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </action>
      <action
            categoryName="Target schemas"
            id="eu.esdihumboldt.hale.io.schema.read.target"
            name="Load target schema"
            resourceName="target schema"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaReader">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.export.target"
            name="Export target schemas"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaWriter">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.schema.export.source"
            name="Export source schemas"
            type="eu.esdihumboldt.hale.common.schema.io.SchemaWriter">
      </action>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.schema.valueconstraint">
      <valueconstraint
            factory="eu.esdihumboldt.hale.common.schema.model.constraint.property.factory.CardinalityFactory"
            id="cardinality"
            type="eu.esdihumboldt.hale.common.schema.model.constraint.property.Cardinality">
      </valueconstraint>
   </extension>

</plugin>
