<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="eu.esdihumboldt.hale.ui.views.properties">
         <propertySection
               afterSection="eu.esdihumboldt.hale.io.xsd.ui.properties.xmlelementssection"
               class="eu.esdihumboldt.hale.io.xsd.ui.properties.PropertyTypeXmlAttributeFlagSection"
               enablesFor="1"
               id="eu.esdihumboldt.hale.io.xsd.ui.properties.xmlattributeflag"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.PropertyDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="eu.esdihumboldt.hale.ui.views.properties.definition.constraints.nillableflag"
               class="eu.esdihumboldt.hale.io.xsd.ui.properties.TypeDefinitionXmlElementsSection"
               enablesFor="1"
               filter="eu.esdihumboldt.hale.io.xsd.ui.properties.TypeDefinitionXmlElementsFilter"
               id="eu.esdihumboldt.hale.io.xsd.ui.properties.xmlelementssection"
               tab="eu.esdihumboldt.hale.ui.views.properties.definition.constraints">
            <input
                  type="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
            </input>
            <input
                  type="eu.esdihumboldt.hale.common.align.model.Type">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.xsd.ui.XsdReaderSettingsPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.xsd.reader">
         </provider>
      </configPage>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.esdihumboldt.hale.io.xsd.ui.configureAnyType"
            name="Configure type content">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.esdihumboldt.hale.io.xsd.ui.anytype.ConfigureTypeHandler"
            commandId="eu.esdihumboldt.hale.io.xsd.ui.configureAnyType">
      </handler>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.schema.presets">
      <schema
            category="de"
            description="AAA (ATKIS, ALKIS, AFIS) Modell der Arbeitsgemeinschaft der Vermessungsverwaltungen der Länder der Bundesrepublik Deutschland (AdV)"
            id="de.adv-online.aaa"
            name="AAA XML Schema"
            version="6.0">
         <uri
               value="http://repository.gdi-de.org/schemas/adv/nas/6.0/aaa.xsd">
         </uri>
      </schema>
      <category
            id="de"
            name="Germany">
      </category>
   </extension>

</plugin>
