<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="InfoCenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.help.base.infocenterApplication"
            name="HALE Infocenter">
         <property
               name="appName"
               value="HALE Infocenter">
         </property>
      </product>
   </extension>
</plugin>
