<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="InfoCenter"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.esdihumboldt.hale.doc.application.infocenterApplication"
            name="halestudio Infocenter">
         <property
               name="appName"
               value="halestudio Infocenter">
         </property>
      </product>
   </extension>
   <extension
         id="infocenterApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.esdihumboldt.hale.doc.application.CustomHelpApplication">
            <parameter
                  name="mode"
                  value="infocenter">
            </parameter>
         </run>
      </application>
   </extension>
</plugin>
