<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eu.esdihumboldt.hale.platform" sequenceNumber="340">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.fhg.igd.eclipse.ui.util.feature.feature.group" version="1.0.0.201407081822"/>
<unit id="de.fhg.igd.eclipse.util.feature.feature.group" version="1.0.0.201407081822"/>
<repository location="http://build-artifacts.wetransform.to/p2/eclipse-util/import"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="platform.shared.sqlite.feature.group" version="3.8.7.bnd-uQXCA"/>
<repository location="http://build-artifacts.wetransform.to/p2/sqlite/build_7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.fhg.igd.slf4jplus.feature.feature.group" version="1.2.0.201503311443"/>
<unit id="de.fhg.igd.slf4jplus.ui.feature.feature.group" version="1.2.0.201503311443"/>
<repository location="http://build-artifacts.wetransform.to/p2/slf4jplus/import"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.18.201510140934"/>
<repository location="http://build-artifacts.wetransform.to/p2/mirror/jetty-8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://build-artifacts.wetransform.to/p2/mirror/gef-legacy-releases/"/>
<unit id="org.eclipse.gef.all.feature.group" version="3.11.0.201606061308"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://build-artifacts.wetransform.to/p2/equinox-test/build_4"/>
		<unit id="de.fhg.igd.equinox.test.feature.feature.group" version="1.2.0.202203220819"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://gitlab.wetransform.to/hale/hale-build-support/raw/fb75991068d88e6ca76df7bbee252e759c7179f3/updatesites/platform"/>
		<unit id="eu.esdihumboldt.hale.platform.feature.group" version="4.1.0.i20221117"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/eclipse/updates/4.24/"/>
		<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.24.0.v20220420-0901"/>
		<unit id="org.eclipse.sdk.ide" version="4.24.0.I20220607-0700"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2022-06"/>
		<unit id="org.eclipse.ecf.core.feature.group" version="3.14.33.v20220224-2257"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.13.0.v20220519-1115"/>
		<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.13.0.v20220519-1115"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.30.0.v20220516-1117"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.400.v20220516-2155"/>
		<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.14.2.202204130739"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.27.0.v20220530-0508"/>
	</location>
</locations>
</target>