<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eu.esdihumboldt.hale.platform" sequenceNumber="310">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.3.v201512160634"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.3.v201512160556"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.2.v20160202-2102"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.201508170204"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.9.0.201506060219"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.1.v201512180746"/>
<repository location="http://build-artifacts.wetransform.to/p2/mirror/mars-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="eu.esdihumboldt.hale.platform.feature.group" version="3.3.0.i20170529"/>
<repository location="https://gitlab.wetransform.to/hale/hale-build-support/raw/c80253ce6e419aec7b80e29ed52ccf4df97d787d/updatesites/platform"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.fhg.igd.eclipse.ui.util.feature.feature.group" version="1.0.0.201407081822"/>
<unit id="de.fhg.igd.eclipse.util.feature.feature.group" version="1.0.0.201407081822"/>
<repository location="http://build-artifacts.wetransform.to/p2/eclipse-util/import"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="platform.shared.sqlite.feature.group" version="3.8.7.bnd-uQXCA"/>
<repository location="http://build-artifacts.wetransform.to/p2/sqlite/build_7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.5.1.v20160129-0959"/>
<unit id="org.eclipse.sdk.ide" version="4.5.2.M20160212-1500"/>
<repository location="http://build-artifacts.wetransform.to/p2/mirror/mars-eclipse"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.fhg.igd.slf4jplus.feature.feature.group" version="1.2.0.201503311443"/>
<unit id="de.fhg.igd.slf4jplus.ui.feature.feature.group" version="1.2.0.201503311443"/>
<repository location="http://build-artifacts.wetransform.to/p2/slf4jplus/import"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.18.201510140934"/>
<repository location="http://build-artifacts.wetransform.to/p2/mirror/jetty-8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.fhg.igd.equinox.test.feature.feature.group" version="1.2.0.201701051219"/>
<repository location="http://build-artifacts.wetransform.to/p2/equinox-test/build_3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="eu.esdihumboldt.hale.platform.feature.group" version="3.4.0.i20180329"/>
<repository location="https://gitlab.wetransform.to/hale/hale-build-support/raw/0b7e6d1de8d68a95e6a06ae54e9aabe93c3e6c69/updatesites/platform"/>
</location>
</locations>
</target>
