<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.cst.functions.groovy.helper" name="Helper functions for Groovy scripts" schema="schema/eu.esdihumboldt.cst.functions.groovy.helper.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyExplanation"
            description="Use a groovy script to derive a target property value."
            help="help/script.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy"
            name="Groovy script">
         <targetProperties>
            <property
                  description="The property to store the script result in."
                  label="Result"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="result">
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="A variable for the script."
                  label="Variable"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
            </property>
         </sourceProperties>
         <functionParameter
               label="Groovy script"
               maxOccurrence="1"
               minOccurrence="1"
               name="script">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.core.text">
            </parameterComplexValue>
         </functionParameter>
         <functionParameter
               description="Use the complete structured instances as variables in the script instead of only the value if a variable has child properties"
               label="Use instances for variables with child properties"
               maxOccurrence="1"
               minOccurrence="0"
               name="variablesAsInstances"
               scriptable="false">
            <parameterEnumeration>
               <enumerationValue
                     value="true">
               </enumerationValue>
               <enumerationValue
                     value="false">
               </enumerationValue>
            </parameterEnumeration>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyExplanation"
            description="Use a groovy script to derive a target property value."
            icon="icons/star.png"
            help="help/script.xhtml"
            identifier="eu.esdihumboldt.cst.functions.groovy.greedy"
            name="Groovy script (greedy)">
         <targetProperties>
            <property
                  description="The property to store the script result in."
                  label="Result"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="result">
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="Variables for the script."
                  eager="true"
                  label="Variables"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
            </property>
         </sourceProperties>
         <functionParameter
               label="Groovy script"
               maxOccurrence="1"
               minOccurrence="1"
               name="script">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.core.text">
            </parameterComplexValue>
         </functionParameter>
         <functionParameter
               description="Use the complete structured instances as variables in the script instead of only the value if a variable has child properties"
               label="Use instances for variables with child properties"
               maxOccurrence="1"
               minOccurrence="0"
               name="variablesAsInstances"
               scriptable="false">
            <parameterEnumeration>
               <enumerationValue
                     value="true">
               </enumerationValue>
               <enumerationValue
                     value="false">
               </enumerationValue>
            </parameterEnumeration>
         </functionParameter>
      </propertyFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyRetypeExplanation"
            description="Use a Groovy script to do a 1:1 instance conversion."
            help="help/retype.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.retype"
            name="Groovy Retype">
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <sourceTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </sourceTypes>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.core.text">
            </parameterComplexValue>
         </functionParameter>
      </typeFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyCreateExplanation"
            description="Use a Groovy script to create target instances."
            help="help/create.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.create"
            name="Groovy Create">
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.core.text">
            </parameterComplexValue>
         </functionParameter>
         <functionParameter
               description="Number of instances to create (or rather the number of invocations of the script)"
               label="Number of instances"
               maxOccurrence="1"
               minOccurrence="0"
               name="number"
               scriptable="false">
            <parameterBinding
                  class="java.lang.Integer">
            </parameterBinding>
         </functionParameter>
      </typeFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyMergeExplanation"
            cellMigrator="eu.esdihumboldt.hale.common.align.model.functions.merge.MergeMigrator"
            description="Merges multiple instances of the source type into one instance of the target type, based on one or more matching properties."
            help="help/merge.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.merge"
            name="Groovy Merge">
         <sourceTypes>
            <type
                  description="The source typed that is to be merged based on its properties."
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </sourceTypes>
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="Each property is defined by a property path"
               label="Merge property (key)"
               maxOccurrence="n"
               minOccurrence="1"
               name="property">
            <parameterBinding></parameterBinding>
         </functionParameter>
         <functionParameter
               description="Each property is defined by a property path"
               label="Merge property (no key)"
               maxOccurrence="n"
               minOccurrence="0"
               name="additional_property">
            <parameterBinding></parameterBinding>
         </functionParameter>
         <functionParameter
               description="Enable/disable auto detection of additional equal properties which will get merged."
               label="Auto detect and merge properties with equal values"
               maxOccurrence="1"
               minOccurrence="1"
               name="auto_detect">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
         </functionParameter>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.core.text">
            </parameterComplexValue>
         </functionParameter>
      </typeFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyJoinExplanation"
            cellMigrator="eu.esdihumboldt.hale.common.align.model.functions.join.JoinMigrator"
            description="Joins multiple instances of different source types into one instance of the target type, based on one or more matching properties."
            help="help/join.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.join"
            name="Groovy Join">
         <sourceTypes>
            <type
                  description="The source types that are to be joined based on their properties."
                  maxOccurrence="n"
                  minOccurrence="2"
                  name="types">
            </type>
         </sourceTypes>
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="Join definition"
               label="Join definition"
               maxOccurrence="1"
               minOccurrence="1"
               name="join">
            <parameterBinding></parameterBinding>
         </functionParameter>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.core.text">
            </parameterComplexValue>
         </functionParameter>
      </typeFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyTransformation"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy"
            id="eu.esdihumboldt.cst.functions.groovy">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyGreedyTransformation"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.greedy"
            id="eu.esdihumboldt.cst.functions.groovy.greedy">
      </propertyTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyCreate"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.create"
            id="eu.esdihumboldt.cst.functions.groovy.create">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyRetype"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.retype"
            id="eu.esdihumboldt.cst.functions.groovy.retype">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyMerge"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.merge"
            id="eu.esdihumboldt.cst.functions.groovy.merge">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyJoin"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.join"
            id="eu.esdihumboldt.cst.functions.groovy.join">
      </typeTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="Functions configured through a Groovy script"
            id="eu.esdihumboldt.cst.functions.groovy"
            name="Groovy">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.functions.groovy.internal.TransformationLogWrapper">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.functions.groovy.internal.InstanceAccessorArrayList">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.functions.groovy.internal.TargetCollector">
      </allow>
      <allow
            allowAll="true"
            class="eu.esdihumboldt.cst.functions.groovy.helper.HelperFunctions">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.functions.groovy.internal.ProjectAccessor">
      </allow>
      <allow
            allowAll="true"
            class="eu.esdihumboldt.cst.functions.groovy.internal.GroovyProjectVariables">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.functions.groovy.filter.LogWrapper">
      </allow>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.meta">
      <metaClass
            for="java.lang.Object"
            forArray="true"
            implementation="eu.esdihumboldt.cst.functions.groovy.internal.AsMultiValueMetaClass">
      </metaClass>
      <metaClass
            for="java.lang.Iterable"
            forArray="false"
            implementation="eu.esdihumboldt.cst.functions.groovy.internal.AsMultiValueMetaClass">
      </metaClass>
   </extension>
   <extension
         point="eu.esdihumboldt.cst.functions.groovy.helper">
      <category
            path="ROOT">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.cst.functions.groovy.GroovyServiceFactory"
            id="eu.esdihumboldt.cst.functions.groovy.GroovyServiceFactory"
            scope="global">
         <service
               interface="eu.esdihumboldt.cst.functions.groovy.helper.HelperFunctionsService">
         </service>
      </services>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.instance.filter">
      <filterDefinition
            class="eu.esdihumboldt.cst.functions.groovy.filter.GroovyFilterDefinition"
            id="groovy">
      </filterDefinition>
   </extension>

</plugin>
