<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.cst.functions.groovy.GroovyExplanation"
            description="Use a groovy script to derive a target property value."
            help="help/script.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy"
            name="Groovy script">
         <targetProperties>
            <property
                  description="The property to store the script result in."
                  label="Result"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="result">
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="A variable for the script."
                  label="Variable"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
            </property>
         </sourceProperties>
         <functionParameter
               label="Groovy script"
               maxOccurrence="1"
               minOccurrence="1"
               name="script">
            <functionParameterBinding>
            </functionParameterBinding>
         </functionParameter>
         <functionParameter
               description="Use the complete structured instances as variables in the script instead of only the value if a variable has child properties"
               label="Use instances for variables with child properties"
               maxOccurrence="1"
               minOccurrence="0"
               name="variablesAsInstances"
               scriptable="false">
            <functionParameterEnumeration>
               <enumerationValue
                     value="true">
               </enumerationValue>
               <enumerationValue
                     value="false">
               </enumerationValue>
            </functionParameterEnumeration>
         </functionParameter>
      </propertyFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            description="Use a Groovy script to do a 1:1 instance conversion."
            help="help/retype.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.retype"
            name="Groovy Retype">
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <sourceTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </sourceTypes>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <functionParameterBinding></functionParameterBinding>
         </functionParameter>
      </typeFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            description="Use a Groovy script to create target instances."
            help="help/create.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.create"
            name="Groovy Create">
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <functionParameterBinding></functionParameterBinding>
         </functionParameter>
         <functionParameter
               description="Number of instances to create"
               label="Number of instances"
               maxOccurrence="1"
               minOccurrence="0"
               name="number"
               scriptable="false">
            <functionParameterBinding
                  class="java.lang.Integer">
            </functionParameterBinding>
         </functionParameter>
      </typeFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.groovy"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.MergeExplanation"
            description="Merges multiple instances of the source type into one instance of the target type, based on one or more matching properties."
            help="help/merge.xhtml"
            icon="icons/star.png"
            identifier="eu.esdihumboldt.cst.functions.groovy.merge"
            name="Groovy Merge">
         <sourceTypes>
            <type
                  description="The source typed that is to be merged based on its properties."
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </sourceTypes>
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="Each property is defined by a property path"
               label="Merge property (key)"
               maxOccurrence="n"
               minOccurrence="1"
               name="property">
            <functionParameterBinding></functionParameterBinding>
         </functionParameter>
         <functionParameter
               description="Each property is defined by a property path"
               label="Merge property (no key)"
               maxOccurrence="n"
               minOccurrence="0"
               name="additional_property">
            <functionParameterBinding></functionParameterBinding>
         </functionParameter>
         <functionParameter
               description="Enable/disable auto detection of additional equal properties which will get merged."
               label="Auto detect and merge properties with equal values"
               maxOccurrence="1"
               minOccurrence="1"
               name="auto_detect">
            <functionParameterBinding
                  class="java.lang.Boolean">
            </functionParameterBinding>
         </functionParameter>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="script"
               scriptable="false">
            <functionParameterBinding></functionParameterBinding>
         </functionParameter>
      </typeFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyTransformation"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy"
            id="eu.esdihumboldt.cst.functions.groovy">
      </propertyTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyCreate"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.create"
            id="eu.esdihumboldt.cst.functions.groovy.create">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyRetype"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.retype"
            id="eu.esdihumboldt.cst.functions.groovy.retype">
      </typeTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.groovy.GroovyMerge"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.groovy.merge"
            id="eu.esdihumboldt.cst.functions.groovy.merge">
      </typeTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="Functions configured through a Groovy script"
            id="eu.esdihumboldt.cst.functions.groovy"
            name="Groovy">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>

</plugin>
