<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="eu.esdihumboldt.hale.io.codelist.xml"
            name="Dictionary XML code list"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="Dictionary">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="eu.esdihumboldt.hale.io.codelist.inspire"
            name="INSPIRE code list"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="codelist">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.codelist.xml.reader.XmlCodeListReader"
            id="eu.esdihumboldt.hale.io.codelist.xml.reader"
            name="Dictionary XML code list">
         <contentType
               ref="eu.esdihumboldt.hale.io.codelist.xml">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.codelist.inspire.reader.INSPIRECodeListReader"
            id="eu.esdihumboldt.hale.io.codelist.inspire.reader"
            name="INSPIRE code list">
         <contentType
               ref="eu.esdihumboldt.hale.io.codelist.inspire">
         </contentType>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.resource">
      <advisor
            class="eu.esdihumboldt.hale.io.codelist.InspireCodeListAdvisor"
            id="eu.esdihumboldt.hale.io.codelist.inspire.advisor">
         <contentType
               ref="eu.esdihumboldt.hale.io.codelist.inspire">
         </contentType>
      </advisor>
   </extension>

</plugin>
