<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            allowDuplicate="false"
            class="eu.esdihumboldt.hale.io.schemabuilder.SchemaBuilderReader"
            description="Reads a schema from a schema builder script. Intended for testing purposes."
            id="eu.esdihumboldt.hale.io.schemabuilder"
            name="Schema builder script [unsafe]">
         <contentType
               ref="eu.esdihumboldt.hale.io.schemabuilder">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="schemabuilder,groovy"
            id="eu.esdihumboldt.hale.io.schemabuilder"
            name="Schema builder script"
            priority="normal">
      </content-type>
   </extension>

</plugin>
