<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.instancevalidator" name="Instance Validator Extension" schema="schema/eu.esdihumboldt.hale.instancevalidator.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.instance.validation">
      <typeConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.type.AbstractFlag"
            id="eu.esdihumboldt.hale.common.instancevalidator.abstractFlag"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.AbstractFlagValidator">
      </typeConstraintValidator>
      <typeConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.type.ValidationConstraint"
            id="eu.esdihumboldt.hale.common.instancevalidator.validation"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.ValidationConstraintValidator">
      </typeConstraintValidator>
      <propertyConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.property.Cardinality"
            id="eu.esdihumboldt.hale.common.instancevalidator.propCardinality"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.CardinalityValidator">
      </propertyConstraintValidator>
      <groupPropertyConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.property.Cardinality"
            id="eu.esdihumboldt.hale.common.instancevalidator.groupCardinality"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.CardinalityValidator">
      </groupPropertyConstraintValidator>
      <propertyConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.property.NillableFlag"
            id="eu.esdihumboldt.hale.common.instancevalidator.nillable"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.NillableFlagValidator">
      </propertyConstraintValidator>
      <groupPropertyConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.property.ChoiceFlag"
            id="eu.esdihumboldt.hale.common.instancevalidator.choice"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.ChoiceFlagValidator">
      </groupPropertyConstraintValidator>
      <propertyConstraintValidator
            constraint="eu.esdihumboldt.hale.common.schema.model.constraint.property.Unique"
            id="eu.esdihumboldt.hale.common.instancevalidator.unique"
            validator="eu.esdihumboldt.hale.common.instancevalidator.validators.UniqueValidator">
      </propertyConstraintValidator>
   </extension>
</plugin>
