<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.cst.instancetransformation" name="Instance transformation" schema="schema/eu.esdihumboldt.cst.instancetransformation.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.align.compatibility">
      <compatibility
            class="eu.esdihumboldt.cst.internal.CSTCompatibilityMode"
            id="eu.esdihumboldt.cst.compatibility"
            key="eu.esdihumboldt.cst.compatibility.cst"
            name="CST">
         <supportsFilter
               ref="CQL">
         </supportsFilter>
         <supportsFilter
               ref="ECQL">
         </supportsFilter>
      </compatibility>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.internal.ExecutionContextImpl">
      </allow>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.cst.MultiValue">
      </allow>
      <import
            class="eu.esdihumboldt.cst.MultiValue">
      </import>
      <import
            alias="MultiResult"
            class="eu.esdihumboldt.cst.MultiValue">
      </import>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.cst.CSTServiceFactory"
            id="eu.esdihumboldt.cst"
            scope="global">
         <service
               interface="eu.esdihumboldt.hale.common.align.transformation.service.TransformationService">
         </service>
      </services>
   </extension>

</plugin>
