<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.action">
      <action-ui
            action="eu.esdihumboldt.hale.lookup.import"
            id="eu.esdihumboldt.hale.lookup.import.ui"
            label="Lookup table..."
            priority="10"
            projectResource="true"
            ui-advisor="eu.esdihumboldt.hale.ui.lookup.LookupTableUIAdvisor"
            wizard="eu.esdihumboldt.hale.ui.lookup.LookupTableImportWizard">
      </action-ui>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.ui.lookup.NameAndDescriptionPage"
            order="-5">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.lookup">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.xls.reader.lookup">
         </provider>
      </configPage>
   </extension>

</plugin>
