<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.util.groovy.meta">
      <metaClass
            for="eu.esdihumboldt.hale.common.instance.model.Group"
            implementation="eu.esdihumboldt.hale.common.instance.groovy.meta.InstanceAccessorMetaClass">
      </metaClass>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="true"
            class="eu.esdihumboldt.hale.common.instance.groovy.InstanceAccessor">
      </allow>
      <allow
            allowAll="true"
            class="eu.esdihumboldt.hale.common.instance.groovy.InstanceBuilder">
      </allow>
   </extension>

</plugin>
