<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.CSVSchemaTypePage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.schema">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.ReadConfigurationPage"
            order="-10">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.schema">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.lookup">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.ReadInstanceConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.instance">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.TypeSelectionPage"
            order="-20">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.instance">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.ui.io.config.AutoDetectCharsetPage"
            order="-15">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.instance">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.schema">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.lookup">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.LookupTablePage"
            order="-4">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.reader.lookup">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.AlignmentMappingExportConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.writer.align">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.AlignmentMappingExportConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.xls.writer.align">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.CSVWriterConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.writer.lookup">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.LookupTablePage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.xls.reader.lookup">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.InstanceExportConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.writer.instance">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.CSVInstanceWriterConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.csv.writer.instance">
         </provider>
      </configPage>
   </extension>

</plugin>
