<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.SchemaTypePage"
            order="0">
         <providerFactory
               id="eu.esdihumboldt.hale.io.csv.reader.schema">
         </providerFactory>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.ReadConfigurationPage"
            order="-10">
         <providerFactory
               id="eu.esdihumboldt.hale.io.csv.reader.schema">
         </providerFactory>
         <providerFactory
               id="eu.esdihumboldt.hale.io.csv.reader.instance">
         </providerFactory>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.TypeSelectionPage"
            order="-20">
         <providerFactory
               id="eu.esdihumboldt.hale.io.csv.reader.instance">
         </providerFactory>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.csv.ui.GeoConfigurationPage"
            order="10">
         <providerFactory
               id="eu.esdihumboldt.hale.io.csv.reader.schema">
         </providerFactory>
      </configPage>
   </extension>

</plugin>
