<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.ui.io.config" name="I/O configuration wizard pages" schema="schema/eu.esdihumboldt.hale.ui.io.config.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.MappingExport" name="Mapping Export Providers" schema="schema/eu.esdihumboldt.hale.MappingExport.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.rcp.wizards.functions.FunctionWizardFactory" name="Function wizards" schema="schema/eu.esdihumboldt.hale.rcp.wizards.functions.FunctionWizardFactory.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.ui.io.advisor" name="I/O advisors in the context of the UI services" schema="schema/eu.esdihumboldt.hale.ui.io.advisor.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.ui.io.source" name="Import sources" schema="schema/eu.esdihumboldt.ui.io.source.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.esdihumboldt.hale.ui.target.instance.export"
            name="Export instances">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.project.open"
            name="Open project">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.project.export"
            name="Save project as">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.mapping.export"
            name="Export mapping">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.project.new"
            name="New project">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.mapping.import"
            name="Import mapping">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.project.save"
            name="Save project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.esdihumboldt.hale.ui.io.instance.InstanceExportHandler"
            commandId="eu.esdihumboldt.hale.ui.target.instance.export">
         <enabledWhen>
            <with
                  variable="hale.instances.has_transformed">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.service.project.handler.SaveProjectHandler"
            commandId="eu.esdihumboldt.hale.ui.project.save">
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.io.legacy.handler.ImportMappingHandler"
            commandId="eu.esdihumboldt.hale.ui.mapping.import">
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.service.project.handler.NewProjectHandler"
            commandId="eu.esdihumboldt.hale.ui.project.new">
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.io.legacy.handler.SaveMappingCommandHandler"
            commandId="eu.esdihumboldt.hale.ui.mapping.export">
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.service.project.handler.SaveAsProjectHandler"
            commandId="eu.esdihumboldt.hale.ui.project.export">
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.service.project.handler.OpenProjectHandler"
            commandId="eu.esdihumboldt.hale.ui.project.open">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="eu.esdihumboldt.hale.ui.service.instance.internal.InstanceServiceSource">
         <variable
               name="hale.instances.has_transformed"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.service.internal.HaleServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.service.report.ReportService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.ui.service.instance.InstanceService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.ui.service.mapping.AlignmentService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.ui.service.project.ProjectService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.ui.service.project.RecentFilesService">
         </service>
         <service
               serviceClass="eu.esdihumboldt.hale.ui.service.schema.SchemaService">
         </service>
      </serviceFactory>
      <sourceProvider
            provider="eu.esdihumboldt.hale.ui.service.schema.internal.SchemaServiceSource">
         <variable
               name="hale.schemas.has_source"
               priorityLevel="workbench">
         </variable>
         <variable
               name="hale.schemas.has_target"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.MappingExport">
      <MappingExportFactory
            description="RDF Ontology Mapping Language encoding"
            extension="*.goml"
            name="RDF OML"
            providerClass="eu.esdihumboldt.hale.ui.io.legacy.mappingexport.OmlMappingExportProvider">
      </MappingExportFactory>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.advisor">
      <advisor
            class="eu.esdihumboldt.hale.ui.io.schema.SourceSchemaImportAdvisor"
            id="eu.esdihumboldt.hale.ui.io.schema.source"
            label="Source schema..."
            priority="-10"
            providerType="eu.esdihumboldt.hale.schema.io.SchemaReader"
            projectResource="true"
            wizard="eu.esdihumboldt.hale.ui.io.schema.SchemaImportWizard">
      </advisor>
      <advisor
            class="eu.esdihumboldt.hale.ui.io.schema.TargetSchemaImportAdvisor"
            id="eu.esdihumboldt.hale.ui.io.schema.target"
            label="Target schema..."
            priority="-9"
            providerType="eu.esdihumboldt.hale.schema.io.SchemaReader"
            projectResource="true"
            wizard="eu.esdihumboldt.hale.ui.io.schema.SchemaImportWizard">
      </advisor>
      <advisor
            class="eu.esdihumboldt.hale.ui.io.instance.InstanceImportAdvisor"
            id="eu.esdihumboldt.hale.ui.io.instance.source"
            label="Source data..."
            priority="-6"
            providerType="eu.esdihumboldt.hale.instance.io.InstanceReader"
            projectResource="true"
            wizard="eu.esdihumboldt.hale.ui.io.instance.InstanceImportWizard">
         <dependsOn
               advisor="eu.esdihumboldt.hale.ui.io.schema.source">
         </dependsOn>
         <enabledWhen>
            <with
                  variable="hale.schemas.has_source">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </advisor>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.source">
      <source
            class="eu.esdihumboldt.hale.ui.io.source.FileSource"
            id="eu.esdihumboldt.hale.ui.io.source.file"
            name="file">
      </source>
      <source
            class="eu.esdihumboldt.hale.ui.io.source.URLSource"
            id="eu.esdihumboldt.hale.ui.io.source.url"
            name="URL">
      </source>
   </extension>

</plugin>
