<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.ui.filter" name="Filter UI" schema="schema/eu.esdihumboldt.hale.ui.filter.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.ui.filter">
      <filter-ui
            dialogFactory="eu.esdihumboldt.hale.ui.filter.cql.CQLFilterDialogFactory"
            filter="CQL">
      </filter-ui>
      <filter-ui
            dialogFactory="eu.esdihumboldt.hale.ui.filter.cql.CQLFilterDialogFactory"
            filter="ECQL">
      </filter-ui>
   </extension>

</plugin>
