buildId=Converter
topLevelElementId=de.fhg.igd.projects.lep.ui.converter.application

# components separated by |, component format: <name>;<from>;<to>;<excludes>
components=UI;../;.;**/.svn/,**/bin/,release/,build/,scripts/|Common;../../common/plugins/;plugins/;**/.svn/,**/bin/|Projects;../../projects/lep/plugins/;plugins/;**/.svn/,**/bin/|OSGI Test;../../../CityServer3D/common/plugins/de.cs3d.common.osgi.test/;plugins/de.cs3d.common.osgi.test/;**/.svn/,bin/

# platform directory
platform.dir=../../platform

# name of the launcher, must match product
launcherName=Converter

# windows installer

title=Converter
# directory where the .wxs files and any resources (in subdirectories) reside
wxs.dir=../release
# name of the .wxs configuration (without extension)
wxs.file.config=Generic
# name of the .wxs ui configuration (without extension)
wxs.file.ui=WixUI_IGD
# guids
GUID.UpgradeCode=5b6151c0-e3f9-11de-8a39-0800200c9a66
GUID.ApplicationShortcut=66ed8ea0-e3f9-11de-8a39-0800200c9a66

# JRE
#include.jre=true