<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="json"
            id="eu.esdihumboldt.hale.io.json"
            name="JSON File"
            priority="normal">
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.common.core.gzip"
            file-extensions="json.gz,gz"
            id="eu.esdihumboldt.hale.io.json.gzip"
            name="GZiped JSON File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.json.JsonInstanceWriter"
            id="eu.esdihumboldt.hale.io.json.writer"
            name="JSON">
         <contentType
               ref="eu.esdihumboldt.hale.io.json">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.json.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.json.GeoJSONInstanceWriter"
            id="eu.esdihumboldt.hale.io.geojson.writer"
            name="GeoJSON">
         <contentType
               ref="eu.esdihumboldt.hale.io.json">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.json.gzip">
         </contentType>
      </provider>
      <provider
            allowDuplicate="false"
            class="eu.esdihumboldt.hale.io.json.JsonInstanceReader"
            description="Read JSON/GeoJSON"
            id="eu.esdihumboldt.hale.io.json.reader"
            name="JSON">
         <contentType
               ref="eu.esdihumboldt.hale.io.json">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.json.gzip">
         </contentType>
         <providerParameter
               description="Mode for reading Json structure"
               label="Read mode"
               name="mode"
               optional="true">
            <parameterEnumeration>
               <enumerationValue
                     value="auto">
               </enumerationValue>
               <enumerationValue
                     value="singleObject">
               </enumerationValue>
               <enumerationValue
                     value="firstArray">
               </enumerationValue>
            </parameterEnumeration>
            <valueDescriptor
                  default="auto"
                  defaultDescription="Load objects from a Json array or a GeoJson FeatureCollection"
                  sample="singleObject"
                  sampleDescription="When the source file is only a single object at its root, use this mode">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Always use default type for all objects read"
               label="Force default type"
               name="forceDefaultType"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false"
                  defaultDescription="By default allow other mechanism to determine an instance type"
                  sample="true"
                  sampleDescription="Use the configured default type for all instances read">
            </valueDescriptor>
         </providerParameter>
         <providerParameter
               description="Name of the default type to use for read Json objects"
               label="Default type"
               name="defaultType"
               optional="true"
               valueDescriptor="eu.esdihumboldt.hale.io.json.JsonInstanceReader.DefaultTypeParameterDescriptor">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </providerParameter>
      </provider>
   </extension>

</plugin>
