<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="json"
            id="eu.esdihumboldt.hale.io.json"
            name="JSON File"
            priority="normal">
      </content-type>
      <content-type
            base-type="eu.esdihumboldt.hale.common.core.gzip"
            file-extensions="json.gz,gz"
            id="eu.esdihumboldt.hale.io.json.gzip"
            name="GZiped JSON File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.json.JsonInstanceWriter"
            id="eu.esdihumboldt.hale.io.json.writer"
            name="JSON">
         <contentType
               ref="eu.esdihumboldt.hale.io.json">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.json.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.json.GeoJSONInstanceWriter"
            id="eu.esdihumboldt.hale.io.geojson.writer"
            name="GeoJSON">
         <contentType
               ref="eu.esdihumboldt.hale.io.json">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.json.gzip">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.json.TopoJsonInstanceWriter"
            id="eu.esdihumboldt.hale.io.topojson.writer"
            name="TopoJSON">
         <contentType
               ref="eu.esdihumboldt.hale.io.json">
         </contentType>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.json.GeoJSONConfigType"
            id="eu.esdihumboldt.hale.io.json.geojsonconfig"
            name="config"
            namespace="http://www.esdi-humboldt.eu/hale/geojson"
            type="eu.esdihumboldt.hale.io.json.GeoJSONConfig">
      </complexValue>
   </extension>

</plugin>
