<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource
      alias="/"/>
  </extension>
  
  <extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet
      alias="/cst"
      class="eu.esdihumboldt.hale.server.CstWps"/>
  </extension>
</plugin>
