<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.target">
      <providerTarget
            provider="eu.esdihumboldt.hale.io.wfs.write"
            target="wfs-t">
      </providerTarget>
      <target
            class="eu.esdihumboldt.hale.io.wfs.ui.WFSTarget"
            id="wfs-t">
      </target>
      <providerTarget
            provider="eu.esdihumboldt.hale.io.wfs.write.partitioned"
            target="wfs-t">
      </providerTarget>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.ui.io.config.TargetCRSConfigurationPage"
            order="0">
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write.partitioned">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-1.1.0">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-2.0">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.wfs.ui.config.PartitionConfigurationPage"
            order="4">
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write.partitioned">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.wfs.ui.config.InsertConfigurationPage"
            order="5">
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write.partitioned">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.gml.ui.GmlWriterSettingsPage"
            order="10">
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-1.1.0">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.fc.write-2.0">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.wfs.ui.config.CredentialsPage"
            order="10">
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.wfs.write.partitioned">
         </provider>
      </configPage>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.source">
      <source
            class="eu.esdihumboldt.hale.io.wfs.ui.describefeature.WFSDescribeFeatureSource"
            contentType="eu.esdihumboldt.hale.io.xsd"
            description="Load a XML schema using a WFS DescribeFeatureType request"
            icon="icons/service.gif"
            id="eu.esdihumboldt.hale.io.gml.ui.source.wfs.schema"
            name="WFS"
            priority="0">
      </source>
      <source
            class="eu.esdihumboldt.hale.io.wfs.ui.getfeature.WFSGetFeatureSource"
            contentType="eu.esdihumboldt.hale.io.gml"
            description="Load GML data using a WFS GetFeature request"
            icon="icons/service.gif"
            id="eu.esdihumboldt.hale.io.gml.ui.source.wfs.instance"
            name="WFS"
            priority="0">
      </source>
   </extension>

</plugin>
