<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.ui.workbench" name="HALE workbench hooks" schema="schema/eu.esdihumboldt.hale.ui.workbench.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.esdihumboldt.hale.ui.common.crs.CRSPreferencePage"
            id="eu.esdihumboldt.hale.ui.application.preferences.crs"
            name="%preference.crs.name">
      </page>
      <page
            class="eu.esdihumboldt.hale.ui.util.proxy.preferences.ProxyPreferencePage"
            id="eu.esdihumboldt.hale.ui.application.preferences.proxy"
            name="%preference.proxy.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.esdihumboldt.hale.ui.application.DefaultPerspective"
            icon="icons/mapping.gif"
            id="eu.esdihumboldt.hale.ui.application.perspective.default"
            name="%perspective.default.name">
      </perspective>
      <perspective
            class="eu.esdihumboldt.hale.ui.application.DataPerspective"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.ui.application.perspective.data"
            name="%perspective.data.name">
      </perspective>
      <perspective
            class="eu.esdihumboldt.hale.ui.application.ThorstenPerspective"
            icon="icons/dhp.png"
            id="eu.esdihumboldt.hale.ui.application.perspective.thorsten"
            name="Thorsten">
      </perspective>
   </extension>
   <extension
         id="eu.esdihumboldt.hale.ui.application.secstorage.default"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="eu.esdihumboldt.hale.ui.util.proxy.DefaultPasswordProvider"
            description="%provider.description"
            priority="0">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="eu.esdihumboldt.hale.ui.application"
         name="HUMBOLDT Alignment Editor"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="images/16.png"
            thread="main"
            visible="true">
         <run
               class="eu.esdihumboldt.hale.ui.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="HALE"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.esdihumboldt.hale.ui.application"
            name="HUMBOLDT Alignment Editor">
         <property
               name="appName"
               value="HUMBOLDT Alignment Editor">
         </property>
         <property
               name="windowImages"
               value="images/16.png,images/32.png,images/48.png,images/64.png,images/128.png,images/256.png">
         </property>
         <property
               name="aboutText"
               value="halestudio&#x0A;&#x0A;Version ___version___&#x0A;&#x0A;Build ___build___&#x0A;Revision ___revision___&#x0A;&#x0A;Project page:&#x0A;http://www.wetransform.to/products/hale&#x0A;&#x0A;Forum:&#x0A;http://www.esdi-community.eu/projects/hale/boards&#x0A;&#x0A;News:&#x0A;http://www.wetransform.to/news&#x0A;&#x0A;Get professional support:&#x0A;http://www.wetransform.to/services/support">
         </property>
         <property
               name="introTitle"
               value="halestudio">
         </property>
         <property
               name="introBrandingImage"
               value="images/16.png">
         </property>
         <property
               name="splashFontColor"
               value="eeeeee">
         </property>
         <property
               name="splashCopyrightNotice"
               value="© 2017 wetransform GmbH » www.wetransform.to">
         </property>
         <property
               name="build"
               value="___build___">
         </property>
         <property
               name="revision"
               value="___revision___">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.ui.workbench/LegacyIDE.e4xmi">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.ui.themes/images/">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="aboutImage"
               value="images/hale_about.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="eu.esdihumboldt.hale.ui.application.handler.ShowHandbookHandler"
            id="eu.esdihumboldt.hale.ui.applications.commands.manual"
            name="%command.showManual.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="%menu.file.label"
               mnemonic="%menu.file.mnemonic">
            <command
                  commandId="eu.esdihumboldt.hale.ui.project.new"
                  icon="icons/new.gif"
                  id="newProject"
                  label="%command.newproject.label"
                  style="push">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.project.open"
                  icon="icons/open.gif"
                  id="openProject"
                  label="%command.openProject.label"
                  style="push">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.project.save"
                  icon="icons/save.gif"
                  id="saveAlignmentProject"
                  label="%command.savealignment.name"
                  style="push">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.project.export"
                  icon="icons/saveas.gif"
                  id="saveAlignmentProjectAs"
                  label="%command.saveProject.label"
                  style="push">
            </command>
            <separator
                  name="HALE.separator1"
                  visible="true">
            </separator>
            <menu
                  icon="icons/import_wiz.gif"
                  label="Import">
               <dynamic
                     class="eu.esdihumboldt.hale.ui.io.action.ImportContribution"
                     id="eu.esdihumboldt.hale.ui.application.import">
               </dynamic>
            </menu>
            <menu
                  icon="icons/export_wiz.gif"
                  label="Export">
               <dynamic
                     class="eu.esdihumboldt.hale.ui.io.action.ExportContribution"
                     id="eu.esdihumboldt.hale.ui.application.export">
               </dynamic>
            </menu>
            <separator
                  name="HALE.separator2"
                  visible="true">
            </separator>
            <menu
                  icon="icons/trash.gif"
                  label="Clear">
               <command
                     commandId="eu.esdihumboldt.hale.ui.schema.clear_source"
                     style="push">
               </command>
               <command
                     commandId="eu.esdihumboldt.hale.ui.schema.clear_target"
                     style="push">
               </command>
               <command
                     commandId="eu.esdihumboldt.hale.ui.instance.clear"
                     style="push">
               </command>
               <command
                     commandId="eu.esdihumboldt.hale.ui.align.clean"
                     style="push">
               </command>
               
            </menu>
            <separator
                  name="HALE.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="eu.esdihumboldt.hale.ui.project.update"
                  label="Reload and update schemas"
                  style="push"
                  tooltip="Reload the project and replace/update schemas">
            </command>
            <separator
                  name="HALE.separator4"
                  visible="true">
            </separator>
            <dynamic
                  class="eu.esdihumboldt.hale.ui.service.project.RecentProjectsMenu"
                  id="HALE.recentfiles">
            </dynamic>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="exit"
                  label="%command.exit.label"
                  style="push">
            </command>
         </menu>
         <menu
               id="edit"
               label="Edit"
               mnemonic="e">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="eu.esdihumboldt.hale.ui.edit.clipboard"
                  visible="true">
            </separator>
            <command
                  commandId="eu.esdihumboldt.hale.ui.edit.modify"
                  label="Edit..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  mnemonic="d"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select all"
                  style="push">
            </command>
            <separator
                  name="eu.esdihumboldt.hale.ui.edit.misc"
                  visible="true">
            </separator>
            <command
                  commandId="eu.esdihumboldt.hale.ui.style.typestyle"
                  label="Change style..."
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.style.randomcolor"
                  label="Assign random color"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.style.spectrum"
                  style="push">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.geometry.setAsDefault"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <separator
                  name="eu.esdihumboldt.hale.ui.edit.mappable_menu"
                  visible="true">
            </separator>
            <command
                  commandId="eu.esdihumboldt.hale.ui.schema.mappable_source"
                  style="push">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.schema.mappable_target"
                  style="push">
            </command>
            <separator
                  name="eu.esdihumboldt.hale.ui.edit.add"
                  visible="true">
            </separator>
            <command
                  commandId="eu.esdihumboldt.hale.ui.align.add_relation"
                  label="Add relation..."
                  style="push"
                  tooltip="Add a new relation">
            </command>
         </menu>
         <menu
               id="transformation"
               label="Transformation"
               mnemonic="T">
            <command
                  commandId="eu.esdihumboldt.hale.ui.transformation"
                  label="Transform external data..."
                  style="push">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.transform.projectdata"
                  label="Transform project data..."
                  style="push"
                  tooltip="Transform the complete project source data, even if only a sub-set is loaded">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.instance.toggle_transformation"
                  style="toggle">
            </command>
            <command
                  commandId="eu.esdihumboldt.hale.ui.instancevalidation.status.toggle_validation"
                  label="Validate transformed instances"
                  style="toggle">
            </command>
            <separator
                  name="transformation.separator0"
                  visible="true">
            </separator>
            <menu
                  label="Custom transformation functions">
               <command
                     commandId="eu.esdihumboldt.hale.ui.function.custom.create"
                     label="Define..."
                     style="push">
               </command>
               <menu
                     label="Edit">
                  <dynamic
                        class="eu.esdihumboldt.hale.ui.functions.custom.EditCustomFunctionContribution"
                        id="transformation.custom.edit">
                  </dynamic>
               </menu>
               <menu
                     label="Remove">
                  <dynamic
                        class="eu.esdihumboldt.hale.ui.functions.custom.RemoveCustomFunctionContribution"
                        id="transformation.custom.remove">
                  </dynamic>
               </menu>
            </menu>
            <command
                  commandId="eu.esdihumboldt.hale.ui.groovy.toggle_restriction"
                  style="toggle">
            </command>
            <separator
                  name="transformation.separator1"
                  visible="true">
            </separator>
            <menu
                  label="Hooks">
               <menu
                     label="Transformation tree">
                  <dynamic
                        class="eu.esdihumboldt.hale.ui.cst.contribution.TransformationTreeHooksContribution"
                        id="cst.hooks.ttree">
                  </dynamic>
               </menu>
            </menu>
            <menu
                  label="Compatibility Mode">
               <dynamic
                     class="eu.esdihumboldt.hale.ui.compatibility.CompatibilityMenu"
                     id="eu.esdihumboldt.hale.ui.application.dynamic1">
               </dynamic>
            </menu>
         </menu>
         <menu
               id="window"
               label="%menu.configure.label"
               mnemonic="%menu.configure.mnemonic">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  style="push">
            </command>
            <separator
                  name="eu.esdihumboldt.hale.ui.window.new"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="%command.settings.name"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=new.group">
         <command
               commandId="eu.esdihumboldt.hale.ui.project.new"
               icon="icons/new.gif"
               label="%command.newproject.label"
               style="push">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.project.open"
               icon="icons/open.gif"
               id="openProject"
               label="%command.openProject.label"
               style="push">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.project.save"
               icon="icons/save.gif"
               id="saveAlignmentProject"
               label="%command.savealignment.name"
               style="push">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.project.export"
               icon="icons/saveas.gif"
               id="saveAlignmentProjectAs"
               label="%command.saveProject.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:eu.esdihumboldt.hale.ui.io.import">
         <dynamic
               class="eu.esdihumboldt.hale.ui.io.action.ImportContribution"
               id="eu.esdihumboldt.hale.ui.io.import.list">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:eu.esdihumboldt.hale.ui.io.export">
         <dynamic
               class="eu.esdihumboldt.hale.ui.io.action.ExportContribution"
               id="eu.esdihumboldt.hale.ui.io.export.list">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
               id="help"
               label="%menu.help.label"
               mnemonic="%menu.help.mnemonic">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/dhp.png"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  label="Help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:eu.esdihumboldt.hale.ui.edit.add_relation">
         <dynamic
               class="eu.esdihumboldt.hale.ui.function.contribution.SchemaSelectionFunctionContribution"
               id="eu.esdihumboldt.hale.ui.edit.add_relation.list">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="eu.esdihumboldt.hale.ui.schema.make_unmappable"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.navigate?after=history.group">
         <command
               commandId="org.eclipse.ui.edit.undo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.help?after=group.help">
         <command
               commandId="org.eclipse.ui.help.displayHelp"
               icon="icons/help.gif"
               label="Open help browser"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=build.group">
         <command
               commandId="eu.esdihumboldt.hale.ui.io.import"
               icon="icons/import_wiz.gif"
               id="eu.esdihumboldt.hale.ui.io.import"
               label="Import"
               style="pulldown">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.io.export"
               icon="icons/export_wiz.gif"
               id="eu.esdihumboldt.hale.ui.io.export"
               label="Export"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=additions">
         <command
               commandId="eu.esdihumboldt.hale.ui.instance.toggle_transformation"
               style="toggle">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.instancevalidation.status.toggle_validation"
               style="toggle">
         </command>
         <separator
               name="eu.esdihumboldt.hale.ui.file.groovy_restriction"
               visible="true">
         </separator>
         <command
               commandId="eu.esdihumboldt.hale.ui.groovy.toggle_restriction"
               style="toggle">
         </command>
         <separator
               name="eu.esdihumboldt.hale.ui.file.transform"
               visible="true">
         </separator>
         <command
               commandId="eu.esdihumboldt.hale.ui.instance.toggle_sampling"
               style="toggle">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.instance.sampling.pref"
               style="push">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.instance.reload_data"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.workbench.navigate?after=group.application">
         <command
               commandId="eu.esdihumboldt.hale.ui.schema.mappable_source"
               style="push">
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.schema.mappable_target"
               style="push">
         </command>
         <separator
               name="eu.esdihumboldt.hale.ui.edit.mappable_toolbar"
               visible="true">
         </separator>
         <command
               commandId="eu.esdihumboldt.hale.ui.align.add_relation"
               id="eu.esdihumboldt.hale.ui.edit.add_relation"
               label="Add relation..."
               style="push"
               tooltip="Add a new relation">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="eu.esdihumboldt.hale.ui.application.bindings"
            name="HALE Key bindings"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="eu.esdihumboldt.hale.ui.project.save"
            schemeId="eu.esdihumboldt.hale.ui.application.bindings"
            sequence="M1+S">
      </key>
      <key
            commandId="eu.esdihumboldt.hale.ui.edit.modify"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.esdihumboldt.hale.ui.application.bindings"
            sequence="M1+E">
      </key>
      <key
            commandId="org.eclipse.ui.help.dynamicHelp"
            schemeId="eu.esdihumboldt.hale.ui.application.bindings"
            sequence="F1">
      </key>
      <key
            commandId="eu.esdihumboldt.hale.ui.style.typestyle"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.esdihumboldt.hale.ui.application.bindings"
            sequence="M1+M2+S">
      </key>
      <key
            commandId="eu.esdihumboldt.hale.ui.views.styledmap.zoomToSelection"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.esdihumboldt.hale.ui.application.bindings"
            sequence="M1+M2+Z">
      </key>
      <key
            commandId="eu.esdihumboldt.hale.ui.style.randomcolor"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="eu.esdihumboldt.hale.ui.application.bindings"
            sequence="M1+M2+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="eu.esdihumboldt.hale.ui.application.activities.hideViews"
            name="Hide unnecessary views">
      </activity>
      <activityPatternBinding
            activityId="eu.esdihumboldt.hale.ui.application.activities.hideViews"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.ContentOutline">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.esdihumboldt.hale.ui.application.activities.hideViews"
            pattern="org.eclipse.ui.console/org.eclipse.ui.console.ConsoleView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="eu.esdihumboldt.hale.ui.application.activities.hideViews"
            pattern="de.fhg.igd.mapviewer/de.fhg.igd.mapviewer.view.MapView">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.esdihumboldt.hale.ui.application.splash.HaleSplash"
            id="eu.esdihumboldt.hale.ui.application.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.esdihumboldt.hale.ui.application.HALE"
            splashId="eu.esdihumboldt.hale.ui.application.splash">
      </splashHandlerProductBinding>
   </extension>
</plugin>
