<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.inspire.IdentifierParameterPage"
            function="eu.esdihumboldt.cst.functions.inspire.identifier"
            id="eu.esdihumboldt.hale.ui.functions.inspire.identifier"
            order="0">
         <parameter
               name="countryName">
         </parameter>
         <parameter
               name="providerName">
         </parameter>
         <parameter
               name="productName">
         </parameter>
         <parameter
               name="version">
         </parameter>
         <parameter
               name="versionNilReason">
         </parameter>
      </propertyParameterPage>
   </extension>

</plugin>
