<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.inspire.IdentifierParameterPage"
            function="eu.esdihumboldt.cst.functions.inspire.identifier"
            id="eu.esdihumboldt.hale.ui.functions.inspire.identifier"
            order="0">
         <parameter
               name="countryName">
         </parameter>
         <parameter
               name="providerName">
         </parameter>
         <parameter
               name="productName">
         </parameter>
         <parameter
               name="version">
         </parameter>
         <parameter
               name="versionNilReason">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.inspire.GeographicalNamePage"
            function="eu.esdihumboldt.cst.functions.inspire.geographicalname"
            id="eu.esdihumboldt.hale.ui.functions.inspire.geographicalname"
            order="0">
         <parameter
               name="text">
         </parameter>
         <parameter
               name="script">
         </parameter>
         <parameter
               name="transliterationScheme">
         </parameter>
         <parameter
               name="nameStatus">
         </parameter>
         <parameter
               name="language">
         </parameter>
         <parameter
               name="nativeness">
         </parameter>
         <parameter
               name="sourceOfName">
         </parameter>
         <parameter
               name="pronunciationIPA">
         </parameter>
         <parameter
               name="pronunciationSoundLink">
         </parameter>
         <parameter
               name="grammaticalGender">
         </parameter>
         <parameter
               name="grammaticalNumber">
         </parameter>
      </propertyParameterPage>
   </extension>

</plugin>
