<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.schema.presets">
      <schema
            description="GML Application Schema from the INSPIRE Data Specification on Hydrography (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.hy-p"
            name="INSPIRE HydroPhysicalWaters"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/hy-p/3.0/HydroPhysicalWaters.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Addresses (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.ad"
            name="INSPIRE Addresses"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/ad/3.0/Addresses.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Administrative Units (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.au"
            name="INSPIRE AdministrativeUnits"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/au/3.0/AdministrativeUnits.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Cadastral Parcels (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.cp"
            name="INSPIRE CadastralParcels"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/cp/3.0/CadastralParcels.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Gazetteers (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.gaz"
            name="INSPIRE Gazetteer"
            version="3.2">
         <uri
               value="http://inspire.ec.europa.eu/schemas/gaz/3.2/Gazetteer.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Geographical Names (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.gn"
            name="INSPIRE GeographicalNames"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/gn/3.0/GeographicalNames.xsd">
         </uri>
      </schema>
      <schema
            description="GML Application Schema from the INSPIRE Data Specification on Hydrography (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.hy-n"
            name="INSPIRE HydroNetwork"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/hy-n/3.0/HydroNetwork.xsd">
         </uri>
      </schema>
      <schema
            description="GML Application Schema from the INSPIRE Data Specification on Hydrography (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.hy-r"
            name="INSPIRE HydroReporting"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/hy-r/3.0/HydroReporting.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Protected Sites (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.ps-f"
            name="INSPIRE ProtectedSites Full"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/ps-f/3.0/ProtectedSitesFull.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Protected Sites (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.ps"
            name="INSPIRE ProtectedSites"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/ps/3.0/ProtectedSites.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Air Transport Networks (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.tn-a"
            name="INSPIRE AirTransportNetwork"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/tn-a/3.0/AirTransportNetwork.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Cable Transport Networks (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.tn-c"
            name="INSPIRE CableTransportNetwork"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/tn-c/3.0/CableTransportNetwork.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Railway Transport Networks (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.tn-ra"
            name="INSPIRE RailwayTransportNetwork"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/tn-ra/3.0/RailwayTransportNetwork.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Road Transport Networks (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.tn-ro"
            name="INSPIRE RoadTransportNetwork"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/tn-ro/3.0/RoadTransportNetwork.xsd">
         </uri>
      </schema>
      <schema
            description="INSPIRE GML Application Schema for Water Transport Networks (Approved Schema Repository)."
            icon="icons/inspire.gif"
            id="eu.esdihumboldt.hale.ui.schema.presets.inspire.tn-w"
            name="INSPIRE WaterTransportNetwork"
            version="3.0">
         <uri
               value="http://inspire.ec.europa.eu/schemas/tn-w/3.0/WaterTransportNetwork.xsd">
         </uri>
      </schema>
   </extension>

</plugin>
