<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="eu.esdihumboldt.hale.ui.status.validation">
            <dynamic
                  class="eu.esdihumboldt.hale.ui.status.validation.InstanceValidationStatusContributionItem"
                  id="instance_validation_status">
            </dynamic>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
