<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.schematron.validator.SchematronInstanceValidator"
            description="Validates XML files against ISO schematron rules"
            id="eu.esdihumboldt.hale.io.schematron.validator"
            name="Schematron validator">
         <providerParameter
               label="Schematron validator schema"
               name="schematron.location"
               optional="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
            <valueDescriptor
                  sample="file:///c:/Schematron/sample-schema.xml | http://www.example.org/schematron/sample-schema.xml"
                  sampleDescription="You must provide a URL pointing to the schematron schema file.">
            </valueDescriptor>
         </providerParameter>
         <contentType
               ref="eu.esdihumboldt.hale.io.xml.gzip">
         </contentType>
         <contentType
               ref="org.eclipse.core.runtime.xml">
         </contentType>
         <configurationContentType
               ref="eu.esdihumboldt.hale.io.schematron.schema">
         </configurationContentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.validation.ValidatorConfigurationReaderImpl"
            id="eu.esdihumboldt.hale.io.schematron.reader"
            name="Schematron schema">
         <contentType
               ref="eu.esdihumboldt.hale.io.schematron.schema">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="sch,xml"
            id="eu.esdihumboldt.hale.io.schematron.schema"
            name="Schematron schema"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://purl.oclc.org/dsdl/schematron}schema">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
