<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <typeWizard
            function="eu.esdihumboldt.hale.align.retype"
            id="eu.esdihumboldt.hale.align.retype.generic">
      </typeWizard>
      <propertyWizard
            function="eu.esdihumboldt.hale.align.rename"
            id="eu.esdihumboldt.hale.align.rename.generic">
      </propertyWizard>
      <propertyWizard
            function="eu.esdihumboldt.hale.align.assign"
            id="eu.esdihumboldt.hale.align.assign.generic">
      </propertyWizard>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.AssignParameterPage"
            function="eu.esdihumboldt.hale.align.assign"
            id="eu.esdihumboldt.hale.ui.functions.core.assign">
         <parameter
               name="value">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.ClassificationMappingParameterPage"
            function="eu.esdihumboldt.hale.align.classification"
            id="eu.esdihumboldt.hale.ui.functions.core.classification">
         <parameter
               name="classificationMapping">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.FormattedStringParameterPage"
            function="eu.esdihumboldt.hale.align.formattedstring"
            id="eu.esdihumboldt.hale.ui.functions.core.formattedstring">
         <parameter
               name="pattern">
         </parameter>
      </propertyParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.MergeParameterPage"
            function="eu.esdihumboldt.hale.align.merge"
            id="eu.esdihumboldt.hale.ui.functions.core.merge">
         <parameter
               name="property">
         </parameter>
      </typeParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.MergeParameterPage"
            function="eu.esdihumboldt.hale.align.merge"
            id="eu.esdihumboldt.hale.ui.functions.core.merge2">
         <parameter
               name="additional_property">
         </parameter>
      </typeParameterPage>
   </extension>
</plugin>
