<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <typeWizard
            function="eu.esdihumboldt.hale.align.retype"
            id="eu.esdihumboldt.hale.align.retype.generic">
      </typeWizard>
      <propertyWizard
            function="eu.esdihumboldt.hale.align.rename"
            id="eu.esdihumboldt.hale.align.rename.generic">
      </propertyWizard>
      <propertyWizard
            function="eu.esdihumboldt.hale.align.assign"
            id="eu.esdihumboldt.hale.align.assign.generic">
      </propertyWizard>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.AssignParameterPage"
            function="eu.esdihumboldt.hale.align.assign"
            id="eu.esdihumboldt.hale.ui.functions.core.assign">
         <parameter
               name="value">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.ClassificationMappingParameterPage"
            function="eu.esdihumboldt.hale.align.classification"
            id="eu.esdihumboldt.hale.ui.functions.core.classification">
         <parameter
               name="classificationMapping">
         </parameter>
         <parameter
               name="notClassifiedAction">
         </parameter>
         <parameter
               name="lookupTable">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.FormattedStringParameterPage"
            function="eu.esdihumboldt.hale.align.formattedstring"
            id="eu.esdihumboldt.hale.ui.functions.core.formattedstring">
         <parameter
               name="pattern">
         </parameter>
      </propertyParameterPage>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.RegexAnalysisParameterPage"
            function="eu.esdihumboldt.cst.functions.string.regexanalysisfunction"
            id="eu.esdihumboldt.cst.functions.string.regexanalysisfunction">
         <parameter
               name="regexPattern">
         </parameter>
         <parameter
               name="outputFormat">
         </parameter>
      </propertyParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.MergeParameterPage"
            function="eu.esdihumboldt.hale.align.merge"
            id="eu.esdihumboldt.hale.ui.functions.core.merge1"
            order="0">
         <parameter
               name="property">
         </parameter>
      </typeParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.CheckboxParameterPage"
            function="eu.esdihumboldt.hale.align.merge"
            id="eu.esdihumboldt.hale.ui.functions.core.merge2"
            order="1">
         <parameter
               name="auto_detect">
         </parameter>
      </typeParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.MergeParameterPage"
            function="eu.esdihumboldt.hale.align.merge"
            id="eu.esdihumboldt.hale.ui.functions.core.merge3"
            order="2">
         <parameter
               name="additional_property">
         </parameter>
      </typeParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.JoinParameterPage"
            function="eu.esdihumboldt.hale.align.join"
            id="eu.esdihumboldt.hale.ui.functions.core.join">
         <parameter
               name="join">
         </parameter>
      </typeParameterPage>
      <propertyParameterEditor
            class="eu.esdihumboldt.hale.ui.common.editors.BooleanEditorFactory"
            function="eu.esdihumboldt.hale.align.rename"
            id="eu.esdihumboldt.hale.align.rename.ignoreNamespaces.editor"
            parameter="ignoreNamespaces"
            priority="0">
      </propertyParameterEditor>
      <propertyParameterEditor
            class="eu.esdihumboldt.hale.ui.common.editors.BooleanEditorFactory"
            function="eu.esdihumboldt.hale.align.rename"
            id="eu.esdihumboldt.hale.align.rename.structuralRename.editor"
            parameter="structuralRename"
            priority="0">
      </propertyParameterEditor>
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.AssignParameterPage"
            function="eu.esdihumboldt.hale.align.assign.bound"
            id="eu.esdihumboldt.hale.ui.functions.core.assign.bound">
         <parameter
               name="value">
         </parameter>
      </propertyParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.core.RetypeSkipPropertiesParameterPage"
            function="eu.esdihumboldt.hale.align.retype"
            id="eu.esdihumboldt.hale.align.retype.skipRootProperty"
            order="10">
         <parameter
               name="skipRootProperty">
         </parameter>
      </typeParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.function.generic.pages.GenericParameterPage"
            function="eu.esdihumboldt.hale.align.retype"
            id="eu.esdihumboldt.hale.align.retype.generic"
            order="0">
         <parameter
               name="structuralRename">
         </parameter>
         <parameter
               name="ignoreNamespaces">
         </parameter>
         <parameter
               name="copyGeometries">
         </parameter>
      </typeParameterPage>
   </extension>
</plugin>
