<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.collector.AssignFromCollector"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.collector.assign"
            id="eu.esdihumboldt.cst.functions.collector.assign">
      </propertyTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.cst.functions.collector.explanations.AssignFromCollectorExplanation"
            icon="icons/augmentation.gif"
            identifier="eu.esdihumboldt.cst.functions.collector.assign"
            name="Assign collected values">
         <targetProperties>
            <property
                  description="The property the collected values shall be assigned to"
                  eager="false"
                  maxOccurrence="1"
                  minOccurrence="1">
            </property>
         </targetProperties>
         <functionParameter
               deprecated="false"
               description="Name of the collector that contains the values to be assigned"
               label="Collector name"
               maxOccurrence="1"
               minOccurrence="1"
               name="collector"
               scriptable="false">
            <parameterBinding
                  class="java.lang.String">
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
   </extension>

</plugin>
