<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="Server"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="HALE Server">
         <property
               name="appName"
               value="HALE Server">
         </property>
      </product>
   </extension>
   
   <extension
         id="Templates"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="HALE Templates">
         <property
               name="appName"
               value="HALE Templates">
         </property>
      </product>
   </extension>
   <extension
         id="eu.esdihumboldt.hale.server.application"
         name="Server Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>

</plugin>
