<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fhg.igd.mapviewer.server.MapServer">
      <collection
            class="de.fhg.igd.mapviewer.server.wms.WMSMapServerFactory">
      </collection>
   </extension>
   <extension
         point="de.fhg.igd.mapviewer.TileOverlayPainter">
      <collection
            class="de.fhg.igd.mapviewer.server.wms.overlay.WMSTileOverlayCollection"
            priority="0">
      </collection>
   </extension>

</plugin>
