<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.mapping.AlignmentView"
            icon="icons/alignment.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping.alignment"
            name="Alignment"
            restorable="true">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.mapping.MappingView"
            icon="icons/mapping.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping"
            name="Mapping"
            restorable="true">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.mapping.AlignmentViewTypesOnly"
            icon="icons/alignment.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping.navigation"
            name="Navigation"
            restorable="true">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.mapping.AlignmentViewOneElement"
            icon="icons/alignment.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping.alignmentoneelement"
            name="Detailed Transformation"
            restorable="true">
      </view>
      <view
            class="eu.esdihumboldt.hale.ui.views.mapping.NavigationSensitiveAlignmentView"
            icon="icons/alignment.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping.alignmentnavigationsensitive"
            name="Alignment - Based on Navigation Selection"
            restorable="true">
      </view>
      <view
            class="eu.esdihumboldt.hale.ui.views.mapping.AlignmentViewTypeOverview"
            icon="icons/alignment.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping.typeoverview"
            name="Track of Type Alignments"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=eu.esdihumboldt.hale.ui.popup.end">
         <command
               commandId="eu.esdihumboldt.hale.ui.views.mapping.open"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.esdihumboldt.hale.ui.views.mapping.handler.OpenMappingViewHandler"
            commandId="eu.esdihumboldt.hale.ui.views.mapping.open">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.align.model.EntityDefinition">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="eu.esdihumboldt.hale.ui.views.mapping.open"
            icon="icons/mapping.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.esdihumboldt.hale.ui.views.mapping.open"
            name="Show mapping">
      </command>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.views.report.detailpage">
      <detailpage
            class="eu.esdihumboldt.hale.ui.views.mapping.report.TransformationReportPage"
            id="eu.esdihumboldt.hale.ui.views.mapping.transreportpage"
            reportType="eu.esdihumboldt.hale.common.align.transformation.report.TransformationReport">
      </detailpage>
   </extension>

</plugin>
