<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="eu.esdihumboldt.hale.ui.views.mapping.MappingView"
            icon="icons/mapping.gif"
            id="eu.esdihumboldt.hale.ui.views.mapping"
            name="%view.mapping.name"
            restorable="true">
      </view>
   </extension>

</plugin>
