<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.cst.functions.groovy.helper">
      <helper
            category="ROOT"
            class="eu.esdihumboldt.cst.functions.groovy.helpers.ConversionHelper"
            name="convert">
      </helper>
      <category
            path="crypto">
      </category>
      <helper
            category="crypto"
            class="eu.esdihumboldt.cst.functions.groovy.helpers.CryptoHelpers">
      </helper>
      <category
            path="context">
      </category>
      <helper
            category="context"
            class="eu.esdihumboldt.cst.functions.groovy.helpers.ContextHelpers">
      </helper>
      <category
            path="json">
      </category>
      <helper
            category="json"
            class="eu.esdihumboldt.cst.functions.groovy.helpers.JsonHelpers">
      </helper>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="true"
            class="eu.esdihumboldt.cst.functions.groovy.helpers.util.Collector">
      </allow>
      <import
            class="eu.esdihumboldt.cst.functions.groovy.helpers.util.Collector">
      </import>
      <allow
            allowAll="true"
            class="groovy.json.internal.LazyMap">
      </allow>
   </extension>

</plugin>
