<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <!--<propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.geometric.NetworkExpansionParameterPage"
            function="eu.esdihumboldt.cst.functions.geometric.networkexpansion"
            id="eu.esdihumboldt.hale.ui.functions.geometric.networkexpansion"
            order="0">
         <parameter
               name="bufferWidth">
         </parameter>
      </propertyParameterPage>-->
   </extension>

</plugin>
