<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.function">
      <propertyParameterPage
            class="eu.esdihumboldt.hale.ui.functions.geometric.CoordinateReferenceSystemParameterPage"
            function="eu.esdihumboldt.cst.functions.geometric.reproject_geometry"
            id="eu.esdihumboldt.hale.ui.functions.geometric.reproject_geometry"
            order="0">
         <parameter
               name="referenceSystem">
         </parameter>
      </propertyParameterPage>
      <typeParameterPage
            class="eu.esdihumboldt.hale.ui.functions.geometric.SpatialJoinParameterPage"
            function="eu.esdihumboldt.cst.functions.geometric.spatialjoin"
            id="eu.esdihumboldt.cst.functions.geometric.spatialjoin">
         <parameter
               name="spatialjoin">
         </parameter>
      </typeParameterPage>
   </extension>

</plugin>
