<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.appschema.writer.AppSchemaMappingFileWriter"
            id="eu.esdihumboldt.hale.io.appschema.writer"
            name="App-Schema Configuration">
         <contentType
               ref="eu.esdihumboldt.hale.io.appschema.mapping">
         </contentType>
         <contentType
               ref="eu.esdihumboldt.hale.io.appschema.archive">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.appschema.writer.AppSchemaMappingUploader"
            id="eu.esdihumboldt.hale.io.appschema.uploader"
            name="App-Schema Configuration [Direct Upload]">
         <contentType
               ref="eu.esdihumboldt.hale.io.appschema.rest">
         </contentType>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.appschema.model.DataStoreComplexType"
            id="eu.esdihumboldt.hale.io.appschema.datastore"
            name="DataStore"
            namespace="http://www.geotools.org/app-schema"
            type="eu.esdihumboldt.hale.io.appschema.impl.internal.generated.app_schema.SourceDataStoresPropertyType$DataStore">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.appschema.model.FeatureChainingComplexType"
            id="eu.esdihumboldt.hale.io.appschema.featurechaining"
            name="FeatureChaining"
            namespace="http://www.geotools.org/app-schema"
            type="eu.esdihumboldt.hale.io.appschema.model.FeatureChaining">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.appschema.model.WorkspaceConfigurationComplexType"
            id="eu.esdihumboldt.hale.io.appschema.workspaceconf"
            name="WorkspaceConfiguration"
            namespace="http://www.geotools.org/app-schema"
            type="eu.esdihumboldt.hale.io.appschema.model.WorkspaceConfiguration">
      </complexValue>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.compatibility">
      <compatibility
            class="eu.esdihumboldt.hale.io.appschema.compatibility.GeoServerCompatibilityMode"
            id="eu.esdihumboldt.hale.io.appschema.compatibility"
            key="eu.esdihumboldt.hale.io.appschema.compatibility.geoserver"
            name="GeoServer">
         <supportsFilter
               ref="CQL">
         </supportsFilter>
         <supportsFilter
               ref="ECQL">
         </supportsFilter>
      </compatibility>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="eu.esdihumboldt.hale.io.appschema.mapping"
            name="App-Schema Mapping File"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://www.geotools.org/app-schema}AppSchemaDataAccess">
            </parameter>
         </describer>
      </content-type>
      <content-type
            file-extensions="zip"
            id="eu.esdihumboldt.hale.io.appschema.archive"
            name="App-Schema Config Archive"
            priority="normal">
      </content-type>
      <content-type
            id="eu.esdihumboldt.hale.io.appschema.rest"
            name="App-Schema REST"
            priority="normal">
      </content-type>
   </extension>

</plugin>
