<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.inspire.Identifier"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.inspire.identifier"
            id="eu.esdihumboldt.cst.functions.inspire.identifier">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.inspire.GeographicalName"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.inspire.geographicalname"
            id="eu.esdihumboldt.cst.functions.inspire.geographicalname">
      </propertyTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="inspire"
            cellExplanation="eu.esdihumboldt.cst.functions.inspire.IdentifierExplanation"
            description="(deprecated) Creates an Inspire Identifier structure. For the local ID part a source property is used, while the namespace is derived from information supplied for country, provider and product. For new mappings please map to the individual properties of the INSPIRE identifier (e.g. localId, namespace) directly."
            icon="icons/inspire.gif"
            identifier="eu.esdihumboldt.cst.functions.inspire.identifier"
            name="Inspire Identifier [deprecated]">
         <targetProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
               <propertyCondition
                     class="eu.esdihumboldt.cst.functions.inspire.InspireIdentifierTarget">
               </propertyCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </sourceProperties>
         <functionParameter
               description="The two letter ISO 3166 code of the member state the data provider is associated with, or an underscore (&quot;_&quot;) if the data provider is not associated with (only) one member state."
               label="Country"
               maxOccurrence="1"
               minOccurrence="1"
               name="countryName">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="The identifier of the data provider."
               label="Provider"
               maxOccurrence="1"
               minOccurrence="1"
               name="providerName">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="The identifier of the product the feature is part of."
               label="Product"
               maxOccurrence="1"
               minOccurrence="1"
               name="productName">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="The version of the identifier."
               label="Version"
               maxOccurrence="1"
               minOccurrence="0"
               name="version">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Specify the reason why a version is not present."
               label="Version NilReason"
               maxOccurrence="1"
               minOccurrence="0"
               name="versionNilReason">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="inspire"
            cellExplanation="eu.esdihumboldt.cst.functions.inspire.GeographicalNameExplanation"
            description="(deprecated) Create an Inspire Geographical Name structure, for one or more source properties that are used as spelling."
            icon="icons/inspire.gif"
            identifier="eu.esdihumboldt.cst.functions.inspire.geographicalname"
            name="Geographical Name [deprecated]">
         <targetProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
               <propertyCondition
                     class="eu.esdihumboldt.cst.functions.inspire.GeographicalNameTarget">
               </propertyCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  maxOccurrence="-1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </sourceProperties>
         <functionParameter
               description="The name of a source property to be used for the spelling text. The spelling text is the way the name is written."
               label="Spelling Text"
               maxOccurrence="n"
               minOccurrence="1"
               name="text">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="A script for each spelling text. The script is a set of graphic symbols (e.g. an alphabet) employed in writing the name, expressed using the four letters codes defined in ISO 15924, where applicable."
               label="Spelling Script"
               maxOccurrence="n"
               minOccurrence="1"
               name="script">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="A transliteration scheme for each spelling text. The transliteration scheme is the method used for the names conversion between different scripts."
               label="Spelling Transliteration"
               maxOccurrence="n"
               minOccurrence="1"
               name="transliterationScheme">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Qualitative information enabling to discern which credit should be given to the name with respect to its standardisation and/or its topicality."
               label="Name Status"
               maxOccurrence="1"
               minOccurrence="1"
               name="nameStatus">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Language of the name, given as a three letters code, in accordance with either ISO 639-3 or ISO 639-5."
               label="Language"
               maxOccurrence="1"
               minOccurrence="1"
               name="language">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Information enabling to acknowledge if the name is the one that is/was used in the area where the feature is situated at the instant when the name is/was in use."
               label="Nativeness"
               maxOccurrence="1"
               minOccurrence="1"
               name="nativeness">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Original data source from which the geographical name is taken from and integrated in the data set providing/publishing it. For some named spatial objects it might refer again to the publishing data set if no other information is available."
               label="Source of name"
               maxOccurrence="1"
               minOccurrence="1"
               name="sourceOfName">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Proper, correct or standard (standard within the linguistic community concerned) pronunciation of a name, expressed in International Phonetic Alphabet (IPA)."
               label="Pronunciation IPA"
               maxOccurrence="1"
               minOccurrence="1"
               name="pronunciationIPA">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Proper, correct or standard (standard within the linguistic community concerned) pronunciation of a name, expressed by a link to any sound file."
               label="Pronunciation Sound Link"
               maxOccurrence="1"
               minOccurrence="1"
               name="pronunciationSoundLink">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Classes of nouns reflected in the behaviour of associated words."
               label="Grammatical Gender"
               maxOccurrence="1"
               minOccurrence="1"
               name="grammaticalGender">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Grammatical category of nouns that expresses count distinctions."
               label="Grammatical Number"
               maxOccurrence="1"
               minOccurrence="1"
               name="grammaticalNumber">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="Functions related to Inspire specific structures"
            id="inspire"
            name="Inspire">
      </category>
   </extension>

</plugin>
