<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.MappingExport">
      <MappingExportFactory
            description="HTML 5 Export"
            extension="*.html"
            name="HTML"
            providerClass="eu.esdihumboldt.hale.htmlexporter.HtmlMappingExportFactory">
      </MappingExportFactory>
   </extension>

</plugin>
