<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.map.MapView"
            icon="icons/map.gif"
            id="eu.esdihumboldt.hale.ui.views.map"
            name="%view.map.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.esdihumboldt.hale.ui.application.perspective.default">
         <viewShortcut
               id="eu.esdihumboldt.hale.ui.views.map">
         </viewShortcut>
         <view
               id="eu.esdihumboldt.hale.ui.views.map"
               minimized="false"
               relationship="stack"
               relative="eu.esdihumboldt.hale.ui.views.schemas">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
