<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.headless.sink">
      <sink
            class="eu.esdihumboldt.hale.common.headless.orient.OrientTransformationSink"
            id="eu.esdihumboldt.hale.headless.sink.orient"
            priority="0"
            reiterable="true">
      </sink>
   </extension>

</plugin>
