<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.common.groovy.sandbox.enable.GroovyServiceFactory"
            id="eu.esdihumboldt.hale.common.groovy.sandbox.enable"
            scope="project">
         <service
               interface="eu.esdihumboldt.util.groovy.sandbox.GroovyService">
         </service>
      </services>
   </extension>
</plugin>
