<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.service">
      <services
            factory="eu.esdihumboldt.hale.io.haleconnect.HaleConnectServiceFactory"
            id="eu.esdihumboldt.hale.io.haleconnect.services"
            scope="global">
         <service
               interface="eu.esdihumboldt.hale.io.haleconnect.HaleConnectService">
         </service>
      </services>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            id="eu.esdihumboldt.hale.io.haleconnect.share"
            name="Share project"
            type="eu.esdihumboldt.hale.common.core.io.project.ProjectWriter">
      </action>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.haleconnect.project.HaleConnectProjectWriter"
            id="eu.esdihumboldt.hale.io.haleconnect.uploader"
            name="hale connect transformation project">
         <contentType
               ref="eu.esdihumboldt.hale.io.haleconnect.zip">
         </contentType>
      </provider>
      <provider
            allowDuplicate="false"
            class="eu.esdihumboldt.hale.io.haleconnect.project.HaleConnectProjectReader"
            id="eu.esdihumboldt.hale.io.project.haleconnect.zip.reader"
            name="hale connect project archive">
         <contentType
               ref="eu.esdihumboldt.hale.io.haleconnect.zip">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="hcp"
            id="eu.esdihumboldt.hale.io.haleconnect.zip"
            name="hale connect project"
            priority="normal">
      </content-type>
   </extension>

</plugin>
