<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
   id="org.eclipse.helprcp.help"
   name="Help Content"
   version="1.0.0.qualifier"
>
   <requires>
      <import plugin="org.eclipse.ui" version="3.6.2"/>
      <import plugin="org.eclipse.help.ui" version="3.5.3"/>
   </requires>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
<extension
point="org.eclipse.ui.menus">
<menuContribution
locationURI="menu:org.eclipse.ui.main.menu">
<menu
      id="help"
      label="Hilfe">
<command
      commandId="org.eclipse.ui.help.displayHelp"
      id="help"
      label="Help"
      style="push">
</command>
</menu>
</menuContribution>
</extension>
<extension
point="org.eclipse.ui.bindings">
<key
commandId="org.eclipse.ui.help.displayHelp"
schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
sequence="F1">
</key>
</extension>
</plugin>
