<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.ui.views.data" name="Data View Extensions" schema="schema/eu.esdihumboldt.hale.ui.views.data.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.data.SourceDataView"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.ui.views.data.source"
            name="%view.sourceTable.name"
            restorable="true">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.data.TransformedDataView"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.ui.views.data.transformed"
            name="%view.transformedTable.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.views.data">
      <instanceView
            class="eu.esdihumboldt.hale.ui.views.data.internal.compare.PopulatedInstanceTreeViewer"
            icon="icons/compare2.gif"
            id="eu.esdihumboldt.hale.ui.views.data.compare"
            name="Compare (only populated)">
      </instanceView>
      <instanceView
            class="eu.esdihumboldt.hale.ui.views.data.internal.compare.DefinitionInstanceTreeViewer"
            icon="icons/compare.gif"
            id="eu.esdihumboldt.hale.ui.views.data.compare.all"
            name="Compare (full schema)">
      </instanceView>
      <instanceView
            class="eu.esdihumboldt.hale.ui.views.data.internal.explore.InstanceExplorer"
            icon="icons/explore.gif"
            id="eu.esdihumboldt.hale.ui.views.data.explore"
            name="Explore">
      </instanceView>
   </extension>

</plugin>
