<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.data.SourceDataView"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.ui.views.data.source"
            name="%view.sourceTable.name"
            restorable="true">
      </view>
      <view
            category="eu.esdihumboldt.hale.ui"
            class="eu.esdihumboldt.hale.ui.views.data.TransformedDataView"
            icon="icons/table.gif"
            id="eu.esdihumboldt.hale.ui.views.data.transformed"
            name="%view.transformedTable.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.views.data.internal.ServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.views.data.ReferenceSampleService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.views.xml"
            primary="false">
      </toc>
      <toc
            file="toc.views.subtopic.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
