<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="pb"
            id="eu.esdihumboldt.hale.io.pb"
            name="Protocol Buffer File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.pb.ProtocolBufferInstanceWriter"
            id="eu.esdihumboldt.hale.io.pb.writer"
            name="Protocol Buffer File">
         <contentType
               ref="eu.esdihumboldt.hale.io.pb">
         </contentType>
      </provider>
   </extension>

</plugin>
