<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.script" name="Script" schema="schema/eu.esdihumboldt.hale.script.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.script">
      <script
            class="eu.esdihumboldt.hale.common.scripting.groovy.GroovyScript"
            id="eu.esdihumboldt.hale.common.scripting.groovy">
      </script>
      <script
            class="eu.esdihumboldt.hale.common.scripting.mathematical.MathScript"
            id="eu.esdihumboldt.hale.common.scripting.math">
         <argumentBinding
               class="java.lang.Number">
         </argumentBinding>
         <resultBinding
               class="java.lang.Number">
         </resultBinding>
      </script>
   </extension>

</plugin>
