<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            id="eu.esdihumboldt.cst.functions.geometric"
            name="Geometric">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            description="Creates a point from a X, Y and optionally a Z ordinate"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.OrdinatesToPointExplanation"
            icon="icons/geometry.png"
            identifier="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point"
            name="Ordinates to Point">
         <targetProperties>
            <property
                  description="The property that shall hold the created point"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryCondition>
                  <geometryType
                        type="org.locationtech.jts.geom.Point">
                  </geometryType>
               </geometryCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The X ordinate for the point to create"
                  label="X"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="x">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
            <property
                  description="The Y ordinate for the point to create"
                  label="Y"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="y">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
            <property
                  description="The Z ordinate for the point to create"
                  label="Z"
                  maxOccurrence="1"
                  minOccurrence="0"
                  name="z">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </sourceProperties>
         <functionParameter
               description="Specify the coordinate reference system for the created Point"
               label="Coordinate Reference System"
               maxOccurrence="1"
               minOccurrence="0"
               name="referenceSystem">
            <parameterBinding
                  class="java.lang.String">
               <validator
                     class="eu.esdihumboldt.cst.functions.geometric.SRSValidator">
               </validator>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.NetworkExpansionExplanation"
            description="Creates a buffer on a geometry."
            icon="icons/geometry.png"
            help = "help/network/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.networkexpansion"
            name="Network Expansion">
         <targetProperties>
            <property
                  description="The property that shall hold the created point"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The geometry to create a buffer on."
                  label="Geometry"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
            <property
                  description="Variable that can be used in the buffer width expression"
                  label="Variable"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
            </property>
         </sourceProperties>
         <functionParameter
               description="The size of the buffer to create on the source geometry. May be a mathematical expression."
               label="Buffer width"
               maxOccurrence="1"
               minOccurrence="1"
               name="bufferWidth"
               scriptable="true">
            <parameterBinding
                  class="java.lang.Number">
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.CalculateLengthExplanation"
            description="Calculate the length of a geometry."
            icon="icons/geometry.png"
            help = "help/CalculateLength/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.calculatelength"
            name="Calculate Length">
         <targetProperties>
            <property
                  description="The property that shall hold the calculated length"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The geometry used to calculate the length"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.CalculateAreaExplanation"
            description="Calculate the area of a geometry."
            icon="icons/geometry.png"
            identifier="eu.esdihumboldt.cst.functions.geometric.calculatearea"
            name="Calculate Area">
         <targetProperties>
            <property
                  description="The property that shall hold the calculated area"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The geometry to calculate the area from"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.CentroidExplanation"
            description="Calculates the centroid of a given geometry."
            icon="icons/geometry.png"
            help = "help/centroid/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.centroid"
            name="Centroid">
         <targetProperties>
            <property
                  description="The property the centroid is assigned to"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The geometry used to calculate the centroid"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            description="Compute geometric extent based on all input geometries. The options Bounding Box, Convex Hull and Union are possible."
            icon="icons/geometry.png"
            help = "help/extent/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.extent"
            name="Compute Extent">
         <targetProperties>
            <property
                  description="Computed extent"
                  eager="false"
                  label="Extent"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="Source geometries (eager)"
                  eager="true"
                  label="Geometries"
                  maxOccurrence="n"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
         <functionParameter
               label="Extent Type"
               maxOccurrence="1"
               minOccurrence="1"
               name="type"
               scriptable="false">
            <parameterEnumeration>
               <enumerationValue
                     value="convexhull">
               </enumerationValue>
               <enumerationValue
                     value="boundingbox">
               </enumerationValue>
               <enumerationValue
                     value="union">
               </enumerationValue>
            </parameterEnumeration>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            description="Aggregate similar input geometries"
            icon="icons/geometry.png"
            help="help/aggregate/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.aggregate"
            name="Aggregate">
         <targetProperties>
            <property
                  description="Aggregated geometry"
                  eager="false"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="Source geometries (eager)"
                  eager="true"
                  label="Geometries"
                  maxOccurrence="n"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.ReprojectGeometryExplanation"
            description="Reproject Geometry"
            icon="icons/geometry.png"
            identifier="eu.esdihumboldt.cst.functions.geometric.reproject_geometry"
            name="Reproject Geometry">
         <targetProperties>
            <property
                  description="The property that shall hold the output geometry"
                  eager="false"
                  label="Target geometry"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="target">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The property that shall hold the input geometry"
                  eager="false"
                  label="Source geometry"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="source">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
         <functionParameter
               deprecated="false"
               description="Specify the coordinate reference system for the destination geometry"
               label="Coordinate Reference System"
               maxOccurrence="1"
               minOccurrence="1"
               name="referenceSystem"
               scriptable="false">
            <parameterBinding
                  class="java.lang.String">
               <validator
                     class="eu.esdihumboldt.cst.functions.geometric.SRSValidator">
               </validator>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.interiorpoint.InteriorPointExplanation"
            description="Computes an interior point of a geometry (up to 2D). An interior point is guaranteed to lie in the interior of the geometry, if it is possible to calculate such a point exactly. Otherwise, the point may lie on the boundary of the geometry (e.g. if the geometry is a line)."
            icon="icons/geometry.png"
            help="help/interiorPoint/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.interiorPoint"
            name="Interior Point">
         <targetProperties>
            <property
                  description="The property the centroid is assigned to"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The geometry used to calculate the centroid"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryOrParentCondition></geometryOrParentCondition>
            </property>
         </sourceProperties>
      </propertyFunction>
      <typeFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            icon="icons/geometry.png"
            help="help/spatialJoin/help.xhtml"
            identifier="eu.esdihumboldt.cst.functions.geometric.spatialjoin"
            name="Spatial Join">
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <sourceTypes>
            <type
                  maxOccurrence="n"
                  minOccurrence="2"
                  name="types">
            </type>
         </sourceTypes>
         <functionParameter
               deprecated="false"
               description="Spatial Join definition"
               label="Spatial Join definition"
               maxOccurrence="1"
               minOccurrence="1"
               name="spatialjoin"
               scriptable="false">
            <parameterBinding></parameterBinding>
         </functionParameter>
         <functionParameter
               deprecated="false"
               description="If enabled a result is created only if all Join conditions are met"
               label="Inner Join"
               maxOccurrence="1"
               minOccurrence="0"
               name="innerJoin"
               scriptable="false">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false"
                  defaultDescription="Default behavior is that a result is created for every instance of the Join&apos;s focus type"
                  sample="true"
                  sampleDescription="Only create a result from the Join if there are linked instances for all Join conditions">
            </valueDescriptor>
         </functionParameter>
      </typeFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.OrdinatesToPoint"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point"
            id="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.NetworkExpansion"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.networkexpansion"
            id="eu.esdihumboldt.cst.functions.geometric.networkexpansion">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.CalculateLength"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.calculatelength"
            id="eu.esdihumboldt.cst.functions.geometric.calculatelength">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.CalculateArea"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.calculatearea"
            id="eu.esdihumboldt.cst.functions.geometric.calculatearea">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.Centroid"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.centroid"
            id="eu.esdihumboldt.cst.functions.geometric.centroid">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.extent.ExtentTransformation"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.extent"
            id="eu.esdihumboldt.cst.functions.geometric.extent">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.aggregate.AggregateTransformation"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.aggregate"
            id="eu.esdihumboldt.cst.functions.geometric.aggregate">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.ReprojectGeometry"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.reproject_geometry"
            id="eu.esdihumboldt.cst.functions.geometric.reproject_geometry">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.interiorpoint.InteriorPoint"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.interiorPoint"
            id="eu.esdihumboldt.cst.functions.geometric.interiorPoint">
      </propertyTransformation>
      <typeTransformation
            class="eu.esdihumboldt.cst.functions.geometric.join.SpatialJoin"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.spatialjoin"
            id="eu.esdihumboldt.cst.functions.geometric.spatialjoin">
      </typeTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.cst.functions.groovy.helper">
      <category
            path="geom">
      </category>
      <helper
            category="geom"
            class="eu.esdihumboldt.cst.functions.geometric.extent.ExtentHelperFunctions">
      </helper>
      <helper
            category="geom"
            class="eu.esdihumboldt.cst.functions.geometric.GeometryHelperFunctions">
      </helper>
      <category
            path="crs">
      </category>
      <helper
            category="crs"
            class="eu.esdihumboldt.cst.functions.geometric.CRSHelperFunctions">
      </helper>
      <helper
            category="geom"
            class="eu.esdihumboldt.cst.functions.geometric.SimpleFeatureGeometryHelpers">
      </helper>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.cst.functions.geometric.join.SpatialJoinParameterType"
            id="eu.esdihumboldt.cst.functions.geometric.join.parameter"
            name="spatialjoin-parameter"
            namespace="http://www.esdi-humboldt.eu/hale/join/spatial"
            type="eu.esdihumboldt.cst.functions.geometric.join.SpatialJoinParameter">
      </complexValue>
   </extension>

</plugin>
