<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            id="eu.esdihumboldt.cst.functions.geometric"
            name="Geometric">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            description="Creates a point from a X, Y and optionally a Z ordinate"
            cellExplanation="eu.esdihumboldt.cst.functions.geometric.OrdinatesToPointExplanation"
            icon="icons/geometry.png"
            identifier="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point"
            name="Ordinates to Point">
         <targetProperties>
            <property
                  description="The property that shall hold the created point"
                  maxOccurrence="1"
                  minOccurrence="1">
               <geometryCondition>
                  <geometryType
                        type="com.vividsolutions.jts.geom.Point">
                  </geometryType>
               </geometryCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  description="The X ordinate for the point to create"
                  label="X"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="x">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
            <property
                  description="The Y ordinate for the point to create"
                  label="Y"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="y">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
            <property
                  description="The Z ordinate for the point to create"
                  label="Z"
                  maxOccurrence="1"
                  minOccurrence="0"
                  name="z">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </sourceProperties>
         <functionParameter
               description="Specify the coordinate reference system for the created Point"
               label="Coordinate Reference System"
               maxOccurrence="1"
               minOccurrence="0"
               name="referenceSystem">
            <validator
                  class="eu.esdihumboldt.cst.functions.geometric.SRSValidator">
            </validator>
         </functionParameter>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.OrdinatesToPoint"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point"
            id="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point">
      </propertyTransformation>
   </extension>

</plugin>
