<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            id="eu.esdihumboldt.cst.functions.geometric"
            name="Geometric">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.cst.functions.geometric"
            description="Creates a point from a X, Y and optionally a Z ordinate"
            icon="icons/geometry.png"
            identifier="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point"
            name="Ordinates to Point">
         <targetProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="com.vividsolutions.jts.geom.Point">
               </bindingCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="0"
                  name="X">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
            <property
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="Y">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
            <property
                  maxOccurrence="1"
                  minOccurrence="0"
                  name="Z">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.Double">
               </bindingCondition>
            </property>
         </sourceProperties>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="0"
               name="referenceSystem">
         </functionParameter>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.transformation">
      <propertyTransformation
            class="eu.esdihumboldt.cst.functions.geometric.OrdinatesToPoint"
            engine="eu.esdihumboldt.align.java"
            function="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point"
            id="eu.esdihumboldt.cst.functions.geometric.ordinates_to_point">
      </propertyTransformation>
   </extension>

</plugin>
