<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.jdbc.config">
      <connection
            configurer="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessConnectionConfigurer"
            id="eu.esdihumboldt.hale.io.jdbc.msaccess"
            type="net.ucanaccess.jdbc.UcanaccessConnection">
      </connection>
      <driver
            class="net.ucanaccess.jdbc.UcanaccessDriver"
            id="eu.esdihumboldt.hale.io.jdbc.msaccess.driver"
            isSchemaSelectionEnable="false"
            multipleSchemaSelection="false"
            name="MS Access Driver"
            testUri="jdbc:ucanaccess:///msaccess-test.mdb"
            uriBuilder="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessURIBuilder">
         <prefix
               value="jdbc:ucanaccess">
         </prefix>
      </driver>
      <readSchemaAdvisor
            class="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessSchemaReaderAdvisor"
            connection="net.ucanaccess.jdbc.UcanaccessConnection"
            id="eu.esdihumboldt.hale.io.jdbc.msaccess">
      </readSchemaAdvisor>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessSchemaReader"
            id="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessSchemaReader"
            name="MS Access Database">
         <contentType
               ref="eu.esdihumboldt.hale.io.jdbc.msaccess">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessInstanceReader"
            id="eu.esdihumboldt.hale.io.jdbc.msaccess.MsAccessInstanceReader"
            name="MS Access Database">
         <contentType
               ref="eu.esdihumboldt.hale.io.jdbc.msaccess">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="mdb"
            id="eu.esdihumboldt.hale.io.jdbc.msaccess"
            name="MS Access Database file"
            priority="normal">
      </content-type>
   </extension>

</plugin>
