<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xsd,xml"
            id="eu.esdihumboldt.hale.io.xsd"
            name="XML schema"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://www.w3.org/2001/XMLSchema}schema">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.xsd.reader.XmlSchemaReader"
            id="eu.esdihumboldt.hale.io.xsd.reader"
            name="XML schema">
         <contentType
               ref="eu.esdihumboldt.hale.io.xsd">
         </contentType>
         <providerParameter
               description="If only types with associated global elements may be mapped, or all types with a global type definition"
               label="Only types with associated global elements may be mapped"
               name="onlyElementsMappable"
               optional="true">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true">
            </valueDescriptor>
         </providerParameter>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.resource">
      <advisor
            class="eu.esdihumboldt.hale.io.xsd.XMLSchemaResourceAdvisor"
            id="eu.esdihumboldt.hale.io.xsd">
         <contentType
               ref="eu.esdihumboldt.hale.io.xsd">
         </contentType>
      </advisor>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.schema.valueconstraint">
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.factory.XLinkReferenceFactory"
            id="xsd_xlink"
            type="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.XLinkReference">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.xsd.constraint.factory.XmlAttributeFlagFactory"
            id="xsd_attribute"
            type="eu.esdihumboldt.hale.io.xsd.constraint.XmlAttributeFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.xsd.constraint.factory.RestrictionFlagFactory"
            id="xsd_restriction"
            type="eu.esdihumboldt.hale.io.xsd.constraint.RestrictionFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.xsd.constraint.factory.XmlMixedFlagFactory"
            id="xsd_mixed"
            type="eu.esdihumboldt.hale.io.xsd.constraint.XmlMixedFlag">
      </valueconstraint>
      <valueconstraint
            factory="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.factory.SkipGeometryValidationFactory"
            id="xsd_skip-geometry-validation"
            type="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.SkipGeometryValidation">
      </valueconstraint>
      <alias
            for="xsd_xlink"
            id="xsd.xlink">
      </alias>
      <alias
            for="xsd_attribute"
            id="xsd.attribute">
      </alias>
      <alias
            for="xsd_restriction"
            id="xsd.restriction">
      </alias>
      <alias
            for="xsd_mixed"
            id="xsd.mixed">
      </alias>
      <alias
            for="xsd_skip-geometry-validation"
            id="xsd.skip-geometry-validation">
      </alias>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allowPackage
            allowChildren="true"
            name="eu.esdihumboldt.hale.io.xsd.reader.internal">
      </allowPackage>
      <allowPackage
            allowChildren="true"
            name="eu.esdihumboldt.hale.io.xsd.model">
      </allowPackage>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.xsd.anytype.valuetypes.CustomTypeContentType"
            id="eu.esdihumboldt.hale.io.xsd.anytype.CustomTypeContent"
            name="typeContent"
            namespace="http://www.esdi-humboldt.eu/hale/io/xsd"
            type="eu.esdihumboldt.hale.io.xsd.anytype.CustomTypeContent">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.xsd.anytype.valuetypes.CustomTypeContentAssociationType"
            id="eu.esdihumboldt.hale.io.xsd.anytype.CustomTypeContentAssociation"
            name="association"
            namespace="http://www.esdi-humboldt.eu/hale/io/xsd"
            type="eu.esdihumboldt.hale.io.xsd.anytype.CustomTypeContentAssociation">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.io.xsd.anytype.valuetypes.CustomTypeContentConfigurationType"
            id="eu.esdihumboldt.hale.io.xsd.anytype.CustomTypeContentConfiguration"
            name="typeContentConfig"
            namespace="http://www.esdi-humboldt.eu/hale/io/xsd"
            type="eu.esdihumboldt.hale.io.xsd.anytype.CustomTypeContentConfiguration">
      </complexValue>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.instance.validation">
      <propertyConstraintValidator
            constraint="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.XLinkReference"
            id="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.validator.XLinkReferenceValidator"
            validator="eu.esdihumboldt.hale.io.xsd.reader.internal.constraint.validator.XLinkReferenceValidator">
      </propertyConstraintValidator>
   </extension>

</plugin>
