<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.ui.io.config">
      <configPage
            class="eu.esdihumboldt.hale.io.appschema.ui.IncludeSchemaConfigurationPage"
            order="1">
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.uploader">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.appschema.ui.FeatureChainingConfigurationPage"
            order="2">
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.uploader">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.appschema.ui.WorkspaceConfigurationPage"
            order="3">
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.uploader">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.appschema.ui.AppSchemaDataStoreConfigurationPage"
            order="4">
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.writer">
         </provider>
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.uploader">
         </provider>
      </configPage>
      <configPage
            class="eu.esdihumboldt.hale.io.appschema.ui.UserPasswordPage"
            order="5">
         <provider
               ref="eu.esdihumboldt.hale.io.appschema.uploader">
         </provider>
      </configPage>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.target">
      <providerTarget
            provider="eu.esdihumboldt.hale.io.appschema.uploader"
            target="uri">
      </providerTarget>
   </extension>

</plugin>
