<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.xslt" name="XSL Transformation Functions" schema="schema/eu.esdihumboldt.hale.xslt.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.io.xslt.XsltExport"
            id="eu.esdihumboldt.hale.io.xslt"
            name="XSLT transformation">
         <contentType
               ref="eu.esdihumboldt.hale.io.xslt">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.io.xslt.citygml.CityGMLXsltExport"
            id="eu.esdihumboldt.hale.io.xslt.citygml"
            name="XSLT transformation (CityGML)">
         <contentType
               ref="eu.esdihumboldt.hale.io.xslt">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xsl, xslt,xml"
            id="eu.esdihumboldt.hale.io.xslt"
            name="XSLT transformation"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.xslt">
      <typeTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.type.retype.XslRetype"
            function="eu.esdihumboldt.hale.align.retype"
            id="eu.esdihumboldt.hale.align.retype.xslt">
      </typeTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.rename.XslRename"
            function="eu.esdihumboldt.hale.align.rename"
            id="eu.esdihumboldt.hale.align.rename.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.XslAssign"
            function="eu.esdihumboldt.hale.align.assign"
            id="eu.esdihumboldt.hale.align.assign.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.XslFormattedString"
            function="eu.esdihumboldt.hale.align.formattedstring"
            id="eu.esdihumboldt.hale.align.formattedstring.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.mathexpression.XslMathExpression"
            function="eu.esdihumboldt.cst.functions.numeric.mathexpression"
            id="eu.esdihumboldt.hale.align.mathexpression.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.XslGenerateUID"
            function="eu.esdihumboldt.hale.align.generateuid"
            id="eu.esdihumboldt.hale.align.generateuid.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.classification.XslClassification"
            function="eu.esdihumboldt.hale.align.classification"
            id="eu.esdihumboldt.hale.align.classification.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.GenericXPath"
            function="eu.esdihumboldt.hale.align.generic.xpath"
            id="eu.esdihumboldt.hale.io.xslt.generic.xpath">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.regexanalysis.XslRegexAnalysis"
            function="eu.esdihumboldt.cst.functions.string.regexanalysisfunction"
            id="eu.esdihumboldt.hale.align.regexanalysisfunction.xslt">
      </propertyTransformation>
      <propertyTransformation
            class="eu.esdihumboldt.hale.io.xslt.transformations.property.inline.XslInline"
            function="eu.esdihumboldt.hale.align.inline"
            id="eu.esdihumboldt.hale.io.xslt.inline">
      </propertyTransformation>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.compatibility">
      <compatibility
            class="eu.esdihumboldt.hale.io.xslt.compatibility.XsltCompatibilityMode"
            id="eu.esdihumboldt.hale.io.xslt.compatibility"
            key="eu.esdihumboldt.hale.io.xslt.compatibility.xslt"
            name="Xslt">
      </compatibility>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <propertyFunction
            category="eu.esdihumboldt.hale.io.xslt"
            description="Function for using a custom XPath expression for property transformation"
            icon="icons/xsl.png"
            identifier="eu.esdihumboldt.hale.align.generic.xpath"
            name="XPath expression">
         <targetProperties>
            <property
                  description="Target property where the XPath expression&apos;s result it stored"
                  label="Result"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="result">
               <valueCondition
                     allowAugmented="false">
               </valueCondition>
            </property>
         </targetProperties>
         <functionParameter
               description="The custom XPath expression"
               label="XPath expression"
               maxOccurrence="1"
               minOccurrence="1"
               name="select"
               scriptable="false">
            <functionParameterBinding
                  class="java.lang.String">
            </functionParameterBinding>
         </functionParameter>
         <sourceProperties>
            <property
                  description="Source properties available as variables in the custom XPath expression"
                  label="Variables"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
            </property>
         </sourceProperties>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            description="XSL specific functions"
            id="eu.esdihumboldt.hale.io.xslt"
            name="XSLT">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.instance.filter">
      <filterDefinition
            class="eu.esdihumboldt.hale.io.xslt.xpath.XPathFilterDefinition"
            id="eu.esdihumboldt.hale.filter.xpath">
      </filterDefinition>
   </extension>

</plugin>
