<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.ui.script" name="Script UI" schema="schema/eu.esdihumboldt.hale.ui.script.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.ui.script">
      <script-ui
            class="eu.esdihumboldt.hale.ui.scripting.mathematical.MathUI"
            id="eu.esdihumboldt.hale.ui.scripting.math-ui"
            script="eu.esdihumboldt.hale.common.scripting.math">
      </script-ui>
   </extension>

</plugin>
