<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.esdihumboldt.hale.align.transformation" name="Transformation functions and execution" schema="schema/eu.esdihumboldt.hale.align.transformation.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.function" name="Transformation function definitions" schema="schema/eu.esdihumboldt.hale.align.function.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.engine" name="Transformation engine definitions" schema="schema/eu.esdihumboldt.hale.align.engine.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.category" name="Transformation function categories" schema="schema/eu.esdihumboldt.hale.align.category.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.annotation" name="Alignment cell annotations" schema="schema/eu.esdihumboldt.hale.align.annotation.exsd"/>
   <extension-point id="eu.esdihumboldt.hale.align.compatibility" name="Compatibility mode controlling" schema="schema/eu.esdihumboldt.hale.align.compatibility.exsd"/>
   <extension
         point="eu.esdihumboldt.hale.align.category">
      <category
            id="eu.esdihumboldt.hale.align.general"
            name="General">
      </category>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.function">
      <typeFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.RetypeExplanation"
            description="Maps one source type to one target type"
            identifier="eu.esdihumboldt.hale.align.retype"
            name="Retype">
         <sourceTypes>
            <type
                  description="The source type to be mapped to a type in the target schema"
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </sourceTypes>
         <targetTypes>
            <type
                  description="The target type that corresponds to the source type"
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="If set to true, the Retype transformation will try to copy child properties of equal names"
               label="Structural rename"
               maxOccurrence="1"
               minOccurrence="1"
               name="structuralRename">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </functionParameter>
         <functionParameter
               description="Specifies if for the structural rename it is allowed to do copying independent of property namespaces."
               label="Allow ignore namespace"
               maxOccurrence="1"
               minOccurrence="1"
               name="ignoreNamespaces">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </functionParameter>
         <functionParameter
               description="Specifies if for the structural rename geometry objects should be copied."
               label="Copy geometry objects in structural rename"
               maxOccurrence="1"
               minOccurrence="0"
               name="copyGeometries">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true">
            </valueDescriptor>
         </functionParameter>
      </typeFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.RenameExplanation"
            description="Copy a source property to a target property"
            identifier="eu.esdihumboldt.hale.align.rename"
            name="Rename">
         <sourceProperties>
            <property
                  description="The source property to be mapped to a property in the target schema"
                  maxOccurrence="1"
                  minOccurrence="1">
            </property>
         </sourceProperties>
         <targetProperties>
            <property
                  description="The target property that corresponds to the source property"
                  maxOccurrence="1"
                  minOccurrence="1">
            </property>
         </targetProperties>
         <functionParameter
               maxOccurrence="1"
               minOccurrence="1"
               name="structuralRename"
               label="Structural rename"
               description="If set to true, the rename transformation will try to copy child properties of equal names, too.">
            <parameterBinding
               class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </functionParameter>
         <functionParameter
               description="Specifies if for the structural rename it is allowed to do copying independent of property namespaces."
               label="Allow ignore namespace"
               maxOccurrence="1"
               minOccurrence="1"
               name="ignoreNamespaces">
            <parameterBinding
               class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="false">
            </valueDescriptor>
         </functionParameter>
         <functionParameter
               description="Specifies if for the structural rename geometry objects should be copied."
               label="Copy geometry objects in structural rename"
               maxOccurrence="1"
               minOccurrence="0"
               name="copyGeometries">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
            <valueDescriptor
                  default="true">
            </valueDescriptor>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.AssignExplanation"
            description="Assigns a value to a target property"
            icon="icons/augmentation.gif"
            identifier="eu.esdihumboldt.hale.align.assign"
            name="Assign">
         <targetProperties>
            <property
                  description="The property a value shall be assigned to"
                  maxOccurrence="1"
                  minOccurrence="1">
               <valueCondition
                     allowAugmented="false" />
            </property>
         </targetProperties>
         <functionParameter
               description="The value to be assigned."
               label="Value"
               maxOccurrence="1"
               minOccurrence="1"
               name="value"
               scriptable="true">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.GenerateUIDExplanation"
            description="Assigns a generated unique id to a target property"
            identifier="eu.esdihumboldt.hale.align.generateuid"
            name="Generate Unique Id">
         <targetProperties>
            <property
                  description="The property the unique id shall be generated for"
                  maxOccurrence="1"
                  minOccurrence="1">
               <valueCondition
                     allowAugmented="false" />
            </property>
         </targetProperties>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.ClassificationMappingExplanation"
            description="Map classifications"
            identifier="eu.esdihumboldt.hale.align.classification"
            help="help/classification/help.xhtml"
            name="Classification">
         <sourceProperties>
            <property
                  description="The source property to be mapped to a property in the target schema"
                  maxOccurrence="1"
                  minOccurrence="1">
               <valueCondition
                     allowAugmented="true">
               </valueCondition>
            </property>
         </sourceProperties>
         <targetProperties>
            <property
                  description="The target property that corresponds to the source property"
                  maxOccurrence="1"
                  minOccurrence="1">
               <valueCondition
                     allowAugmented="true">
               </valueCondition>
            </property>
         </targetProperties>
         <functionParameter
               deprecated="true"
               description="(deprecated)"
               maxOccurrence="*"
               minOccurrence="0"
               name="classificationMapping">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               label="If not classified"
               maxOccurrence="1"
               minOccurrence="1"
               name="notClassifiedAction">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               label="Classification table"
               maxOccurrence="1"
               minOccurrence="1"
               name="lookupTable"
               scriptable="false"
               valueDescriptor="eu.esdihumboldt.hale.common.lookup.impl.LookupTableParameterValue">
            <parameterComplexValue
                  ref="eu.esdihumboldt.hale.common.lookup.lookuptable">
            </parameterComplexValue>
         </functionParameter>
      </propertyFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.FormattedStringExplanation"
            cellMigrator="eu.esdihumboldt.hale.common.align.model.functions.FormattedStringMigrator"
            description="Creates a formatted string based on a pattern and the input variables"
            icon="icons/text.png"
            help="help/formattedString/help.xhtml"
            identifier="eu.esdihumboldt.hale.align.formattedstring"
            name="Formatted string">
         <sourceProperties>
            <property
                  description="Input variables for the format pattern"
                  label="Variable"
                  maxOccurrence="n"
                  minOccurrence="0"
                  name="var">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </sourceProperties>
         <targetProperties>
            <property
                  description="The property is populated with the formatted string"
                  maxOccurrence="1"
                  minOccurrence="1">
               <bindingCondition
                     allowCollection="false"
                     allowConversion="true"
                     compatibleClass="java.lang.String">
               </bindingCondition>
            </property>
         </targetProperties>
         <functionParameter
               label="Format pattern"
               maxOccurrence="1"
               minOccurrence="1"
               name="pattern">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </propertyFunction>
      <typeFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.MergeExplanation"
            cellMigrator="eu.esdihumboldt.hale.common.align.model.functions.merge.MergeMigrator"
            description="Merges multiple instances of the source type into one instance of the target type, based on one or more matching properties."
            icon="icons/merge.gif"
            help="help/merge/help.xhtml"
            identifier="eu.esdihumboldt.hale.align.merge"
            name="Merge">
         <sourceTypes>
            <type
                  description="The source typed that is to be merged based on its properties."
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </sourceTypes>
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="Each property is defined by a property path"
               label="Merge property (key)"
               maxOccurrence="n"
               minOccurrence="1"
               name="property">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Each property is defined by a property path"
               label="Merge property (no key)"
               maxOccurrence="n"
               minOccurrence="0"
               name="additional_property">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
         <functionParameter
               description="Enable/disable auto detection of additional equal properties which will get merged."
               label="Auto detect and merge properties with equal values"
               maxOccurrence="1"
               minOccurrence="1"
               name="auto_detect">
            <parameterBinding
                  class="java.lang.Boolean">
            </parameterBinding>
         </functionParameter>
      </typeFunction>
      <typeFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.JoinExplanation"
            cellMigrator="eu.esdihumboldt.hale.common.align.model.functions.join.JoinMigrator"
            description="Joins multiple instances of different source types into one instance of the target type, based on one or more matching properties."
            help="help/join.xhtml"
            icon="icons/merge.gif"
            identifier="eu.esdihumboldt.hale.align.join"
            name="Join">
         <sourceTypes>
            <type
                  description="The source types that are to be joined based on their properties."
                  maxOccurrence="n"
                  minOccurrence="2"
                  name="types">
            </type>
         </sourceTypes>
         <targetTypes>
            <type
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="Join definition"
               label="Join definition"
               maxOccurrence="1"
               minOccurrence="1"
               name="join">
            <parameterBinding>
            </parameterBinding>
         </functionParameter>
      </typeFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.InlineExplanation"
            description="Inline transformation of property types."
            identifier="eu.esdihumboldt.hale.align.inline"
            name="Inline transformation">
         <targetProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
               <propertyCondition
                     class="eu.esdihumboldt.hale.common.align.conditions.MappablePropertyTypeCondition">
               </propertyCondition>
            </property>
         </targetProperties>
         <sourceProperties>
            <property
                  maxOccurrence="1"
                  minOccurrence="1">
               <propertyCondition
                     class="eu.esdihumboldt.hale.common.align.conditions.MappablePropertyTypeCondition">
               </propertyCondition>
            </property>
         </sourceProperties>
      </propertyFunction>
      <typeFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.CreateExplanation"
            description="Create instances of a specific schema type."
            identifier="eu.esdihumboldt.hale.align.create"
            name="Create">
         <targetTypes>
            <type
                  description="Target type to create instances of"
                  maxOccurrence="1"
                  minOccurrence="1">
            </type>
         </targetTypes>
         <functionParameter
               description="Number of instances to create"
               label="Number of instances"
               maxOccurrence="1"
               minOccurrence="0"
               name="number"
               scriptable="false">
            <parameterBinding
                  class="java.lang.Integer">
            </parameterBinding>
         </functionParameter>
      </typeFunction>
      <propertyFunction
            category="eu.esdihumboldt.hale.align.general"
            cellExplanation="eu.esdihumboldt.hale.common.align.model.functions.explanations.AssignExplanation"
            description="Assigns a value to a target property if a source property is present"
            icon="icons/augmentation.gif"
            identifier="eu.esdihumboldt.hale.align.assign.bound"
            help="help/assignBound/help.xhtml"
            name="Assign (Bound)">
         <sourceProperties>
            <property
                  description="If set, the assignment only is applicable if the anchor has a value."
                  label="Anchor"
                  maxOccurrence="1"
                  minOccurrence="1"
                  name="anchor">
            </property>
         </sourceProperties>
         <targetProperties>
            <property
                  description="The property a value shall be assigned to"
                  maxOccurrence="1"
                  minOccurrence="1">
               <valueCondition
                     allowAugmented="false">
               </valueCondition>
            </property>
         </targetProperties>
         <functionParameter
               description="The value to be assigned."
               label="Value"
               maxOccurrence="1"
               minOccurrence="1"
               name="value"
               scriptable="true">
            <parameterBinding></parameterBinding>
         </functionParameter>
      </propertyFunction>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.engine">
      <engine
            class="eu.esdihumboldt.hale.common.align.transformation.engine.internal.NullTransformationEngine"
            description="Transformation functions based complemtely on Java without need of a engine for execution"
            id="eu.esdihumboldt.align.java"
            name="Java transformation functions">
      </engine>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            id="eu.esdihumboldt.hale.io.align.read"
            name="Load alignment"
            type="eu.esdihumboldt.hale.common.align.io.AlignmentReader">
         <dependsOn
               action="eu.esdihumboldt.hale.io.schema.read.source">
         </dependsOn>
         <dependsOn
               action="eu.esdihumboldt.hale.io.schema.read.target">
         </dependsOn>
      </action>
      <action
            id="eu.esdihumboldt.hale.io.align.write"
            name="Save alignment"
            type="eu.esdihumboldt.hale.common.align.io.AlignmentWriter">
      </action>
      <action
            id="eu.esdihumboldt.hale.io.align.addbase"
            name="Load alignment"
            type="eu.esdihumboldt.hale.common.align.io.BaseAlignmentReader">
         <dependsOn
               action="eu.esdihumboldt.hale.io.schema.read.source">
         </dependsOn>
         <dependsOn
               action="eu.esdihumboldt.hale.io.schema.read.target">
         </dependsOn>
      </action>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="align,xml"
            id="eu.esdihumboldt.hale.io.align.default"
            name="HALE alignment (2.5)"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="hale-alignment">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="align,xml"
            id="eu.esdihumboldt.hale.io.align.26"
            name="hale alignment"
            priority="normal">
         <describer
               class="eu.esdihumboldt.hale.util.nonosgi.contenttype.describer.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://www.esdi-humboldt.eu/hale/alignment}alignment">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.common.align.io.impl.CastorAlignmentReader"
            id="eu.esdihumboldt.hale.io.align.default.reader"
            name="HALE alignment (2.5)">
         <contentType
               ref="eu.esdihumboldt.hale.io.align.default">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.align.io.impl.JaxbAlignmentWriter"
            id="eu.esdihumboldt.hale.io.align.26.writer"
            name="HALE alignment (2.6)">
         <contentType
               ref="eu.esdihumboldt.hale.io.align.26">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.align.io.impl.JaxbAlignmentReader"
            id="eu.esdihumboldt.hale.io.align.26.reader"
            name="HALE alignment (2.6)">
         <contentType
               ref="eu.esdihumboldt.hale.io.align.26">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.common.align.io.impl.JaxbBaseAlignmentReader"
            id="eu.esdihumboldt.hale.io.align.26.basereader"
            name="HALE alignment (2.6)">
         <contentType
               ref="eu.esdihumboldt.hale.io.align.26">
         </contentType>
      </provider>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.project">
      <action-file
            name="alignment.xml">
         <load
               action="eu.esdihumboldt.hale.io.align.read">
         </load>
         <save
               action="eu.esdihumboldt.hale.io.align.write"
               provider="eu.esdihumboldt.hale.io.align.26.writer">
         </save>
      </action-file>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.report">
      <messageDefinition
            class="eu.esdihumboldt.hale.common.align.transformation.report.impl.TransformationMessageImplDefinition"
            id="eu.esdihumboldt.hale.common.core.transformation">
      </messageDefinition>
      <reportDefinition
            class="eu.esdihumboldt.hale.common.align.transformation.report.impl.TransformationReportImplDefinition"
            id="eu.esdihumboldt.hale.common.core.transformation">
      </reportDefinition>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.complexvalue">
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.align.model.functions.join.JoinParameterType"
            id="eu.esdihumboldt.hale.common.align.join.parameter"
            name="join-parameter"
            namespace="http://www.esdi-humboldt.eu/hale/join"
            type="eu.esdihumboldt.hale.common.align.model.functions.join.JoinParameter">
      </complexValue>
      <complexValue
            descriptor="eu.esdihumboldt.hale.common.align.model.annotations.messages.MessageDescriptor"
            id="eu.esdihumboldt.hale.common.align.message"
            name="message"
            namespace="http://www.esdi-humboldt.eu/hale/core"
            type="eu.esdihumboldt.hale.common.align.model.annotations.messages.Message">
      </complexValue>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="eu.esdihumboldt.util.groovy.sandbox">
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.align.transformation.function.impl.FamilyInstanceImpl">
      </allow>
      <allowPackage
            allowChildren="true"
            name="eu.esdihumboldt.hale.common.align.transformation.report.impl">
      </allowPackage>
      <allowPackage
            allowChildren="true"
            name="eu.esdihumboldt.hale.common.align.model">
      </allowPackage>
      <import
            class="eu.esdihumboldt.hale.common.align.transformation.function.impl.NoResultException">
      </import>
      <allow
            allowAll="false"
            class="eu.esdihumboldt.hale.common.align.transformation.function.impl.NoResultException">
      </allow>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.align.annotation">
      <annotation
            descriptor="eu.esdihumboldt.hale.common.align.model.annotations.messages.MessageDescriptor"
            type="message">
      </annotation>
   </extension>

</plugin>
