<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fhg.igd.mapviewer.MapTool">
      <tool
            class="de.fhg.igd.mapviewer.tools.boxzoom.BoxZoomTool"
            description="%tool.description"
            icon="images/zoom2.png"
            name="%tool.name"
            priority="0">
      </tool>
   </extension>

</plugin>
