<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.esdihumboldt.hale.ui.style.service.internal.StylePreferencePage"
            id="eu.esdihumboldt.hale.ui.style.preferences"
            name="%preference.style.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.esdihumboldt.hale.ui.style.service.internal.StylePreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="eu.esdihumboldt.hale.ui.style.service.internal.StyleServiceFactory">
         <service
               serviceClass="eu.esdihumboldt.hale.ui.common.service.style.StyleService"></service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.esdihumboldt.hale.ui.style.typestyle"
            name="Change style">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.style.randomcolor"
            name="Assign random color">
      </command>
      <command
            id="eu.esdihumboldt.hale.ui.style.spectrum"
            name="Generate styles color scheme">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.esdihumboldt.hale.ui.style.handler.TypeStyleHandler"
            commandId="eu.esdihumboldt.hale.ui.style.typestyle">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
                     </instanceof>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.align.model.impl.TypeEntityDefinition">
                     </instanceof>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.instance.model.InstanceReference">
                     </instanceof>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.instance.model.Instance">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.style.handler.TypeRandomColorHandler"
            commandId="eu.esdihumboldt.hale.ui.style.randomcolor">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.schema.model.TypeDefinition">
                     </instanceof>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.align.model.impl.TypeEntityDefinition">
                     </instanceof>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.instance.model.InstanceReference">
                     </instanceof>
                     <instanceof
                           value="eu.esdihumboldt.hale.common.instance.model.Instance">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.esdihumboldt.hale.ui.style.handler.SpectrumColorSchemeHandler"
            commandId="eu.esdihumboldt.hale.ui.style.spectrum">
         <activeWhen>
            <or>
               <with
                     variable="hale.schemas.has_mappable_source">
                  <equals
                        value="true">
                  </equals>
               </with>
               <with
                     variable="hale.schemas.has_mappable_target">
                  <equals
                        value="true">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="eu.esdihumboldt.hale.ui.style.typestyle"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="eu.esdihumboldt.hale.ui.style.randomcolor"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="eu.esdihumboldt.hale.ui.style.typestyle"
            icon="icons/styles.gif">
      </image>
      <image
            commandId="eu.esdihumboldt.hale.ui.style.randomcolor"
            icon="icons/qmark.gif">
      </image>
      <image
            commandId="eu.esdihumboldt.hale.ui.style.spectrum"
            icon="icons/random.gif">
      </image>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.project">
      <action-file
            name="styles.sld">
         <load
               action="eu.esdihumboldt.hale.ui.style.load">
         </load>
         <save
               action="eu.esdihumboldt.hale.ui.style.save"
               provider="eu.esdihumboldt.hale.ui.style.save.sld">
         </save>
      </action-file>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.ui.io.action">
      <action-ui
            action="eu.esdihumboldt.hale.ui.style.load"
            icon="icons/styles.gif"
            id="eu.esdihumboldt.hale.ui.style.load"
            label="Map styles..."
            priority="0"
            projectResource="false"
            wizard="eu.esdihumboldt.hale.ui.style.io.wizard.StyleImportWizard">
      </action-ui>
      <action-ui
            action="eu.esdihumboldt.hale.ui.style.save"
            icon="icons/styles.gif"
            id="eu.esdihumboldt.hale.ui.style.save"
            label="Map styles..."
            priority="0"
            projectResource="false"
            wizard="eu.esdihumboldt.hale.ui.style.io.wizard.StyleExportWizard">
      </action-ui>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.action">
      <action
            id="eu.esdihumboldt.hale.ui.style.load"
            name="Load styles"
            type="eu.esdihumboldt.hale.ui.style.io.StyleReader">
      </action>
      <action
            id="eu.esdihumboldt.hale.ui.style.save"
            name="Save styles"
            type="eu.esdihumboldt.hale.ui.style.io.StyleWriter">
      </action>
      <advisor
            action="eu.esdihumboldt.hale.ui.style.load"
            class="eu.esdihumboldt.hale.ui.style.io.advisor.LoadStyle"
            id="eu.esdihumboldt.hale.ui.style.load">
      </advisor>
      <advisor
            action="eu.esdihumboldt.hale.ui.style.save"
            class="eu.esdihumboldt.hale.ui.style.io.advisor.SaveStyle"
            id="eu.esdihumboldt.hale.ui.style.save">
      </advisor>
   </extension>
   <extension
         point="eu.esdihumboldt.hale.io.provider">
      <provider
            class="eu.esdihumboldt.hale.ui.style.io.impl.SLDStyleReader"
            id="eu.esdihumboldt.hale.ui.style.load.sld"
            name="Styled Layer Descriptor">
         <contentType
               ref="eu.esdihumboldt.hale.io.sld">
         </contentType>
      </provider>
      <provider
            class="eu.esdihumboldt.hale.ui.style.io.impl.SLDStyleWriter"
            id="eu.esdihumboldt.hale.ui.style.save.sld"
            name="Styled Layer Descriptor">
         <contentType
               ref="eu.esdihumboldt.hale.io.sld">
         </contentType>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="sld,xml"
            id="eu.esdihumboldt.hale.io.sld"
            name="Styled Layer Descriptor"
            priority="normal">
      </content-type>
   </extension>

</plugin>
