<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.esdihumboldt.hale.io.jdbc.config">
      <connection
            configurer="eu.esdihumboldt.hale.io.jdbc.postgresql.PostGISConnectionConfigurer"
            id="eu.esdihumboldt.hale.io.jdbc.postgresql.postgis"
            type="org.postgresql.PGConnection">
      </connection>
      <geometrytype
            advisor="eu.esdihumboldt.hale.io.jdbc.postgresql.PostGISGeometries"
            connection="org.postgresql.PGConnection"
            id="eu.esdihumboldt.hale.io.jdbc.postgresql.postgis.geometry"
            name="geometry">
      </geometrytype>
      <driver
            class="org.postgresql.Driver"
            id="eu.esdihumboldt.hale.io.jdbc.postgresql.postgis.driver"
            name="PostgreSQL/PostGIS"
            testUri="jdbc:postgresql://localhost/db"
            uriBuilder="eu.esdihumboldt.hale.io.jdbc.postgresql.PostURIBuilder">
         <prefix
               value="jdbc:postgresql">
         </prefix>
         <schema-selection
               enabled="true"
               multiple="true"
               selector="eu.esdihumboldt.hale.io.jdbc.postgresql.PostSchemaSelector">
         </schema-selection>
      </driver>
      <customtype
            binding="java.math.BigDecimal"
            connection="org.postgresql.PGConnection"
            id="postgresql.money"
            name="money"
            sqltype="2">
      </customtype>
   </extension>

</plugin>
