name: Check

# XXX disabled for now because we use Jenkins still, but at the time this was tested it was functional
# on:
#   pull_request:
#     branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

    # Note: Actually we don't need Maven CLI, only Java 17, but this may have additional benefits due to the Maven cache
    - name: Setup Maven
      uses: s4u/setup-maven-action@4fdbe2a6a718a03bf4874636eed4311886cab6ba # v1.5.1
      with:
        java-version: 17
        java-distribution: temurin
        maven-version: 3.8.6

    - name: Clean
      run: ./build.sh clean
      working-directory: ./build

    - name: Test (commitStage)
      run: ./build.sh commitStage
      # run: ./build.sh integrationStage
      working-directory: ./build

      # https://github.com/marketplace/actions/junit-report-action
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@150e2f992e4fad1379da2056d1d1c279f520e058 # v3.8.0
      if: always() # always run even if the previous step fails
      with:
        report_paths: 'build/target/testReports/*.xml'

      # TODO allure report?
      # build/target/allure-results

      # TODO archive logs?
      # build/target/testReports/*.out,build/target/testReports/*.err
