name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

concurrency:
  # only run one publishing at a time to avoid conflicts
  group: publish-${{ github.ref }}

# env:
  # instead of embedded Maven use local Maven CLI
  # HALE_BUILD_MAVEN_EMBEDDED: 'false'

jobs:
  build:
    # Only on main repository (don't publish on forks)
    if: github.repository_owner == 'halestudio'

    runs-on: ubuntu-latest
    
    steps:
      - name: Setup Maven
        uses: s4u/setup-maven-action@6c4e9964d4ecb8f1026310cd8618791fd51a8016 # v1.19.0
        # uses: stempler/setup-maven-action@feat/cache-save-always
        with:
          java-version: 17
          java-distribution: temurin
          maven-version: 3.9.6
          # Note: currently not working because of https://github.com/actions/cache/issues/1315
          # Fix in https://github.com/actions/cache/pull/1325 not merged yet
          # cache-save-always: true

      - name: Install genisoimage # required for Mac build
        run: sudo apt-get install -y genisoimage

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Clean
        run: ./build.sh clean
        working-directory: ./build

      - name: Create hale-docker.conf file
        run: |
          mkdir -p ~/.hale
          cat <<EOF > ~/.hale/hale-docker.conf
          global {
            dockerHost="unix:///var/run/docker.sock"
          }
          EOF

      - name: Test
        run: ./build.sh commitStage # integrationStage no longer working due to outdated Docker client, tests are performed in hale-core
        working-directory: ./build

      - name: Product
        run: |
          ./build.sh product --arch x86_64 --os linux HALE
          ./build.sh product --arch x86_64 --os windows HALE
          ./build.sh product --arch x86_64 --os macosx HALE
          ./build.sh product --arch x86_64 --os linux --publish Infocenter
        working-directory: ./build

      - name: Upload hale studio build (Linux)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: hale studio (Linux)
          path: |
            build/target/hale-studio-*linux*.tar.gz
            !build/target/hale-studio-Infocenter*
          retention-days: 90

      - name: Upload hale studio build (Windows)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: hale studio (Windows)
          path: build/target/hale-studio-*win32*.zip
          retention-days: 90

      - name: Upload hale studio build (macos)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: hale studio (macos)
          path: |
            build/target/hale-studio-*macosx*.dmg
            build/target/hale-studio-*macosx*.tar.gz
          retention-days: 90

      - name: Install AWS CLI
        uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8
        with:
          version: 2

      - name: Update site
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.BUILD_ARCHIVE_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUILD_ARCHIVE_SECRET_KEY }}
        run: ./upload-site.sh
        working-directory: ./build    

      # - name: Deploy Artifacts
      #   env:
      #     WETF_ARTIFACTORY_USER: ${{ secrets.WETF_ARTIFACTORY_USER }}
      #     WETF_ARTIFACTORY_PASSWORD: ${{ secrets.WETF_ARTIFACTORY_PASSWORD }}
      #     JAVA_TOOL_OPTIONS: '-Dmaven.wagon.httpconnectionManager.ttlSeconds=120'
      #   run: ./build.sh deployArtifacts
      #   working-directory: ./build   

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6.2.0
        if: always() # always run even if the previous step fails
        with:
          # fail if there are no test results
          require_tests: true

          # Workaround for check that is additionally created being associated
          # to the wrong workflow/run. Instead no additional check is created.
          # See https://github.com/mikepenz/action-junit-report/issues/40
          annotate_only: true
          detailed_summary: true  
          report_paths: 'build/target/testReports/*.xml'

        # https://github.com/marketplace/actions/slack-notify-build
      - name: Notify failure to Slack
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@3665186a8c1a022b28a1dbe0954e73aa9081ea9e # v1.6.0
        with:
          channel: build-failures
          status: FAILED
          color: danger

  trivy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download hale studio build (Linux)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: hale studio (Linux)

      - name: Extract the archive file
        run: |
          mkdir -p hale-studio-linux-trivy
          tar -xzf hale-studio-*linux*.tar.gz -C hale-studio-linux-trivy

      - name: Run Trivy vulnerability scanner in rootfs mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'rootfs'
          scan-ref: 'hale-studio-linux-trivy'
          format: 'sarif'
          severity: 'CRITICAL,HIGH'
          output: 'trivy-results.sarif'

      - name: Upload Trivy SARIF report
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          sarif_file: trivy-results.sarif
