name: Windows installer

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  installer:
    # Only on main repository (don't publish on forks)
    if: github.repository_owner == 'halestudio'

    name: Build Windows installer
    runs-on: windows-latest
    steps:
      - name: Setup Maven
        uses: s4u/setup-maven-action@2f53a7669c7543a045d0bb6c92436df0c5a726f8 # v1.14.0
        with:
          java-version: 17
          java-distribution: temurin
          maven-version: 3.9.6

      - name: Build installer
        run: |
          build.bat product -o windows -a x86_64 HALE
        shell: cmd

      - name: Upload hale studio build (Installer)
        id: upload-msi
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: hale studio (Installer)
          path: build/target/*.msi
          retention-days: 90
