name: Windows installer

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  installer:
    # Only on main repository (don't publish on forks)
    if: github.repository_owner == 'halestudio'

    name: Build Windows installer
    runs-on: windows-latest
    steps:
      - name: Setup Maven
        uses: s4u/setup-maven-action@489441643219d2b93ee2a127b2402eb640a1b947 # v1.13.0
        with:
          java-version: 17
          java-distribution: temurin
          maven-version: 3.9.6

      - name: Build installer
        run: |
          build.bat product -o windows -a x86_64 HALE
        shell: cmd

      - name: Upload hale studio build (Installer)
        id: upload-msi
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: hale studio (Installer)
          path: build/target/*.msi
          retention-days: 90
